<template>
  <div :class="!$device.isMobile ? 'section cart' : 'section'">
    <div class="container">
      <MobileHeader v-if="$device.isMobile" :pageTitle="'Корзина'" :mainPage="true" />
      <div v-if="$device.isDesktop" class="desktop">
        <div class="register__breadcrumbs breadcrumbs">
          <nuxt-link class="breadcrumbs__mainPage" tag="span" to="/">Главная страница</nuxt-link>
          <span class="breadcrumbs__break"> / </span>
          <span>Корзина</span>
        </div>
        <div v-if="!productsInCart.length" class="empty-cart-desktop">
          <div class="empty-cart-desktop__body">
            <img src="@/assets/images/icons/shop_illustration.svg" alt="shop_illustration" />
            <h4>Ваша корзина пуста</h4>
          </div>
        </div>
        <div v-if="productsInCart.length" class="cart__content">
          <div class="section__title">
            <h1>Ваша корзина</h1>
            <button class="btn-outline" @click="$router.push('/catalog')">Продолжить покупки</button>
          </div>
        </div>
        <div v-if="productsInCart.length" class="cart__items">
          <div class="cart__items-title">
            <div>Продукт</div>
            <div>Цена</div>
            <div>Количество</div>
            <div>Скидка</div>
            <div>Сумма</div>
            <div></div>
          </div>
          <div v-for="item in productsInCart" :key="item.id" class="cart__item">
            <div class="cart__item-info">
              <img
                :src="item.product_image[0] ? item.product_image[0].image : require('@/assets/images/hits1.png')"
                alt="ex"
              />
              <div class="info__text">
                <h4>{{ item.name }}</h4>
              </div>
            </div>
            <div class="cart__item-price">
              <span>{{ item.price }} тг</span>
            </div>
            <div class="cart__item-counter">
              <div class="counter">
                <button class="counter__minus counter-btn" @click="countDown(item.id)">-</button>
                <div class="counter__count">{{ item.product_count }}</div>
                <button class="counter__plus counter-btn" @click="countUp(item.id)">+</button>
              </div>
            </div>
            <div class="cart__item-sale">
              <div class="sale">
                <span>-5 %</span>
              </div>
            </div>
            <div class="cart__item-total">
              <span>{{ item.price * item.product_count }} тг</span>
            </div>
            <div class="cart__item-action">
              <button class="delete-btn" @click.stop="deleteProduct(item)">
                <img src="@/assets/images/icons/delete.svg" alt="" />
              </button>
            </div>
          </div>
        </div>
        <div v-if="productsInCart.length" class="cart__payment">
          <div class="cart__payment-methods">
            <h4>Выбор способы оплаты <span>*</span></h4>
            <div class="payment__warning">
              <img src="@/assets/images/icons/warning.svg" alt="warning" />
              Оплатив сейчас онлайн, вы можете получить скидку в размере 5%
            </div>
            <div class="payment__selects">
              <div class="payment__method">
                <input
                  id="visa"
                  v-model="payment_method"
                  class="form--radio"
                  type="radio"
                  name="action"
                  value="1"
                  checked
                />
                <label for="visa">Картой Visa/MasterCard любого банка мира</label>
              </div>
              <div class="payment__method">
                <input
                  id="pickup"
                  v-model="payment_method"
                  class="form--radio"
                  type="radio"
                  name="action"
                  value="2"
                  checked
                />
                <label for="pickup">Оплата наличными</label>
              </div>
            </div>
          </div>
          <div class="cart__payment-right">
            <div class="wrapper">
              <div class="cart__payment-total">
                <h4>Итоговая сумма:</h4>
                <span>{{ productTotalPrice }} тг</span>
              </div>
              <div class="cart__payment-btn">
                <button class="btn" style="border-radius: 8px" @click="toOrder">Оформить заказ</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="$device.isMobile" class="mobile">
        <div v-if="!productsInCart.length" class="empty-cart">
          <div class="empty-cart__body">
            <img src="@/assets/images/icons/shop_illustration.svg" alt="shop_illustration" />
            <h4>Ваша корзина пуста</h4>
          </div>
        </div>
        <div class="m-cart__items">
          <div v-for="item in productsInCart" :key="item.id" class="m-cart__item">
            <div class="m-cart__item-top">
              <img :src="item.product_image[0].image" alt="example" />
              <div class="m-cart__item-text">
                <h4>{{ item.name }}</h4>
                <span>{{ item.description }}</span>
              </div>
              <div class="m-cart__item-delete" @click.stop="deleteProduct(item)">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M15.2929 4.5L15.1464 4.35355L14.4364 3.64355M15.2929 4.5L14.4364 3.64355M15.2929 4.5H15.5M15.2929 4.5H15.5M14.4364 3.64355C14.3491 3.55625 14.2159 3.5 14.09 3.5H9.91C9.78411 3.5 9.65086 3.55625 9.56355 3.64355L9.21 3.29M14.4364 3.64355L9.21 3.29M9.21 3.29L9.56355 3.64355L8.85355 4.35355L8.70711 4.5H8.5H6C5.72614 4.5 5.5 4.72614 5.5 5C5.5 5.27386 5.72614 5.5 6 5.5H18C18.2739 5.5 18.5 5.27386 18.5 5C18.5 4.72614 18.2739 4.5 18 4.5H15.5M9.21 3.29L15.5 4.5M8 20.5C7.17614 20.5 6.5 19.8239 6.5 19V9C6.5 8.17614 7.17614 7.5 8 7.5H16C16.8239 7.5 17.5 8.17614 17.5 9V19C17.5 19.8239 16.8239 20.5 16 20.5H8Z"
                    stroke="#DDAB40"
                  />
                </svg>
              </div>
            </div>
            <div class="m-cart__item-bottom">
              <p>{{ item.price * item.product_count }} ₸</p>
              <div class="m-cart__item-counter">
                <button class="m-cart__item-countBtn minus" @click="countDown(item.id)">-</button>
                <div class="m-cart__item-count">{{ item.product_count ? item.product_count : 1 }}</div>
                <button class="m-cart__item-countBtn plus" @click="countUp(item.id)">+</button>
              </div>
            </div>
          </div>
        </div>
        <div v-if="productsInCart.length" class="m-cart-total">
          <h4>{{ productTotalPrice }} ₸</h4>
          <button class="form--mobile-btn" @click="toOrdering">Оформить заказ</button>
        </div>
      </div>
    </div>

    <Modal
      v-show="showVisaModal"
      :show="showVisaModal"
      :scrollable="true"
      header-id="visaModal"
      body-id="visaModalBody"
      @close="showVisaModal = !showVisaModal"
    >
      <template #header>
        <h2>Оформление заказа</h2>
        <p>Заполните все поля, представленные ниже, чтобы оформить заказ</p>
      </template>
      <template #body>
        <span class="form-title">Выберите свой адрес</span>
        <div class="address-items">
          <div
            v-for="item in addresses"
            :key="item.id"
            class="address__item"
            :class="{ 'address__item-select': selectedAddressId === item.id }"
            @click="selectAddress(item.id)"
          >
            <div>
              <img v-if="selectedAddressId !== item.id" src="~/assets/images/icons/location.svg" alt="" />
              <img v-else src="~/assets/images/icons/location_white.svg" alt="" />
              {{ item.street }}, {{ item.house }}
            </div>
          </div>
          <div class="form--error">
            <span v-if="addressSelected" class="error-text">Выберите адрес доставки</span>
          </div>
        </div>
        <span class="form-title">Выберите способ доставки</span>
        <form class="delivery-form">
          <div class="payment__method">
            <input
              id="yandex"
              v-model="delivery_method"
              class="form--radio"
              type="radio"
              name="action"
              value="2"
              checked
            />
            <label for="yandex">Yandex</label>
          </div>
          <div class="payment__method">
            <input
              id="glovo"
              v-model="delivery_method"
              class="form--radio"
              type="radio"
              name="action"
              value="3"
              checked
            />
            <label for="glovo">Glovo</label>
          </div>
          <div class="payment__method">
            <input
              id="wolt"
              v-model="delivery_method"
              class="form--radio"
              type="radio"
              name="action"
              value="1"
              checked
            />
            <label for="wolt">Wolt</label>
          </div>
        </form>
        <div class="bonus-section">
          <span class="form-title">Использовать бонус?</span>
          <form class="bonus-form">
            <div class="payment__method">
              <input id="no" v-model="useBonus" class="form--radio" type="radio" name="action" value="2" checked />
              <label for="no">Нет</label>
            </div>
            <div class="payment__method">
              <input id="yes" v-model="useBonus" class="form--radio" type="radio" name="action" value="1" checked />
              <label for="yes">Да</label>
            </div>
          </form>
        </div>
        <button class="form--btn mt-10" @click="fetchOrder">Оплатить {{ productTotalPrice }} ₸</button>
      </template>
    </Modal>
    <Modal
      v-show="showAddAddressModal"
      :show="showAddAddressModal"
      :scrollable="true"
      header-id="visaModal"
      body-id="visaModalBody"
      @close="showAddAddressModal = !showAddAddressModal"
    >
      <template #header>
        <h2>Оформление заказа</h2>
        <p>Заполните все поля, представленные ниже, чтобы оформить заказ</p>
      </template>
      <template #body>
        <nuxt-link class="form--btn mt-10" to="/profile">Перейти</nuxt-link>
      </template>
    </Modal>
    <Modal
      v-show="showPickup"
      :show="showPickup"
      :scrollable="true"
      header-id="visaModal"
      body-id="visaModalBody"
      @close="showPickup = !showPickup"
    >
      <template #header>
        <h2>Оформление заказа</h2>
        <p>Заполните все поля, представленные ниже, чтобы оформить заказ</p>
      </template>
      <template #body>
        <span class="form-title">Точки самовызова</span>
        <form class="pickup-form my-4">
          <div class="payment__method">
            <input
              id="pickup1"
              v-model="pickup_address"
              class="form--radio"
              type="radio"
              name="action"
              value="1"
              checked
            />
            <label for="pickup1">пр. Б.Момышулы, 19а </label>
          </div>
          <div class="payment__method">
            <input
              id="pickup2"
              v-model="pickup_address"
              class="form--radio"
              type="radio"
              name="action"
              value="2"
              checked
            />
            <label for="pickup2">пр. Мәңгілік Ел, 19 (ЖК Айсанам)</label>
          </div>
        </form>
        <span class="form-title">Оплата наличными</span>
        <nuxt-link class="form--btn mt-10" to="/profile" @click="fetchOrder">Оформить заказ</nuxt-link>
      </template>
    </Modal>
  </div>
</template>

<script>
export default {
  components: {
    MobileHeader: () => import('@/components/UI/MobileHeader.vue'),
    Modal: () => import('@/components/Modal.vue'),
  },
  data() {
    return {
      payment_method: '1',
      delivery_method: '2',
      useBonus: '2',
      pickup_address: '1',
      cartData: [],
      totalPrice: 0,
      showVisaModal: false,
      showAddAddressModal: false,
      showPickup: false,
      selectedAddressId: null,
      addressSelected: false,
      addresses: [],
    }
  },
  computed: {
    productsInCart() {
      return this.$store.getters['cartModule/productsInCart']
    },
    productsIdInCart() {
      return this.$store.getters['cartModule/productsIdInCart']
    },
    hasToken() {
      return this.$store.getters['authModule/hasToken']
    },
    productTotalPrice() {
      let total = 0
      this.productsInCart.forEach((element) => {
        total += element.price * element.product_count
      })
      return total
    },
    userData() {
      return this.$store.getters['authModule/userData']
    },
  },
  mounted() {
    if (this.$device.isDesktop && this.hasToken) {
      this.$axios({
        method: 'get',
        url: `${this.$axios.defaults.baseURL}/location/my/address/`,
        headers: {
          Authorization: `Token ${sessionStorage.getItem('token')}`,
        },
      })
        .then((res) => {
          this.addresses = res.data
        })
        .catch((err) => {
          console.log(err)
        })
    }
    // this.cartData = JSON.parse(sessionStorage.getItem('cart'))
  },
  updated() {
    sessionStorage.setItem('cart', JSON.stringify(this.cartData))
  },
  methods: {
    toOrdering() {
      this.$router.push('/cart/ordering')
    },
    countDown(item) {
      this.$store.dispatch('cartModule/productCountDown', item)
    },
    countUp(item) {
      this.$store.dispatch('cartModule/productCountUp', item)
    },
    deleteProduct(item) {
      this.$store.dispatch('cartModule/deleteFromCart', item)
    },
    selectAddress(id) {
      this.selectedAddressId = id
      this.addressSelected = false
    },
    toOrder() {
      if (this.hasToken) {
        if (this.addresses.length) {
          if (this.payment_method === '1') {
            this.showVisaModal = true
          } else if (this.payment_method === '2') {
            this.showPickup = true
          }
        } else {
          this.showAddAddressModal = true
        }
      } else {
        this.$router.push('auth/login')
      }
    },

    fetchOrder() {
      if (!this.selectedAddressId) {
        this.addressSelected = true
      } else {
        const arr = []
        this.productsInCart.forEach((el) => {
          arr.push({
            id: el.id,
            count: el.product_count,
          })
        })
        this.$axios({
          method: 'post',
          url: `${this.$axios.defaults.baseURL}/order/api/`,
          data: {
            type_delivery: parseInt(this.payment_method),
            counterparty: this.userData.uid,
            products: arr,
            delivery_address: this.selectedAddressId,
          },
          headers: {
            Authorization: `Token ${sessionStorage.getItem('token')}`,
          },
        })
          .then((res) => {
            console.log(res)
          })
          .catch((err) => {
            console.log(err)
          })
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.red {
  color: red;
}
.form-title {
  color: #1c1c1c;
  font-size: 16px;
  font-weight: bold;
}
.order-form {
  display: grid;
  grid:
    'a a a a'
    'b c d e'
    'f f f f';
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  margin-top: 15px;
}
.card-form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  label {
    color: #837f7f;
    font-size: 18px;
  }
  .card-form-input {
    margin-top: 8px;
    width: 100%;
    height: 56px;
    border-radius: 4px;
    padding: 0 0 0 16px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid $border;
  }
}

.delivery-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  div {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.section {
  @include responsive(mobile) {
    padding: 60px 0 110px 0 !important;
  }
}
.section__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.bonus-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.bonus-form {
  display: flex;
  align-items: center;
  div {
    margin-left: 30px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.address-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill, 33px);
  grid-column-gap: 15px;
  padding: 10px 0;
  width: 100%;
  .address__item {
    border: 1px solid $label;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
    &-select {
      color: $white !important;
      background: $green;
      border: 1px solid $green;
    }
  }
}

.cart__items {
  &-title {
    display: grid;
    grid-template-columns: minmax(500px, 1fr) minmax(100px, 1fr) minmax(250px, 1fr) minmax(80px, 1fr) minmax(150px, 1fr) minmax(
        70px,
        1fr
      );
    border-bottom: 1px solid #ebebee;
    padding: 16px 0;
    div {
      font-size: 20px;
      color: #686868;
    }
  }
  .cart__item {
    display: grid;
    grid-template-columns: minmax(500px, 1fr) minmax(100px, 1fr) minmax(250px, 1fr) minmax(80px, 1fr) minmax(150px, 1fr) minmax(
        70px,
        1fr
      );
    padding: 16px 0;
    border-bottom: 1px solid #ebebee;
    &-info {
      display: flex;
      align-items: center;
      img {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        object-fit: cover;
      }
      .info__text {
        margin-left: 16px;
        h4 {
          font-size: 18px;
          font-weight: 600;
          color: $off-black;
        }
        p {
          color: $label;
          font-size: 16px;
        }
      }
    }
    &-price {
      align-self: center;
      span {
        font-size: 16px;
        color: $off-black;
      }
    }
    &-counter {
      align-self: center;
      .counter {
        display: flex;
        align-items: center;
        height: 40px;
        .counter-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 48px;
          height: 100%;
          border: 1px solid #e8e6e6;
          font-size: 26px;
        }
        &__minus {
          background: $white;
          border-radius: 8px 0px 0px 8px;
        }
        &__count {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 48px;
          height: 100%;
          font-size: 16px;
          background: $white;
          border-top: 1px solid #e8e6e6;
          border-bottom: 1px solid #e8e6e6;
        }
        &__plus {
          background: #f7f7f7;
          color: $green;
          border-radius: 0px 8px 8px 0px;
        }
      }
    }
    &-sale {
      display: flex;
      align-items: center;
      .sale {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        background: #f0f0f0;
        padding: 5px 13px;
        span {
          font-weight: 600;
          color: #08457e;
          font-size: 16px;
        }
      }
    }
    &-total {
      align-self: center;
      span {
        font-size: 16px;
        color: $off-black;
      }
    }
    &-action {
      display: flex;
      align-items: center;
      .delete-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $green;
        border-radius: 4px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        img {
          width: 17px;
          height: 17px;
        }
      }
    }
  }
}

.cart__payment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  &-methods {
    h4 {
      font-size: 22px;
      font-weight: 700;
      span {
        color: red;
      }
    }
    .payment__warning {
      display: flex;
      align-items: center;
      padding: 14px 12px;
      margin-top: 12px;
      color: #31313e;
      font-size: 14px;
      font-weight: 600;
      background: #f8f8f8;
      border-left: 4px solid $gold;
      img {
        margin-right: 9px;
      }
    }
    .payment__selects {
      display: flex;
      flex-direction: column;
      margin-top: 24px;
      .payment__method {
        margin-top: 20px;
        label {
          font-size: 20px;
          color: #222331;
        }
      }
      .payment__method:nth-child(1) {
        margin-top: 0;
      }
    }
  }
  &-right {
    display: flex;
    justify-content: flex-end;
    .wrapper {
      min-width: 350px;
      .cart__payment-total {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h4 {
          font-size: 26px;
          font-weight: 700;
        }
        span {
          font-size: 26px;
          font-weight: 700;
        }
      }
      .cart__payment-btn {
        display: flex;
        justify-content: flex-end;
        margin-top: 32px;
      }
    }
  }
}

.m-cart {
  &__items {
    margin-top: 10px;
  }
  &__item {
    padding: 16px 0;
    border-bottom: 1px solid #ececec;
    h4 {
      margin-bottom: 4px;
      font-size: 16px;
    }
    &-top {
      display: flex;
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
      }
    }
    &-text {
      span {
        font-size: 13px;
        color: #717171;
      }
      p {
        display: inline-block;
        margin-top: 8px;
        font-size: 16px;
        font-weight: 600;
      }
    }
    &-delete {
      display: flex;
      justify-content: flex-end;
      flex: 0 0 40px;
    }
    &-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 8px;
      p {
        margin-bottom: 0;
        font-weight: 600;
        font-size: 18px;
      }
    }
    &-counter {
      display: flex;
      border-radius: 4px;
      overflow: hidden;
      border: 1px solid #ececec;
    }
    &-countBtn {
      height: 40px;
      width: 40px;
    }
    .minus {
      border-right: 1px solid #ececec;
      color: $green;
      font-size: 20px;
    }
    .plus {
      border-left: 1px solid #ececec;
      background: $green;
      color: $white;
      font-size: 20px;
    }
    &-count {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      font-weight: 600;
    }
  }
}

.m-cart-total {
  position: fixed;
  bottom: 53px;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 16px;
  background: $white;
  z-index: 215;
  -webkit-box-shadow: 0px -4px 5px -4px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px -4px 5px -4px rgba(34, 60, 80, 0.2);
  box-shadow: 0px -4px 5px -4px rgba(34, 60, 80, 0.2);
  h4 {
    font-size: 16px;
  }
  .form--mobile-btn {
    height: 36px;
    max-width: 180px;
    padding: 0 16px;
  }
}

.empty-cart-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 122px;
      height: 170px;
    }
    h4 {
      font-size: 24px;
      line-height: 16px;
      margin-top: 20px;
    }
  }
}

.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 122px;
      height: 170px;
    }
    h4 {
      font-size: 20px;
      line-height: 16px;
      margin-top: 20px;
    }
  }
}
</style>
