<template>
  <div class="ordering-section">
    <MobileHeader v-if="$device.isMobile" :pageTitle="'Оформления'" :btnAction="previousStep" :mainPage="false" />
    <SuccessModal
      v-if="formModal.success.status"
      :successMessage="formModal.success.msgTxt"
      :btnText="formModal.success.btnTxt"
      @actionSuccessModal="successModalAction"
    />
    <ErrorModal
      v-if="formModal.error.status"
      :errorMessage="formModal.error.msgTxt"
      :btnText="'Попробовать снова'"
      @actionErrorModal="formModal.error.status = false"
    />
    <div class="ordering__content">
      <span>Содержание заказа</span>
      <div class="ordering__content-items">
        <div v-for="item in productsInCart" :key="item.id" class="ordering__content-item">
          <p>
            <span>{{ item.product_count }}х</span> {{ item.name }}
          </p>
          <span>{{ item.price * item.product_count }} ₸</span>
        </div>
        <div class="ordering__content-total">
          <p>Итог:</p>
          <span>{{ productTotalPrice }} ₸</span>
        </div>
      </div>
    </div>
    <div class="ordering__details">
      <div class="form--group">
        <span class="custom-select__label">Способ доставки</span>
        <CustomSelect
          class="custom-select__input"
          :placeholder="'Не выбрано'"
          :options="deliveryMethodData"
          :notObject="true"
          @input="deliveryMethodSelected"
        />
      </div>
      <transition name="slide-down">
        <div v-if="deliveryMethod === 0" class="payment__cards">
          <span>Точки самовызова</span>
          <div class="payment__card">
            <input id="12" class="form--radio" type="radio" name="aaaaa" value="as" checked />
            <label for="12">пр. Б.Момышулы, 19а </label>
          </div>
          <div class="payment__card">
            <input id="13" class="form--radio" type="radio" name="aaaaa" value="fsdf" checked />
            <label for="13">пр. Мәңгілік Ел, 19 (ЖК Айсанам)</label>
          </div>
        </div>
      </transition>
      <div v-if="userData.role === 1" class="form--group" style="margin-top: 16px">
        <span class="custom-select__label">Способ оплаты</span>
        <CustomSelect
          class="custom-select__input"
          :placeholder="'Не выбрано'"
          :options="paymentMethodData"
          :notObject="true"
          @input="paymentMethodSelected"
        />
      </div>
      <div v-else class="form--group" style="margin-top: 16px">
        <span class="custom-select__label">Способ оплаты</span>
        <div class="custom-select__input">
          <span>Доставка осуществляется с помощью курьера от Galleon</span>
        </div>
      </div>
      <transition name="slide-down">
        <div v-if="paymentMethod === 1" class="payment__cards">
          <span>Привязанные карты</span>
          <div class="payment__card">
            <input id="1" class="form--radio" type="radio" name="action" value="master" checked />
            <label for="1">MasterCard, *5588</label>
          </div>
          <div class="payment__card">
            <input id="2" class="form--radio" type="radio" name="action" value="visa" checked />
            <label for="2">Visa, *8914</label>
          </div>
        </div>
      </transition>
      <div class="ordering__useBonus">
        <p>Бонусы: 24 ₸</p>
        <div class="ordering__useBonus-item">
          <span>Использовать бонусы</span>
          <SwitchBox />
        </div>
      </div>
      <div class="form--group">
        <span class="custom-select__label">Дополнительные комментарии</span>
        <textarea style="margin-top: 8px; height: 90px" type="text"></textarea>
      </div>
    </div>
    <div class="m-cart-total">
      <button class="form--mobile-btn" @click.prevent="sendOrder">Оплатить {{ productTotalPrice }} ₸</button>
    </div>
    <Modal
      v-show="showSelectAddress"
      :show="showSelectAddress"
      :scrollable="true"
      header-id="visaModal"
      body-id="visaModalBody"
      @close="showSelectAddress = !showSelectAddress"
    >
      <template #header></template>
      <template #body>
        <span class="form-title">Выберите адрес доставки</span>
        <form class="address-form my-4">
          <div v-for="item in addresses" :key="item.id" class="payment__method">
            <input
              :id="item.id"
              v-model="deliveryAddressId"
              class="form--radio"
              type="radio"
              name="action"
              :value="item.id"
            />
            <label :for="item.id">{{ item.street }}, {{ item.house }}</label>
          </div>
        </form>
        <div class="form_buttons">
          <button style="background: #fff; border: none" @click.stop="showSelectAddress = false">Отменить</button>
          <button style="background: #fff; border: none" @click.stop="fetchOrder">Подтвердить</button>
        </div>
      </template>
    </Modal>
  </div>
</template>

<script>
export default {
  components: {
    MobileHeader: () => import('@/components/UI/MobileHeader.vue'),
    CustomSelect: () => import('@/components/shared/CustomSelect.vue'),
    SwitchBox: () => import('@/components/shared/SwitchBox.vue'),
    SuccessModal: () => import('~/components/SuccessModal.vue'),
    ErrorModal: () => import('~/components/ErrorModal.vue'),
    Modal: () => import('@/components/Modal.vue'),
  },
  data() {
    return {
      viewWidth: '',
      showSelectAddress: false,
      deliveryMethod: null,
      paymentMethod: null,
      deliveryAddressId: '',
      addresses: [],
      deliveryMethodData: [
        { id: 0, name: 'Самовызов' },
        { id: 1, name: 'Yandex' },
        { id: 2, name: 'Glovo' },
        { id: 3, name: 'Wolt' },
      ],
      paymentMethodData: [
        { id: 0, name: 'Оплата наличными' },
        { id: 1, name: 'Картой Visa/MasterCard ' },
        { id: 2, name: 'Оплата в системе Kaspi.kz' },
      ],
      formModal: {
        success: {},
        error: {},
      },
    }
  },
  computed: {
    productsInCart() {
      return this.$store.getters['cartModule/productsInCart']
    },
    productTotalPrice() {
      let total = 0
      this.productsInCart.forEach((element) => {
        total += element.price * element.product_count
      })
      return total
    },
    userData() {
      return this.$store.getters['authModule/userData']
    },
  },
  mounted() {
    this.$axios({
      method: 'get',
      url: `${this.$axios.defaults.baseURL}/location/my/address/`,
      headers: {
        Authorization: `Token ${sessionStorage.getItem('token')}`,
      },
    })
      .then((res) => {
        this.addresses = res.data
        this.deliveryAddressId = res.data[0].id
      })
      .catch((err) => {
        console.log(err)
      })
  },
  methods: {
    deliveryMethodSelected(el) {
      this.deliveryMethod = el.id
    },
    paymentMethodSelected(el) {
      this.paymentMethod = el.id
    },
    successModalAction() {
      this.$router.push('/catalog')
    },
    previousStep() {
      return this.$router.go(-1)
    },
    sendOrder() {
      this.showSelectAddress = true
    },
    fetchOrder() {
      this.showSelectAddress = false
      const arr = []
      this.productsInCart.forEach((el) => {
        arr.push({
          id: el.id,
          count: el.product_count,
        })
      })
      this.$axios({
        method: 'post',
        url: `${this.$axios.defaults.baseURL}/order/api/`,
        data: {
          type_delivery: 1,
          counterparty: this.userData.uid,
          delivery_address: this.deliveryAddressId,
          products: arr,
        },
        headers: {
          Authorization: `Token ${sessionStorage.getItem('token')}`,
        },
      })
        .then((res) => {
          if (res.data.status === 'ok') {
            this.formModal.success = {
              status: true,
              msgTxt: 'Заказ принят!',
              btnTxt: 'Перейти в главную',
            }
            this.$store.dispatch('cartModule/clearCart')
          } else {
            this.formModal.error = {
              status: true,
              msgTxt: res.data,
            }
          }
        })
        .catch((err) => {
          this.formModal.error = {
            status: true,
            msgText: err.data,
          }
        })
    },
  },
}
</script>

<style lang="scss" scoped>
.form-title {
  color: #1c1c1c;
  font-size: 16px;
  font-weight: bold;
}
.form_buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  button {
    font-weight: bold;
    font-size: 16px;
    color: $green;
    &:first-child {
      margin-right: 30px;
    }
  }
}
.ordering-section {
  margin-top: 55px;
  padding-bottom: 130px;
}
.ordering__content {
  padding: 20px 16px;
  background: #eef3f1;
  border-radius: 0px 0px 16px 16px;
  &-items {
    margin-top: 8px;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    p {
      span {
        font-weight: 600;
      }
    }
  }
  &-total {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    padding: 4px 0;
  }
}

.ordering__details {
  margin-top: 20px;
  padding: 0 16px;
}

.ordering__useBonus {
  margin-top: 16px;
  p {
    font-weight: 600;
    font-size: 16px;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
  }
}

.payment__cards {
  margin-top: 16px;
  span {
    font-size: 16px;
    font-weight: 600;
  }
  .payment__card {
    padding: 12px 0;
    label::before {
      margin-right: 20px !important;
    }
  }
}

.m-cart-total {
  position: fixed;
  bottom: 56px;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 16px;
  background: $white;
  z-index: 215;
  -webkit-box-shadow: 0px -4px 5px -4px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px -4px 5px -4px rgba(34, 60, 80, 0.2);
  box-shadow: 0px -4px 5px -4px rgba(34, 60, 80, 0.2);
  .form--mobile-btn {
    height: 36px;
    padding: 0 16px;
  }
}
</style>
