<template>
  <div class="custom-select">
    <div v-if="disabled" :class="disabled ? 'selected disabled' : 'selected'">
      <span>{{ selected ? selected : defaultValue }}</span>
      <!-- <img :src="require('~/assets/icons/chevron.svg')" alt="" /> -->
    </div>
    <div v-else :class="disabled ? 'selected disabled' : 'selected'" @click.stop="openModal">
      <span>{{ selected ? selected : defaultValue }}</span>
    </div>
    <div class="items">
      <v-dialog
        v-model="selectedHide"
        transition="dialog-bottom-transition"
        max-width="600"
        :content-class="modalClass ? modalClass : 'selectDialog'"
      >
        <div>
          <div class="modal-title">
            <span>{{ modalTitle }}</span>
          </div>
          <div class="request-list">
            <a
              v-for="(option, index) in options"
              :key="index"
              :class="selected === option ? 'selected-item' : 'item'"
              @click.prevent.stop="
                selected = option.name
                selectedHide = false
                $emit('input', option)
              "
              >{{ option.name }}</a
            >
          </div>
        </div>
      </v-dialog>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    modalTitle: {
      type: String,
      reqired: true,
    },
    options: {
      type: Array,
      required: true,
    },
    defaultValue: {
      type: String,
      default: '',
    },
    modalClass: {
      type: String,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      selectedHide: false,
      selected: null,
    }
  },
  methods: {
    openModal() {
      console.log(68)
      this.selectedHide = true
    },
    closeModal() {
      this.selectedHide = false
    },
  },
}
</script>

<style lang="scss">
.custom-select {
  position: relative;
  width: 100%;
  text-align: left;
  outline: none;
  height: 48px;
  margin-top: 10px;
}

.custom-select .selected {
  display: flex;
  align-items: center;
  background: $white;
  border: 1px solid $border;
  border-radius: 4px;
  height: 48px;
  color: $off-black;
  padding: 0 1.5em 0 1em;
  cursor: pointer;
  user-select: none;
  position: relative;
  font-size: 16px;
  span {
    font-size: 16px;
  }
}

.custom-select .selected.disabled {
  background: #f0f0f0;
}

.request-list {
  display: flex;
  flex-direction: column;
  padding: 0 1.5em 1em 1em;
}

.selected-item {
  color: red;
  font-weight: 600;
}

.item {
  display: inline-block;
  color: $off-black !important;
  padding: 10px 0;
  font-weight: 500;
}

.modal-title {
  padding: 20px 0 15px 20px;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  font-weight: bold;
}
.v-dialog.selectDialog {
  align-items: unset !important;
  position: fixed !important;
  bottom: calc(env(safe-area-inset-bottom, -53px) + 53px) !important;
  margin: 0;
  padding: 0;
  border-radius: 20px 20px 0px 0px;
  background: #fff;
}
.v-dialog.withoutEnv {
  align-items: unset !important;
  position: fixed !important;
  bottom: 0;
  margin: 0;
  padding: 0;
  border-radius: 20px 20px 0px 0px;
  background: #fff;
}

.v-dialog.desktopModal {
  align-items: unset !important;
  position: fixed !important;
  // bottom: 0;
  margin: 0;
  padding: 0;
  border-radius: 20px;
  background: #fff;
}
</style>
