<template>
  <div class="custom-select" :tabindex="tabindex" @blur="open = false">
    <div class="selected" :class="{ open: open }" @click="open = !open">
      <span>{{ selected ? selected : placeholder }}</span>
      <img :src="require('~/assets/images/icons/chevron.svg')" alt="" />
    </div>
    <div class="items" :class="{ selectHide: !open }">
      <div
        v-for="(option, index) of options"
        :key="index"
        :class="selected === option.name ? 'selected-item' : ''"
        @click="
          selected = option.name
          open = false
          $emit('input', option)
        "
      >
        <span>
          {{ option.name }}
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    options: {
      type: Array,
      required: true,
    },
    tabindex: {
      type: Number,
      required: false,
      default: 0,
    },
    placeholder: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      selected: '',
      open: false,
    }
  },
  mounted() {
    this.$emit('input', this.selected)
  },
}
</script>

<style lang="scss" scoped>
.custom-select {
  position: relative;
  width: 100%;
  text-align: left;
  outline: none;
  height: 56px;
}

.custom-select .selected {
  display: flex;
  align-items: center;
  background-color: $white;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  height: 56px;
  color: $black;
  padding: 0 1.5em 0 1em;
  cursor: pointer;
  user-select: none;
  position: relative;
  font-size: 16px;
  img {
    position: absolute;
    right: 10px;
    top: 13px;
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
    transition: transform 0.3s ease-in;
  }
}

.custom-select .selected.open {
  border: 1px solid $gold;
  border-radius: 6px 6px 0px 0px;
  img {
    transform: rotate(270deg);
    transition: transform 0.3s ease-out;
  }
}

.custom-select .items {
  color: $black;
  border-radius: 0px 0px 4px 4px;
  overflow-y: auto;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  position: absolute;
  background-color: $white;
  max-height: 300px;
  left: 0;
  right: 0;
  z-index: 1;
}

.custom-select .items div {
  padding: 1em;
  cursor: pointer;
  user-select: none;
  span {
    font-size: 16px;
    color: $black;
    line-height: 20px;
  }
}

.custom-select .items .selected-item {
  color: $gold;
  font-weight: 600;
  background: #eef3f1;
}
.selectHide {
  display: none;
}
</style>
