<template>
  <div class="custom-select" @blur="open = false">
    <div class="selected" :class="{ open: open }" @click="open = !open">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M7.29018 6.99995C7.74018 6.99995 7.96019 6.45995 7.64018 6.14995L5.35018 3.84995C5.15018 3.64995 4.84018 3.64995 4.64018 3.84995L2.35018 6.14995C2.04018 6.45995 2.26018 6.99995 2.71018 6.99995H4.00018V17H2.71018C2.26018 17 2.04018 17.54 2.36018 17.85L4.65018 20.1399C4.85018 20.34 5.16018 20.34 5.36018 20.1399L7.65019 17.85C7.96019 17.54 7.74018 17 7.29018 17H6.00018V6.99995H7.29018ZM11.0002 6.99995H21.0002C21.5502 6.99995 22.0002 6.54995 22.0002 5.99995C22.0002 5.44995 21.5502 4.99995 21.0002 4.99995H11.0002C10.4502 4.99995 10.0002 5.44995 10.0002 5.99995C10.0002 6.54995 10.4502 6.99995 11.0002 6.99995ZM21.0002 17H11.0002C10.4502 17 10.0002 17.45 10.0002 18C10.0002 18.55 10.4502 19 11.0002 19H21.0002C21.5502 19 22.0002 18.55 22.0002 18C22.0002 17.45 21.5502 17 21.0002 17ZM21.0002 11H11.0002C10.4502 11 10.0002 11.45 10.0002 12C10.0002 12.55 10.4502 13 11.0002 13H21.0002C21.5502 13 22.0002 12.55 22.0002 12C22.0002 11.45 21.5502 11 21.0002 11Z"
          fill="black"
          fill-opacity="0.6"
        />
      </svg>
      <span>{{ selected ? selected : placeholder }}</span>
    </div>
    <div class="items" :class="{ selectHide: !open }">
      <div
        v-for="(option, index) of options"
        :key="index"
        :class="selected === option.name ? 'selected-item' : ''"
        @click="
          selected = option.name
          open = false
          $emit('input', option)
        "
      >
        <span>
          {{ option.name }}
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    options: {
      type: Array,
      required: true,
    },
    placeholder: {
      type: String,
      default: null,
    },
    notObject: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      selected: '',
      open: false,
    }
  },
  mounted() {
    this.$emit('input', this.selected)
  },
}
</script>

<style lang="scss" scoped>
.custom-select {
  position: relative;
  width: 80%;
  text-align: left;
  outline: none;
  height: 56px;
}

.custom-select .selected {
  display: flex;
  align-items: center;
  background-color: $white;
  border-radius: 4px;
  height: 45px;
  color: $black;
  padding: 0 1.5em 0 1em;
  cursor: pointer;
  user-select: none;
  position: relative;
  font-size: 16px;
  outline: none;
  svg {
    margin-right: 16px;
  }
}

.custom-select .selected.open {
  border-radius: 6px 6px 0px 0px;
  outline: none;
  img {
    transform: rotate(270deg);
    transition: transform 0.3s ease-out;
  }
}

.custom-select .items {
  color: $black;
  border-radius: 0px 0px 4px 4px;
  overflow-y: auto;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  position: absolute;
  background-color: $white;
  max-height: 300px;
  left: 0;
  right: 0;
  z-index: 1;
}

.custom-select .items div {
  padding: 1em;
  cursor: pointer;
  user-select: none;
  span {
    font-size: 16px;
    color: $black;
    line-height: 20px;
  }
}

.custom-select .items .selected-item {
  color: $gold;
  font-weight: 600;
  background: #eef3f1;
}
.selectHide {
  display: none;
}
</style>
