<template>
  <div class="loader">
    <div class="logo">
      <img src="@/assets/images/logo.png" alt="logo" />
      <lottie-player
        src="https://assets5.lottiefiles.com/packages/lf20_ydvpsio3.json"
        background="transparent"
        speed="1"
        style="width: 140px; height: 140px"
        loop
        autoplay
      ></lottie-player>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background: white;
  @include responsive(extra) {
    background: white;
    position: fixed;
  }
  position: fixed;
  z-index: 99999;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    @include responsive(mobile) {
      width: 100px;
      height: 100px;
    }
  }
}
</style>
