<template>
  <label class="switch">
    <input type="checkbox" />
    <span class="slider round"></span>
  </label>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 15px;
  margin-right: 3px;
  outline: none;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  outline: none !important;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: -1px;
  top: -3px;
  background-color: #e6e6e6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  outline: none;
}

input:checked + .slider {
  background: #ecd8ad;
  outline: none;
}

input:focus + .slider {
  outline: none !important;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  background: $gold;
  outline: none;
}

.slider.round {
  border-radius: 34px;
  outline: none;
}

.slider.round:before {
  border-radius: 50%;
  outline: none;
}
</style>
