<template>
  <section class="section register">
    <div class="container">
      <div class="register__wrapper">
        <div class="register__breadcrumbs breadcrumbs">
          <nuxt-link class="breadcrumbs__mainPage" tag="span" to="/">Главная страница</nuxt-link>
          <span class="breadcrumbs__break"> / </span>
          <span>Регистрация</span>
        </div>
        <div class="register__content">
          <div class="register__form-title form--title">
            <h1>Регистрация</h1>
            <p>Установите пароль для вашего аккаунта</p>
          </div>
          <form class="register__form" @submit.prevent="createPassword">
            <div id="password" class="form--group">
              <input
                v-model="$v.form.password.$model"
                type="password"
                class="form--input"
                :class="{ 'form-group--error': $v.form.password.$error }"
                placeholder="Придумайте пароль"
              />
            </div>
            <div id="password" class="form--error">
              <span v-if="!$v.form.password.required && $v.form.password.$dirty">Обязательное поле</span>
              <span v-else-if="!$v.form.password.minLength && $v.form.password.$dirty"
                >Длина пароля должна быть от 8 до 30 символов</span
              >
            </div>

            <div id="password2" class="form--group">
              <input
                v-model="$v.form.password2.$model"
                type="password"
                class="form--input"
                :class="{ 'form-group--error': $v.form.password2.$error }"
                placeholder="Повторите пароль"
              />
            </div>
            <div id="password2" class="form--error">
              <span v-if="!$v.form.password2.required && $v.form.password2.$dirty">Обязательное поле</span>
              <span v-else-if="!$v.form.password2.minLength && $v.form.password2.$dirty"
                >Длина пароля должна быть от 8 до 30 символов</span
              >
              <span v-else-if="!$v.form.password2.sameAs && $v.form.password2.$dirty">Пароли должны совподать</span>
            </div>

            <div class="form--group register-btn--group">
              <button type="submit" class="form--btn">Зарегистрироваться</button>
            </div>

            <div class="login__register">
              <p>Есть учетная запись? <nuxt-link tag="span" to="/login">Войти</nuxt-link></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { required, minLength, sameAs } from 'vuelidate/lib/validators'
// import Modal from '@/components/Modal.vue'
export default {
  components: {
    // Modal,
  },
  data() {
    return {
      isShowModal: false,
      form: {
        password: '',
        password2: '',
      },
    }
  },
  validations: {
    form: {
      password: {
        required,
        minLength: minLength(8),
      },
      password2: {
        required,
        minLength: minLength(8),
        sameAs: sameAs('password'),
      },
    },
  },
  methods: {
    createPassword() {
      this.$v.form.$touch()
      if (this.$v.form.$error) {
        console.log('Error')
      } else {
        console.log('Success')
      }
    },
    toggleModal() {
      this.isShowModal = !this.isShowModal
    },
  },
}
</script>

<style lang="scss" scoped>
.register {
  padding-bottom: 144px !important;
}

.register__content {
  max-width: 470px;
  margin: 52px auto 0 auto;
}

.register__form-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin-top: 12px;
    text-align: center;
    color: #767785;
    font-size: 15px;
  }
}

.register__form-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-top: 24px;
}

.legal,
.fiz {
  label {
    font-size: 16px;
    color: #222331;
    margin-left: 10px;
  }
}

.register-btn--group {
  margin-top: 40px;
}

.login__register {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  color: #767785;
  span {
    font-weight: 600;
    cursor: pointer;
  }
}
</style>
