<template>
  <section class="section register">
    <ErrorModal
      v-if="formModal.error"
      :errorMessage="formModal.errorMsg"
      :btnText="formModal.btnMsg"
      @actionErrorModal="formModal.error = false"
    />
    <div class="close-bar" @click.stop="previousStep">
      <img :src="require('~/assets/images/icons/chevron.svg')" alt="" />
      <span>Вернуться назад</span>
    </div>
    <div class="container">
      <div v-if="!$device.isMobile" class="desktop">
        <div class="register__wrapper">
          <div class="register__breadcrumbs breadcrumbs">
            <nuxt-link class="breadcrumbs__mainPage" tag="span" to="/">Главная страница</nuxt-link>
            <span class="breadcrumbs__break"> / </span>
            <span>Регистрация</span>
          </div>
          <div class="register__content">
            <div class="register__form-title form--title">
              <h1>Регистрация</h1>
              <p>Если Вы не являетесь владельцем организации или магазина, нажмите “Физическое лицо”</p>
            </div>
            <v-stepper v-model="registerDesktopStepper">
              <v-stepper-items>
                <v-stepper-content step="1">
                  <form style="margin-top: 30px" @submit.prevent="toVerify">
                    <div class="form--group phone-input">
                      <label for="floor">Номер телефона</label>
                      <the-mask
                        id="phone"
                        v-model="phoneValue"
                        type="text"
                        :mask="['+#(###)-###-##-##', '+#(###)-###-##-##']"
                        class="form--mobile-input"
                      />
                    </div>
                    <div id="phone" class="form--error">
                      <span v-if="!$v.phoneValue.required && $v.phoneValue.$dirty">Обязательное поле</span>
                    </div>
                    <div class="form--group register-btn--group">
                      <button type="submit" class="form--btn">
                        {{ !load ? 'Отправить код' : 'Ожидание' }}
                        <img v-if="load" src="~/assets/loader.svg" alt="loader" />
                      </button>
                    </div>
                    <div class="login__register">
                      <p>Есть учетная запись? <nuxt-link tag="span" to="/login">Войти</nuxt-link></p>
                    </div>
                  </form>
                </v-stepper-content>
                <v-stepper-content step="2">
                  <div class="register__form-type">
                    <div class="fiz">
                      <input id="fiz" v-model="form_type" class="form--radio" type="radio" name="action" value="1" />
                      <label for="fiz">Физическое лицо</label>
                    </div>
                    <div class="legal">
                      <input
                        id="legal"
                        v-model="form_type"
                        type="radio"
                        name="action"
                        value="2"
                        class="form--radio"
                        checked
                      />
                      <label for="legal">Юридическое лицо</label>
                    </div>
                  </div>
                  <template v-if="form_type == '2'" class="legal-form">
                    <form class="register__form" @submit.prevent="toCreatePasswordDesktop">
                      <div class="form--group regsiter__form-input">
                        <label for="country">Страна</label>
                        <CustomMobileSelect
                          :modalClass="'desktopModal'"
                          :modalTitle="'Страна'"
                          :options="countryOptions"
                          @input="countrySelected"
                        />
                      </div>
                      <div id="country" class="form--error">
                        <span v-if="!$v.form2.country.required && $v.form2.country.$dirty">Обязательное поле</span>
                      </div>

                      <div class="form--group regsiter__form-input">
                        <label for="city">Город</label>
                        <CustomMobileSelect
                          :modalClass="'desktopModal'"
                          :modalTitle="'Город'"
                          :options="cityOptions"
                          @input="citySelected"
                        />
                      </div>
                      <div id="city" class="form--error">
                        <span v-if="!$v.form2.city.required && $v.form2.city.$dirty">Обязательное поле</span>
                      </div>

                      <div id="iin" class="form--group">
                        <label>БИН/ИИН организации</label>
                        <input v-model="$v.form2.iin.$model" type="text" class="form--input" />
                      </div>
                      <div id="iin" class="form--error">
                        <span v-if="!$v.form2.iin.required && $v.form2.iin.$dirty">Обязательное поле</span>
                      </div>

                      <div id="companyName" class="form--group">
                        <label>Юридическое название</label>
                        <input v-model="$v.form2.companyName.$model" type="text" class="form--input" />
                      </div>
                      <div id="companyName" class="form--error">
                        <span v-if="!$v.form2.companyName.required && $v.form2.companyName.$dirty"
                          >Обязательное поле</span
                        >
                      </div>

                      <div class="form--group register-btn--group">
                        <button type="submit" class="form--btn">Продолжить</button>
                      </div>
                    </form>
                  </template>

                  <template v-else class="fiz-form">
                    <form class="register__form" @submit.prevent="toCreatePasswordDesktop">
                      <div class="form--group regsiter__form-input">
                        <label for="country">Страна</label>
                        <CustomMobileSelect
                          :modalClass="'desktopModal'"
                          :modalTitle="'Страна'"
                          :options="countryOptions"
                          @input="countrySelected"
                        />
                      </div>
                      <div id="country" class="form--error">
                        <span v-if="!$v.form.country.required && $v.form.country.$dirty">Обязательное поле</span>
                      </div>

                      <div class="form--group regsiter__form-input">
                        <label for="city">Город</label>
                        <CustomMobileSelect
                          :modalClass="'desktopModal'"
                          :modalTitle="'Город'"
                          :options="cityOptions"
                          @input="citySelected"
                        />
                      </div>
                      <div id="city" class="form--error">
                        <span v-if="!$v.form.city.required && $v.form.city.$dirty">Обязательное поле</span>
                      </div>

                      <div id="fullname" class="form--group">
                        <label>ФИО</label>
                        <input v-model="$v.form.fullname.$model" type="text" class="form--input" />
                      </div>
                      <div id="fullname" class="form--error">
                        <span v-if="!$v.form.fullname.required && $v.form.fullname.$dirty">Обязательное поле</span>
                      </div>
                      <div class="form--group register-btn--group">
                        <button type="submit" class="form--btn">Продолжить</button>
                      </div>
                    </form>
                  </template>
                </v-stepper-content>
                <v-stepper-content step="3">
                  <form class="register__form">
                    <div id="password" class="form--group">
                      <label>Придумайте пароль</label>
                      <input
                        v-model="$v.formPassword.password.$model"
                        :type="passwordShow ? 'text' : 'password'"
                        class="form--input"
                        :class="{ 'form-group--error': $v.formPassword.password.$error }"
                      />
                      <div class="form--password-visible" @click="passwordShow = !passwordShow">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M12 7C14.76 7 17 9.24 17 12C17 12.65 16.87 13.26 16.64 13.83L19.56 16.75C21.07 15.49 22.26 13.86 22.99 12C21.26 7.61 16.99 4.5 11.99 4.5C10.59 4.5 9.25 4.75 8.01 5.2L10.17 7.36C10.74 7.13 11.35 7 12 7ZM2 4.27L4.28 6.55L4.74 7.01C3.08 8.3 1.78 10.02 1 12C2.73 16.39 7 19.5 12 19.5C13.55 19.5 15.03 19.2 16.38 18.66L16.8 19.08L19.73 22L21 20.73L3.27 3L2 4.27ZM7.53 9.8L9.08 11.35C9.03 11.56 9 11.78 9 12C9 13.66 10.34 15 12 15C12.22 15 12.44 14.97 12.65 14.92L14.2 16.47C13.53 16.8 12.79 17 12 17C9.24 17 7 14.76 7 12C7 11.21 7.2 10.47 7.53 9.8ZM11.84 9.02L14.99 12.17L15.01 12.01C15.01 10.35 13.67 9.01 12.01 9.01L11.84 9.02Z"
                            fill="#9B9B9B"
                          />
                        </svg>
                      </div>
                    </div>
                    <div id="password" class="form--error">
                      <span v-if="!$v.formPassword.password.required && $v.formPassword.password.$dirty"
                        >Обязательное поле</span
                      >
                      <span v-else-if="!$v.formPassword.password.minLength && $v.formPassword.password.$dirty"
                        >Длина пароля должна быть от 8 до 30 символов</span
                      >
                    </div>

                    <div id="password2" class="form--group">
                      <label>Повторите пароль</label>
                      <input
                        v-model="$v.formPassword.confrimPassword.$model"
                        :type="confrimPasswordShow ? 'text' : 'password'"
                        class="form--input"
                        :class="{ 'form-group--error': $v.formPassword.confrimPassword.$error }"
                      />
                      <div class="form--password-visible" @click="confrimPasswordShow = !confrimPasswordShow">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M12 7C14.76 7 17 9.24 17 12C17 12.65 16.87 13.26 16.64 13.83L19.56 16.75C21.07 15.49 22.26 13.86 22.99 12C21.26 7.61 16.99 4.5 11.99 4.5C10.59 4.5 9.25 4.75 8.01 5.2L10.17 7.36C10.74 7.13 11.35 7 12 7ZM2 4.27L4.28 6.55L4.74 7.01C3.08 8.3 1.78 10.02 1 12C2.73 16.39 7 19.5 12 19.5C13.55 19.5 15.03 19.2 16.38 18.66L16.8 19.08L19.73 22L21 20.73L3.27 3L2 4.27ZM7.53 9.8L9.08 11.35C9.03 11.56 9 11.78 9 12C9 13.66 10.34 15 12 15C12.22 15 12.44 14.97 12.65 14.92L14.2 16.47C13.53 16.8 12.79 17 12 17C9.24 17 7 14.76 7 12C7 11.21 7.2 10.47 7.53 9.8ZM11.84 9.02L14.99 12.17L15.01 12.01C15.01 10.35 13.67 9.01 12.01 9.01L11.84 9.02Z"
                            fill="#9B9B9B"
                          />
                        </svg>
                      </div>
                    </div>
                    <div id="password2" class="form--error">
                      <span v-if="!$v.formPassword.confrimPassword.required && $v.formPassword.confrimPassword.$dirty"
                        >Обязательное поле</span
                      >
                      <span
                        v-else-if="!$v.formPassword.confrimPassword.minLength && $v.formPassword.confrimPassword.$dirty"
                        >Длина пароля должна быть от 8 до 30 символов</span
                      >
                      <span
                        v-else-if="!$v.formPassword.confrimPassword.sameAs && $v.formPassword.confrimPassword.$dirty"
                        >Пароли должны совподать</span
                      >
                    </div>

                    <div class="form--group register-btn--group">
                      <button type="submit" class="form--btn" @click.prevent="toLogin">
                        {{ !load ? 'Зарегистрироваться' : 'Ожидание' }}
                        <img v-if="load" src="~/assets/loader.svg" alt="loader" />
                      </button>
                    </div>
                  </form>
                </v-stepper-content>
              </v-stepper-items>
            </v-stepper>
          </div>
        </div>
      </div>
      <div v-if="$device.isMobile" class="mobile">
        <v-stepper v-model="registerStepper">
          <v-stepper-items>
            <v-stepper-content step="1">
              <div class="register__Step1 register__step">
                <h4>Регистрация</h4>
                <span>Введите номер телефона, чтобы отправить код верификации</span>
                <div class="form--group phone-input">
                  <label for="floor">Номер телефона</label>
                  <the-mask
                    id="phone"
                    v-model="phoneValue"
                    type="text"
                    :mask="['+#(###)-###-##-##', '+#(###)-###-##-##']"
                    placeholder="+7(___) ___-__-__"
                    class="form--mobile-input"
                  />
                </div>
                <div id="phone" class="form--error">
                  <span v-if="!$v.phoneValue.required && $v.phoneValue.$dirty">Обязательное поле</span>
                </div>
                <div class="register__Step1-btn">
                  <button class="form--mobile-btn" @click="toVerify">
                    {{ !load ? 'Отправить код' : 'Ожидание' }}
                    <img v-if="load" src="~/assets/loader.svg" alt="loader" />
                  </button>
                </div>
                <p>У вас есть учетная запись? <nuxt-link to="/auth/login">Войти</nuxt-link></p>
              </div>
            </v-stepper-content>
            <v-stepper-content step="2">
              <div class="register__Step2 register__step">
                <h4>Верификация</h4>
                <span>Код выслан на + {{ phoneValue }}</span>
                <the-mask
                  id="code"
                  v-model="code"
                  type="tel"
                  :mask="['# # # #']"
                  class="form--mobile-input code-input"
                />
                <div id="code" class="form--error">
                  <span v-if="!$v.code.required && $v.code.$dirty">Обязательное поле</span>
                </div>
                <button class="form--mobile-btn register__Step-btn" @click="toPersonalData">
                  {{ !load ? 'Продолжить' : 'Ожидание' }}
                  <img v-if="load" src="~/assets/loader.svg" alt="loader" />
                </button>
              </div>
            </v-stepper-content>
            <v-stepper-content step="3">
              <div class="register__Step3 register__step">
                <h4>Регистрация</h4>
                <span>Заполните свои данные</span>
                <div class="form--group" style="margin-top: 16px">
                  <label for="userRole">Роль</label>
                  <CustomSelect
                    id="userRole"
                    class="custom-select__input"
                    :placeholder="'Не выбрано'"
                    :options="userRoleData"
                    @input="selectedUserRole"
                  />
                </div>
                <div v-if="userRole" class="register__form">
                  <transition-group name="slide-up">
                    <div v-if="userRole === 1" :key="1">
                      <div class="form--group regsiter__form-input">
                        <label for="fullname">ФИО</label>
                        <input id="fullname" v-model="form.fullname" type="text" class="form--mobile-input" />
                      </div>
                      <div id="fullname" class="form--error">
                        <span v-if="!$v.form.fullname.required && $v.form.fullname.$dirty">Обязательное поле</span>
                      </div>
                      <div class="form--group regsiter__form-input">
                        <label for="country">Страна</label>
                        <CustomMobileSelect
                          :modalClass="'withoutEnv'"
                          :modalTitle="'Страна'"
                          :options="countryOptions"
                          @input="countrySelected"
                        />
                      </div>
                      <div id="country" class="form--error">
                        <span v-if="!$v.form.country.required && $v.form.country.$dirty">Обязательное поле</span>
                      </div>
                      <div class="form--group regsiter__form-input">
                        <label for="city">Город</label>
                        <CustomMobileSelect
                          :modalClass="'withoutEnv'"
                          :modalTitle="'Город'"
                          :options="cityOptions"
                          @input="citySelected"
                        />
                      </div>
                      <div id="city" class="form--error">
                        <span v-if="!$v.form.city.required && $v.form.city.$dirty">Обязательное поле</span>
                      </div>
                    </div>
                    <div v-else :key="2">
                      <div class="form--group regsiter__form-input">
                        <label for="companyName">Название</label>
                        <input id="companyName" v-model="form2.companyName" type="text" class="form--mobile-input" />
                      </div>
                      <div id="companyName" class="form--error">
                        <span v-if="!$v.form2.companyName.required && $v.form2.companyName.$dirty"
                          >Обязательное поле</span
                        >
                      </div>
                      <div class="form--group regsiter__form-input">
                        <label for="iin">БИН/ИИН организации</label>
                        <input id="iin" v-model="form2.iin" type="text" class="form--mobile-input" />
                      </div>
                      <div id="iin" class="form--error">
                        <span v-if="!$v.form2.iin.required && $v.form2.iin.$dirty">Обязательное поле</span>
                      </div>
                      <div class="form--group regsiter__form-input">
                        <label for="country">Страна</label>
                        <CustomMobileSelect
                          :modalClass="'withoutEnv'"
                          :modalTitle="'Страна'"
                          :options="countryOptions"
                          @input="countrySelected"
                        />
                      </div>
                      <div id="country" class="form--error">
                        <span v-if="!$v.form2.country.required && $v.form2.country.$dirty">Обязательное поле</span>
                      </div>
                      <div class="form--group regsiter__form-input">
                        <label for="city">Город</label>
                        <CustomMobileSelect
                          :modalClass="'withoutEnv'"
                          :modalTitle="'Город'"
                          :options="cityOptions"
                          @input="citySelected"
                        />
                      </div>
                      <div id="city" class="form--error">
                        <span v-if="!$v.form2.city.required && $v.form2.city.$dirty">Обязательное поле</span>
                      </div>
                    </div>
                  </transition-group>
                  <button class="form--mobile-btn register__Step-btn" @click="toCreatePasswordMobile">
                    Продолжить
                  </button>
                </div>
              </div>
            </v-stepper-content>
            <v-stepper-content step="4">
              <div class="register__Step4 register__step">
                <h4>Установите пароль</h4>
                <span>Придумайте пароль и заполните пустые поля</span>
                <div id="password" class="form--group">
                  <label for="home">Новый пароль</label>
                  <input
                    id="home"
                    v-model="$v.formPassword.password.$model"
                    :type="passwordShow ? 'text' : 'password'"
                    class="form--mobile-input"
                    :class="{ 'form-group--error': $v.formPassword.password.$error }"
                  />
                  <div class="form--password-visible" @click="passwordShow = !passwordShow">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M12 7C14.76 7 17 9.24 17 12C17 12.65 16.87 13.26 16.64 13.83L19.56 16.75C21.07 15.49 22.26 13.86 22.99 12C21.26 7.61 16.99 4.5 11.99 4.5C10.59 4.5 9.25 4.75 8.01 5.2L10.17 7.36C10.74 7.13 11.35 7 12 7ZM2 4.27L4.28 6.55L4.74 7.01C3.08 8.3 1.78 10.02 1 12C2.73 16.39 7 19.5 12 19.5C13.55 19.5 15.03 19.2 16.38 18.66L16.8 19.08L19.73 22L21 20.73L3.27 3L2 4.27ZM7.53 9.8L9.08 11.35C9.03 11.56 9 11.78 9 12C9 13.66 10.34 15 12 15C12.22 15 12.44 14.97 12.65 14.92L14.2 16.47C13.53 16.8 12.79 17 12 17C9.24 17 7 14.76 7 12C7 11.21 7.2 10.47 7.53 9.8ZM11.84 9.02L14.99 12.17L15.01 12.01C15.01 10.35 13.67 9.01 12.01 9.01L11.84 9.02Z"
                        fill="#9B9B9B"
                      />
                    </svg>
                  </div>
                </div>
                <div id="password" class="form--error">
                  <span v-if="!$v.formPassword.password.required && $v.formPassword.password.$dirty"
                    >Обязательное поле</span
                  >
                  <span v-else-if="!$v.formPassword.password.minLength && $v.formPassword.password.$dirty"
                    >Длина пароля должна быть от 8 до 30 символов</span
                  >
                </div>
                <div id="password2" class="form--group">
                  <label for="confrimPassword">Повторите пароль</label>
                  <input
                    id="confrimPassword"
                    v-model="$v.formPassword.confrimPassword.$model"
                    :type="confrimPasswordShow ? 'text' : 'password'"
                    :class="{ 'form-group--error': $v.formPassword.confrimPassword.$error }"
                    class="form--mobile-input"
                  />
                  <div class="form--password-visible" @click="confrimPasswordShow = !confrimPasswordShow">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M12 7C14.76 7 17 9.24 17 12C17 12.65 16.87 13.26 16.64 13.83L19.56 16.75C21.07 15.49 22.26 13.86 22.99 12C21.26 7.61 16.99 4.5 11.99 4.5C10.59 4.5 9.25 4.75 8.01 5.2L10.17 7.36C10.74 7.13 11.35 7 12 7ZM2 4.27L4.28 6.55L4.74 7.01C3.08 8.3 1.78 10.02 1 12C2.73 16.39 7 19.5 12 19.5C13.55 19.5 15.03 19.2 16.38 18.66L16.8 19.08L19.73 22L21 20.73L3.27 3L2 4.27ZM7.53 9.8L9.08 11.35C9.03 11.56 9 11.78 9 12C9 13.66 10.34 15 12 15C12.22 15 12.44 14.97 12.65 14.92L14.2 16.47C13.53 16.8 12.79 17 12 17C9.24 17 7 14.76 7 12C7 11.21 7.2 10.47 7.53 9.8ZM11.84 9.02L14.99 12.17L15.01 12.01C15.01 10.35 13.67 9.01 12.01 9.01L11.84 9.02Z"
                        fill="#9B9B9B"
                      />
                    </svg>
                  </div>
                </div>
                <div id="password2" class="form--error">
                  <span v-if="!$v.formPassword.confrimPassword.required && $v.formPassword.confrimPassword.$dirty"
                    >Обязательное поле</span
                  >
                  <span v-else-if="!$v.formPassword.confrimPassword.minLength && $v.formPassword.confrimPassword.$dirty"
                    >Длина пароля должна быть от 8 до 30 символов</span
                  >
                  <span v-else-if="!$v.formPassword.confrimPassword.sameAs && $v.formPassword.confrimPassword.$dirty"
                    >Пароли должны совподать</span
                  >
                </div>
                <button class="form--mobile-btn register__Step-btn" @click="toLogin">
                  {{ !load ? 'Подтвердить' : 'Ожидание' }}
                  <img v-if="load" src="~/assets/loader.svg" alt="loader" />
                </button>
              </div>
            </v-stepper-content>
          </v-stepper-items>
        </v-stepper>
      </div>
    </div>

    <Modal
      v-show="isShowModal"
      :show="isShowModal"
      :scrollable="true"
      header-id="modalHeaderSMS"
      body-id="modalBodySMS"
      @close="toggleModal"
    >
      <template #header>
        <h2>Верификация</h2>
        <p>Чтобы продолжить регистрацию, введите код подтверждения из SMS-сообщения, отправленного на Ваш номер</p>
      </template>
      <template #body>
        <form class="sms-form" @submit.prevent="toPersonalData">
          <div id="code" class="form--group">
            <the-mask
              id="code"
              v-model="$v.code.$model"
              type="tel"
              :mask="['# # # #']"
              :class="{ 'form-group--error': $v.code.$error }"
              class="form--input code-input"
              placeholder="Код подтверждения"
            />
          </div>
          <div id="code" class="form--error">
            <span v-if="!$v.code.required && $v.code.$dirty">Обязательное поле</span>
          </div>

          <div class="form--group">
            <button type="submit" class="form--btn">
              {{ !load ? 'Продолжить' : 'Ожидание' }}
              <img v-if="load" src="~/assets/loader.svg" alt="loader" />
            </button>
          </div>

          <div class="form--group">
            <button class="form--btn-outline">Повторно отправить код</button>
          </div>
        </form>
      </template>
    </Modal>
  </section>
</template>

<script>
import { required, minLength, sameAs } from 'vuelidate/lib/validators'
export default {
  components: {
    Modal: () => import('@/components/Modal.vue'),
    CustomSelect: () => import('@/components/shared/CustomSelect.vue'),
    CustomMobileSelect: () => import('@/components/shared/CustomMobileSelect.vue'),
    ErrorModal: () => import('~/components/ErrorModal.vue'),
  },
  data() {
    return {
      load: false,
      viewWidth: '',
      form_type: '1',
      userRole: 1,
      isShowModal: false,
      phoneValue: '',
      registerStepper: 1,
      registerDesktopStepper: 1,
      cityOptions: [],
      countryOptions: [],
      formModal: {
        error: false,
      },
      userRoleData: [
        { id: 1, name: 'Физическое лицо' },
        { id: 2, name: 'Организация' },
      ],
      code: '',
      form: {
        country: '',
        city: '',
        fullname: '',
      },
      form2: {
        country: '',
        city: '',
        iin: '',
        companyName: '',
      },
      formPassword: {
        password: '',
        confrimPassword: '',
      },
      passwordShow: false,
      confrimPasswordShow: false,
    }
  },
  validations: {
    form: {
      country: { required },
      city: { required },
      fullname: { required },
    },
    form2: {
      country: { required },
      city: { required },
      iin: { required },
      companyName: { required },
    },
    code: {
      required,
    },
    phoneValue: {
      required,
    },
    formPassword: {
      password: {
        required,
        minLength: minLength(8),
      },
      confrimPassword: {
        required,
        minLength: minLength(8),
        sameAs: sameAs('password'),
      },
    },
  },
  mounted() {
    this.viewWidth = document.documentElement.clientWidth
    window.addEventListener('resize', () => {
      this.viewWidth = document.documentElement.clientWidth
    })
    this.$axios({
      method: 'get',
      url: `${this.$axios.defaults.baseURL}/location/country/list/`,
    }).then((res) => {
      console.log(res)
      this.cityOptions = res.data.city
      this.countryOptions = res.data.country
    })
  },
  methods: {
    nextStep(val) {
      this.registerStepper = val
    },
    previousStep() {
      return this.registerStepper === 1 ? this.$router.go(-1) : this.registerStepper--
    },
    toCreatePasswordDesktop() {
      if (this.form_type === '2') {
        this.$v.form2.$touch()
        if (!this.$v.form2.$error) {
          this.registerDesktopStepper = 3
        }
      } else {
        this.$v.form.$touch()
        if (!this.$v.form.$error) {
          this.registerDesktopStepper = 3
        }
      }
    },
    toCreatePasswordMobile() {
      if (this.userRole === 2) {
        this.$v.form2.$touch()
        if (!this.$v.form2.$error) {
          this.nextStep(4)
        }
      } else {
        this.$v.form.$touch()
        if (!this.$v.form.$error) {
          this.nextStep(4)
        }
      }
    },
    toLogin() {
      this.$v.formPassword.$touch()
      if (!this.$v.formPassword.$error) {
        if (this.userRole === 1 && this.form_type === '1') {
          const data1 = {
            role: 1,
            name: this.form.fullname,
            country: this.form.country,
            city: this.form.city,
            password: this.formPassword.password,
          }
          this.registerFetch(data1)
        } else {
          const data2 = {
            role: 2,
            name: this.form2.companyName,
            country: this.form2.country,
            city: this.form2.city,
            bin_iin: this.form2.iin,
            password: this.formPassword.password,
          }
          this.registerFetch(data2)
        }
      }
    },
    registerFetch(data) {
      this.load = true
      this.$axios({
        method: 'post',
        url: `${this.$axios.defaults.baseURL}/users/register/continue/`,
        headers: {
          Authorization: `Token ${sessionStorage.getItem('token')}`,
        },
        data: data,
      })
        .then((res) => {
          this.load = false
          if (res.data.status === 'ok') {
            this.$router.push('/auth/login')
          }
        })
        .catch((err) => {
          this.load = false
          console.log(err)
        })
    },
    toVerify() {
      const self = this
      this.$v.phoneValue.$touch()
      if (!this.$v.phoneValue.$error) {
        this.load = true
        this.$axios({
          method: 'post',
          url: `${this.$axios.defaults.baseURL}/users/phone/otp/ `,
          data: {
            phone: this.phoneValue,
          },
        })
          .then((res) => {
            this.load = false
            if (res.data.status === 'ok') {
              if (self.viewWidth > '926') {
                self.isShowModal = true
              } else {
                this.nextStep(2)
              }
            } else {
              this.formModal = {
                error: true,
                errorMsg: 'Номер телефона уже существует',
                btnMsg: 'Попробовать сново',
              }
            }
          })
          .catch((err) => {
            this.load = false
            this.formModal = {
              error: true,
              errorMsg: err,
              btnMsg: 'Попробовать сново',
            }
            console.log(err)
          })
      }
    },
    toPersonalData() {
      const self = this
      this.$v.code.$touch()
      if (!this.$v.code.$error) {
        this.load = true
        this.$axios({
          method: 'post',
          url: `${this.$axios.defaults.baseURL}/users/register/`,
          data: {
            phone: this.phoneValue,
            code: this.code,
          },
        })
          .then((res) => {
            this.load = false
            if (res.data.status === 'ok') {
              sessionStorage.setItem('uid', res.data.uid)
              sessionStorage.setItem('token', res.data.key)
              if (self.viewWidth > '926') {
                self.isShowModal = false
                self.registerDesktopStepper = 2
              } else {
                this.nextStep(3)
              }
            }
          })
          .catch((err) => {
            this.load = false
            console.log(err)
          })
      }
    },
    selectedUserRole(el) {
      if (el) {
        this.userRole = el.id
      }
    },
    toggleModal() {
      this.isShowModal = !this.isShowModal
    },
    citySelected(e) {
      if (e) {
        if (this.form_type === '1' && this.userRole === 1) {
          this.form.city = e.id
        } else {
          this.form2.city = e.id
        }
      }
    },
    countrySelected(e) {
      if (e) {
        if (this.form_type === '1' && this.userRole === 1) {
          this.form.country = e.id
        } else {
          this.form2.country = e.id
        }
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.register {
  height: 100vh;
  padding-bottom: 144px !important;
  @include responsive(mobile) {
    padding-bottom: 0px !important;
  }
}

.register__content {
  max-width: 470px;
  margin: 52px auto 0 auto;
}

.register__form-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin-top: 12px;
    text-align: center;
    color: #767785;
    font-size: 15px;
  }
}

.register__form-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-top: 24px;
}

.legal,
.fiz {
  label {
    font-size: 16px;
    color: #222331;
    margin-left: 10px;
  }
}

.register-btn--group {
  margin-top: 40px;
}

.login__register {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  color: #767785;
  span {
    font-weight: 600;
    cursor: pointer;
  }
}

// Mobile styles
.mobile {
  height: 100%;
}
.register__step {
  display: flex;
  flex-direction: column;
  padding: 15px 0 20px 0;
  height: 100%;
  h4 {
    color: $green;
    font-size: 24px;
    margin-bottom: 8px;
  }
  span {
    color: $border;
    font-size: 14px;
  }
}
.form--error {
  span {
    color: red !important;
    font-size: 12px;
  }
}

.register__Step-btn {
  margin-top: 32px;
}
.register__Step1 {
  .phone-input {
    margin-top: 24px;
  }
  .register__Step1-btn {
    flex: 1 0 auto;
    margin-top: 32px;
  }
  p {
    text-align: center;
    a {
      color: $gold;
    }
  }
}

.code-input {
  margin-top: 24px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-left: 0;
}

.register__form {
  margin-top: 16px;
}

.regsiter__form-input {
  margin-top: 16px;
}
.regsiter__form-input:nth-child(1) {
  margin-top: 0;
}

.register__Step4 {
  .form--mobile-input-group {
    margin-top: 20px;
  }
}
</style>
