<template>
  <section class="section main-catalog">
    <MobileHeader v-if="$device.isMobile" :pageTitle="'Категории'" :mainPage="true" />
    <Loader v-if="loader" />
    <div v-if="$device.isDesktop" class="container">
      <div class="desktop">
        <div class="main-catalog__wrapper">
          <div class="main-catalog__title">
            <h1>Каталог продукции</h1>
          </div>
          <div class="main-catalog__content">
            <div class="main-catalog__header">
              <CustomSelect
                id="productsFilter"
                class="custom-select__input"
                :placeholder="'Не выбрано'"
                :options="sortType"
                @input="sortTypeSelected"
              />
              <!-- <select class="form--select">
                <option v-for="item in sortType" :key="item.id" :value="item.value" class="form--select-item">
                  {{ item.text }}
                </option>
              </select> -->
            </div>
            <div class="main-catalog__sidebar sidebar">
              <div class="sidebar__body">
                <div class="sidebar__content-item">
                  <div class="sidebar__content-item-title">
                    <h4>Все категории</h4>
                  </div>
                  <div class="sidebar__content-item-children">
                    <div v-for="item in categories" :key="item.id" class="form-check">
                      <input :id="item.id" type="checkbox" :value="item.value" class="form--check-input" />
                      <label :for="item.id">
                        {{ item.value }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="main-catalog__items">
              <div v-for="item in catalog" :key="item.id" class="main-catalog__item">
                <div class="main-catalog__item-wrapper">
                  <div class="main-catalog__item-image">
                    <img
                      :src="item.product_image[0] ? item.product_image[0].image : require('@/assets/images/hits1.png')"
                      alt="item"
                    />
                  </div>
                  <div class="main-catalog__item-content">
                    <h4>{{ item.name }}</h4>
                    <p>{{ item.description }}</p>
                    <div class="main-catalog__price">
                      <h4>{{ item.price }} тг</h4>
                      <span>{{ item.status ? 'В наличии' : 'Нет в наличии' }}</span>
                    </div>
                  </div>
                  <div class="main-catalog__item-countBtn">
                    <button class="minus" :disabled="checkProductsIdInCart(item)" @click="countDown(item)">
                      <img src="@/assets/images/icons/minus.svg" alt="minus" />
                    </button>
                    <span>{{ item.product_count }} шт</span>
                    <button class="plus" :disabled="checkProductsIdInCart(item)" @click="countUp(item)">
                      <img src="@/assets/images/icons/plus.svg" alt="plus" />
                    </button>
                  </div>
                  <div class="main-catalog__item-btn">
                    <button
                      v-if="!productsIdInCart.includes(item.id)"
                      class="btn main-catalog-btn"
                      @click.stop="addToCart(item)"
                    >
                      В корзину
                    </button>
                    <button v-else class="btn-outline main-catalog-btn" @click.stop="addToCart(item)">
                      Удалить из корзины
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pagination">
            <v-pagination
              v-model="queryParams.page"
              :length="Math.ceil(productsCount / 15)"
              :total-visible="5"
              color="$green;"
            ></v-pagination>
          </div>
        </div>
      </div>
    </div>
    <div v-if="$device.isMobile" class="mobile">
      <div class="mobile__wrapper">
        <ul v-if="categoriesMobile" class="menu">
          <li v-for="(item, index) in categoriesMobile" :key="index" class="menu__item">
            <div class="menu__item-title" @click="openSubmenu(item.id, $event)">
              <span>{{ item.name }}</span>
              <svg
                id="chevron"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M15 18L9 12L15 6"
                  stroke="#666666"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <ul v-if="subCategoriesMobile" :id="'submenu' + item.id" class="submenu">
              <li
                v-for="(j, inx) in subCategoriesMobile.filter((el) => el.category == item.id)"
                :key="inx"
                class="submenu__item"
                @click="toCategory(j.id)"
              >
                {{ j.name }}
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  components: {
    MobileHeader: () => import('@/components/UI/MobileHeader.vue'),
    CustomSelect: () => import('@/components/shared/CustomSelect.vue'),
    Loader: () => import('~/components/shared/LoaderComponent'),
  },
  data() {
    return {
      loader: false,
      sortType: [
        { id: 0, value: '', name: 'Без сортировки' },
        { id: 1, value: 'price', name: 'По возрастанию цены' },
        { id: 2, value: '-price', name: 'По убыванию цены' },
      ],
      categories: [
        { id: 'filter_category_0', value: 'Снековая продукция' },
        { id: 'filter_category_1', value: 'Сырная продукция' },
        { id: 'filter_category_2', value: 'Рыбная продукция' },
        { id: 'filter_category_3', value: 'Мясная продукция' },
        { id: 'filter_category_4', value: 'Курт' },
        { id: 'filter_category_5', value: 'Инвентарь' },
      ],
      categoriesMobile: [],
      subCategoriesMobile: [],
      catalog: [],
      productsCount: 0,
      productsInCartId: [],
      page: 1,
      queryParams: {
        page: 1,
        sort_price: '',
      },
    }
  },
  computed: {
    productsInCart() {
      return this.$store.getters['cartModule/productsInCart']
    },
    productsIdInCart() {
      return this.$store.getters['cartModule/productsIdInCart']
    },
  },
  watch: {
    page: function (el) {
      this.getAllProducts(el)
    },
    queryParams: {
      handler(el) {
        this.getAllProducts(el)
      },
      deep: true,
    },
  },
  mounted() {
    this.loader = true
    this.$axios({
      method: 'get',
      url: `${this.$axios.defaults.baseURL}/category/list/`,
    }).then((res) => {
      this.categoriesMobile = res.data.category
      this.subCategoriesMobile = res.data.subcategory
      this.loader = false
    })
    this.getAllProducts()
  },
  methods: {
    getAllProducts(params) {
      this.catalog = []
      this.$axios({
        method: 'get',
        url: `${this.$axios.defaults.baseURL}/product/`,
        params: params,
      }).then((res) => {
        this.productsCount = res.data.count
        res.data.results.forEach((el) => {
          this.catalog.push(Object.assign({}, el, (el.product_count = 1)))
        })
      })
    },
    sortTypeSelected(el) {
      if (el) {
        this.queryParams.sort_price = el.value
      }
    },
    openSubmenu(id, e) {
      if (e.target.classList !== 'menu__item-title') {
        e.srcElement.parentElement.classList.toggle('active')
      }
      const submenu = document.querySelector(`#submenu${id}`)
      submenu.classList.toggle('show')
      e.target.classList.toggle('active')
    },
    toCategory(id) {
      this.$router.push(`/catalog/category/${id}`)
    },
    countUp(item) {
      this.catalog.forEach((element) => {
        if (element.id === item.id) {
          element.product_count++
        }
      })
    },
    countDown(item) {
      this.catalog.forEach((element) => {
        if (element.id === item.id && element.product_count > 1) {
          element.product_count--
        }
      })
    },
    addToCart(item) {
      const obj = {
        ...item,
        totalPrice: item.price,
      }
      if (this.productsInCart.find((f) => f.id === item.id) === undefined) {
        this.$store.dispatch('cartModule/addToCart', obj)
      } else {
        this.$store.dispatch('cartModule/deleteFromCart', obj)
        this.productsInCartId = this.productsInCartId.filter((c) => c !== item.id)
      }
    },
    checkProductsIdInCart(card) {
      if (this.productsInCart.find((f) => f.id === card.id) === undefined) {
        return false
      } else return true
    },
  },
}
</script>

<style lang="scss" scoped>
.custom-select__input {
  margin-top: 0;
  max-width: 280px;
}

.main-catalog {
  padding-bottom: 115px !important;
}
.main-catalog__title {
  display: flex;
  justify-content: flex-start;
  h1 {
    font-size: 34px;
    color: $main-black;
  }
}

.main-catalog__content {
  display: grid;
  grid-template-areas:
    'sidebar header'
    'sidebar content';
  grid-column-gap: 32px;
  grid-row-gap: 25px;
  grid-template-columns: minmax(0, 296px) 1fr;
  grid-template-rows: 52px 1fr;
  margin-top: 56px;
}

.main-catalog__header {
  grid-area: header;
  // border: 1px solid $main-black;
}

.main-catalog__sidebar {
  grid-area: sidebar;
  // border: 1px solid $main-black;
}

.sidebar__body {
  border: 1px solid #e4e4e4;
  padding: 24px;
  border-radius: 8px;
}

.sidebar__content-item {
  margin-bottom: 40px;
  &-title {
    margin-bottom: 24px;
    h4 {
      font-size: 22px;
      color: #3a3a3c;
      font-weight: 600;
    }
  }
}

.sidebar__content-item:nth-last-child(1) {
  margin-bottom: 0;
}

.main-catalog__items {
  display: grid;
  grid-area: content;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-column-gap: 32px;
}

.main-catalog__item {
  margin: 0 0 20px 0;
}

.main-catalog__item-wrapper {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 24px 16px;
}

.main-catalog__item-image {
  margin-bottom: 16px;
  img {
    max-width: 260px;
    height: 180px;
    object-fit: cover;
  }
}

.main-catalog__item-content {
  h4 {
    font-size: 18px;
    font-weight: 700;
    color: $off-black;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  p {
    font-size: 14px;
    color: #8a8a8a;
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .main-catalog__price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    h4 {
      color: $off-black;
      font-size: 20px;
      font-weight: 700;
    }
    span {
      color: #8a8a8a;
      font-size: 14px;
    }
  }
}

.main-catalog__item-countBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e3e1e1;
  border-radius: 4px;
  width: 100%;
  height: 48px;
  margin-bottom: 16px;
  .minus {
    flex: 0 0 80px;
    background: none;
    border-right: 1px solid #e3e1e1;
    height: 100%;
    &:disabled {
      background: #ececec;
      color: grey;
      cursor: not-allowed;
    }
  }
  .plus {
    flex: 0 0 80px;
    background: none;
    border-left: 1px solid #e3e1e1;
    height: 100%;
    &:disabled {
      background: #ececec;
      color: grey;
      cursor: not-allowed;
    }
  }
  span {
    flex: 1 1 0;
    text-align: center;
  }
}

.main-catalog-btn {
  border-radius: 4px !important;
  width: 100%;
}

.mobile {
  .menu {
    .menu__item {
      &-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 16px;
        #chevron {
          transform: rotate(180deg);
        }
      }
      &-title.active {
        background-color: rgba($color: #dde8e3, $alpha: 0.5);
        color: $green;
        font-weight: 700;
        #chevron {
          transform: rotate(270deg);
          path {
            stroke: $green;
          }
        }
      }
      .submenu {
        padding: 0 0 0 32px;
        height: 0;
        visibility: hidden;
        .submenu__item {
          padding: 15px 0;
          border-bottom: 1px solid rgba(33, 33, 33, 0.08);
        }
      }
      .submenu.show {
        height: 100%;
        visibility: visible;
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}
</style>
