<template>
  <section class="section product">
    <MobileHeader v-if="$device.isMobile" :pageTitle="'О товаре'" :mainPage="false" :btnAction="previousStep" />
    <div class="container">
      <div class="product__wrapper">
        <div v-if="product" class="product__item">
          <img :src="product.product_image ? product.product_image[0].image : ''" alt="image" />
          <h4>{{ product.name }}</h4>
          <span>Сырная продукция</span>
          <div class="product__item-counter">
            <p>{{ product.price }} ₸</p>
            <div class="m-cart__item-counter">
              <button class="m-cart__item-countBtn minus" :disabled="checkProductsIdInCart(product)" @click="countDown">
                -
              </button>
              <div class="m-cart__item-count">{{ product.product_count }}</div>
              <button class="m-cart__item-countBtn plus" :disabled="checkProductsIdInCart(product)" @click="countUp">
                +
              </button>
            </div>
          </div>
          <div class="product__item-content">
            <h4>Описание</h4>
            <div class="product__item-desc">
              Сыр-косичка «Эллазан» это полезный и сытный продукт с высокой энергетической ценностью. Сыр богат белками,
              жирами и микроэлементами, необходимыми для полноценного питания. Изготавливается из свежего коровьего
              молока. Не содержит растительных жиров и консервантов. Структура продукта волокнистая, слоистая. Вкус
              пикантный, в меру солёный. Сыр коптится на натуральной щепе, без использования жидкого дыма.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="m-cart-total">
      <h4>{{ product.totalPrice }} ₸</h4>
      <button v-if="!checkProductsIdInCart(product)" class="form--mobile-btn" @click="addToCart(product)">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M2.4516 2.45243L2.31607 2.16671H1.99984H1.33317C1.24265 2.16671 1.1665 2.09057 1.1665 2.00004C1.1665 1.90952 1.24265 1.83337 1.33317 1.83337H2.4265C2.49293 1.83337 2.55004 1.87374 2.57177 1.92125L2.57175 1.92126L2.57374 1.92551L3.0204 2.87884L3.15528 3.16671H3.47317H13.3398C13.4655 3.16671 13.543 3.30314 13.4837 3.40887L13.482 3.41187L11.0954 7.73854L11.0948 7.73962C10.9544 7.9956 10.6809 8.16671 10.3665 8.16671H5.39984H5.1042L4.96173 8.42575L4.2284 9.75908L3.90822 10.3412C3.8067 10.1159 3.8025 9.84394 3.9382 9.59387C3.93844 9.59344 3.93867 9.593 3.93891 9.59257L4.83734 7.96877L4.96155 7.74426L4.8516 7.51243L2.4516 2.45243ZM4.6665 10.8334C4.38606 10.8334 4.15 10.699 4.00169 10.5H4.6665H11.9998C12.0904 10.5 12.1665 10.5762 12.1665 10.6667C12.1665 10.7572 12.0904 10.8334 11.9998 10.8334H4.6665ZM3.83984 13.3334C3.83984 12.8729 4.21257 12.5 4.6665 12.5C5.12369 12.5 5.49984 12.8762 5.49984 13.3334C5.49984 13.7906 5.12369 14.1667 4.6665 14.1667C4.21257 14.1667 3.83984 13.7938 3.83984 13.3334ZM10.5065 13.3334C10.5065 12.8729 10.8792 12.5 11.3332 12.5C11.7904 12.5 12.1665 12.8762 12.1665 13.3334C12.1665 13.7906 11.7904 14.1667 11.3332 14.1667C10.8792 14.1667 10.5065 13.7938 10.5065 13.3334Z"
            stroke="white"
          />
        </svg>
        В корзину
      </button>
      <button v-else class="form--mobile-btn cart-delete--btn" @click="addToCart(product)">
        <img
          style="width: 16px; height: 16px; margin-right: 12px"
          src="~/assets/images/icons/cart-btn-icon-remove-item.svg"
          alt="cart-btn-icon-remove-item"
        />
        Удалить
      </button>
    </div>
  </section>
</template>

<script>
export default {
  components: {
    MobileHeader: () => import('@/components/UI/MobileHeader.vue'),
  },
  data() {
    return {
      product: {},
    }
  },
  computed: {
    productsInCart() {
      return this.$store.getters['cartModule/productsInCart']
    },
  },
  mounted() {
    this.product = {
      ...JSON.parse(sessionStorage.getItem('product')),
      product_count: 1,
      totalPrice: JSON.parse(sessionStorage.getItem('product')).price,
    }
  },
  methods: {
    previousStep() {
      this.$router.go(-1)
    },
    countUp() {
      this.product.product_count++
      this.product.totalPrice += this.product.price
    },
    countDown() {
      if (this.product.product_count > 1) {
        this.product.product_count--
        this.product.totalPrice -= this.product.price
      } else {
        return false
      }
    },
    addToCart(item) {
      if (this.productsInCart.find((f) => f.id === item.id) === undefined) {
        this.productCountDisabled = true
        this.$store.dispatch('cartModule/addToCart', item)
      } else {
        this.productCountDisabled = false
        this.$store.dispatch('cartModule/deleteFromCart', item)
      }
    },
    checkProductsIdInCart(card) {
      if (this.productsInCart.find((f) => f.id === card.id) === undefined) {
        return false
      } else return true
    },
  },
}
</script>

<style lang="scss" scoped>
.product__item {
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  h4 {
    margin-top: 16px;
    font-size: 18px;
  }
  span {
    display: inline-block;
    margin-top: 4px;
    color: $label;
    font-size: 14px;
  }
  &-counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 16px;
      font-weight: 600;
    }
  }
  &-desc {
    margin-top: 8px;
    color: #565656;
    font-size: 14px;
  }
}
.m-cart {
  &__item {
    &-counter {
      display: flex;
      border-radius: 4px;
      overflow: hidden;
      border: 1px solid #ececec;
    }
    &-countBtn {
      height: 40px;
      width: 40px;
      &:disabled {
        background: #ececec;
        color: grey;
        cursor: not-allowed;
      }
    }
    &-count {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      font-weight: 600;
    }
  }
}
.minus {
  border-right: 1px solid #ececec;
  color: $green;
  font-size: 20px;
}
.plus {
  border-left: 1px solid #ececec;
  background: $green;
  color: $white;
  font-size: 20px;
}
.m-cart-total {
  position: fixed;
  bottom: 56px;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 16px;
  background: $white;
  z-index: 215;
  -webkit-box-shadow: 0px -4px 5px -4px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px -4px 5px -4px rgba(34, 60, 80, 0.2);
  box-shadow: 0px -4px 5px -4px rgba(34, 60, 80, 0.2);
  h4 {
    font-size: 16px;
  }
  .form--mobile-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    max-width: 220px;
    padding: 0 16px;
    svg {
      margin-right: 8px;
    }
  }
}
</style>
