<template>
  <div class="address card">
    <SuccessModal
      v-if="formModal.success.status"
      :successMessage="formModal.success.msg"
      :btnText="'Хорошо'"
      @actionSuccessModal="formModal.success.status = false"
    />
    <ErrorModal
      v-if="formModal.error.status"
      :errorMessage="formModal.error.msg"
      :btnText="'Попробовать снова'"
      @actionErrorModal="formModal.error.status = false"
    />
    <h4 class="card-title">Адрес доставки</h4>
    <div class="address__body">
      <v-stepper v-model="addressStepper">
        <v-stepper-items>
          <v-stepper-content step="1">
            <div class="address__items">
              <div v-for="item in addresses" :key="item.id" class="address__item" @click="editAddress(item)">
                <div><img src="~/assets/images/icons/location.svg" alt="" /> {{ item.street }}, {{ item.house }}</div>
              </div>
            </div>
            <div class="add-btn" @click="addAddress">
              <img src="~/assets/images/icons/add.svg" alt="add" />
              <span>Добавить адрес</span>
            </div>
          </v-stepper-content>
          <v-stepper-content step="2">
            <p v-if="!actionEditStatus" class="card-subtitle">Укажите свой адрес</p>
            <form class="profile-card-form">
              <div class="card-form-group" style="grid-area: a">
                <label for="street">Улица <span class="red">*</span></label>
                <input id="street" v-model="address.street" class="card-form-input" placeholder="" type="text" />
                <div id="street" class="form--error">
                  <span v-if="!$v.address.street.required && $v.address.street.$dirty">Обязательное поле</span>
                </div>
              </div>
              <div class="card-form-group" style="grid-area: b">
                <label for="house">Дом <span class="red">*</span></label>
                <input id="house" v-model="address.house" class="card-form-input" type="text" />
                <div id="house" class="form--error">
                  <span v-if="!$v.address.house.required && $v.address.house.$dirty">Обязательное поле</span>
                </div>
              </div>
              <div class="card-form-group" style="grid-area: c">
                <label for="apartment">Квартира <span class="red">*</span></label>
                <input id="apartment" v-model="address.apartment" class="card-form-input" type="text" />
              </div>
              <div class="card-form-group" style="grid-area: d">
                <label for="floor">Этаж</label>
                <input id="floor" v-model="address.floor" class="card-form-input" type="text" />
              </div>
              <div class="card-form-group" style="grid-area: e">
                <label for="entrance">Подъезд</label>
                <input id="entrance" v-model="address.entrance" class="card-form-input" type="text" />
              </div>
              <div class="card-form-group" style="display: flex; align-items: flex-end; grid-area: f">
                <div class="address__action-btn">
                  <button
                    type="button"
                    class="form--btn-outline"
                    style="width: 200px; margin-right: 15px"
                    @click.prevent="nextStep(1)"
                  >
                    Отменить
                  </button>
                  <button class="form--btn" style="width: 200px" @click.prevent="sendAddress">
                    {{ actionEditStatus ? 'Изменить' : 'Сохранить' }}
                  </button>
                </div>
              </div>
            </form>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </div>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
export default {
  components: {
    SuccessModal: () => import('~/components/SuccessModal.vue'),
    ErrorModal: () => import('~/components/ErrorModal.vue'),
  },
  data() {
    return {
      formModal: {
        success: {
          status: false,
          msg: '',
        },
        error: {
          status: false,
          msg: '',
        },
      },
      addressStepper: 1,
      addressId: '',
      actionEditStatus: false,
      addressIsHas: false,
      autocomplete: '',
      addresses: [],
      address: {
        street: '',
        house: '',
        apartment: '',
        floor: '',
        entrance: '',
      },
      location: {
        lat: 0,
        lng: 0,
      },
    }
  },
  validations: {
    address: {
      street: {
        required,
      },
      house: {
        required,
      },
    },
  },
  watch: {
    addressStepper: function (el) {
      if (el === 1) {
        this.getAddresses()
      }
    },
  },
  mounted() {
    this.getAddresses()
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition((pos) => {
        this.location.lat = pos.coords.latitude
        this.location.lng = pos.coords.longitude
      })
    } else {
      console.log("geo is't supported")
    }

    const center = this.location
    const defaultBounds = {
      north: center.lat + 0.2,
      south: center.lat - 0.2,
      east: center.lng + 0.2,
      west: center.lng - 0.2,
    }
    const input = document.getElementById('street')
    const options = {
      bounds: defaultBounds,
      componentRestrictions: { country: 'kz' },
      strictBounds: false,
      fields: ['address_components', 'geometry', 'name'],
      types: ['geocode'],
    }
    this.autocomplete = new google.maps.places.Autocomplete(input, options)
    this.autocomplete.addListener('place_changed', () => {
      const placeResult = this.autocomplete.getPlace()
      placeResult.address_components.forEach((el) => {
        const addressType = el.types[0]
        switch (addressType) {
          case 'route':
            this.address.street = el.long_name
            break
          case 'street_number':
            this.address.house = el.long_name
            break
        }
      })
    })
  },
  methods: {
    nextStep(val) {
      this.addressStepper = val
    },
    getAddresses() {
      if (this.$device.isDesktop) {
        this.$axios({
          method: 'get',
          url: `${this.$axios.defaults.baseURL}/location/my/address/`,
          headers: {
            Authorization: `Token ${sessionStorage.getItem('token')}`,
          },
        })
          .then((res) => {
            this.addresses = res.data
          })
          .catch((err) => {
            console.log(err)
          })
      }
    },
    editAddress(item) {
      this.address = {
        street: item.street,
        house: item.house,
        apartment: item.apartment,
        floor: item.floor,
        entrance: item.entrance,
        id: item.id,
      }
      this.actionEditStatus = true
      this.addressId = item.id
      this.nextStep(2)
    },
    addAddress() {
      this.actionEditStatus = false
      this.address = {}
      this.nextStep(2)
    },
    sendAddress() {
      this.$v.address.$touch()
      if (this.$v.address.$error) {
        console.log('Error')
      } else if (!this.actionEditStatus) {
        this.$axios({
          method: 'post',
          url: `${this.$axios.defaults.baseURL}/location/my/address/`,
          data: this.address,
          headers: {
            Authorization: `Token ${sessionStorage.getItem('token')}`,
          },
        })
          .then((res) => {
            if (res.data.status === 'ok') {
              this.formModal.success.status = true
              this.formModal.success.msg = 'Адрес успешно добавлен!'
              this.nextStep(1)
            }
          })
          .catch(() => {
            this.formModal.error.status = true
            this.formModal.error.msg = 'Что-то пошло не так, прошу попробуйте еще раз!'
          })
      } else if (this.actionEditStatus) {
        this.$axios({
          method: 'put',
          url: `${this.$axios.defaults.baseURL}/location/my/address/change/${this.address.id}`,
          data: this.address,
          headers: {
            Authorization: `Token ${sessionStorage.getItem('token')}`,
          },
        })
          .then((res) => {
            if (res.data.status === 'ok') {
              this.formModal.success.status = true
              this.formModal.success.msg = 'Адрес успешно изменен!'
              this.nextStep(1)
            }
          })
          .catch(() => {
            this.formModal.error.status = true
            this.formModal.error.msg = 'Что-то пошло не так, прошу попробуйте еще раз!'
          })
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.card-title {
  font-size: 22px;
  color: $black;
}

.red {
  color: red;
}

.address {
  margin-top: 32px;
  &__body {
    margin-top: 24px;
  }
  .add-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      margin-right: 19px;
    }
    span {
      font-size: 18px;
      color: #222331;
      font-weight: 600;
    }
  }
}

.address__action-btn {
  display: flex;
  align-items: center;
}

.profile-card-form {
  display: grid;
  grid:
    'a a a a'
    'b c d e'
    'f f f f';
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  margin-top: 15px;
}

.card-form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  label {
    color: #837f7f;
    font-size: 18px;
  }
  .card-form-input {
    margin-top: 8px;
    width: 100%;
    height: 56px;
    border-radius: 4px;
    padding: 0 0 0 16px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid $border;
  }
}

.address__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin-bottom: 20px;
  .address__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid $border;
    cursor: pointer;
    img {
      margin-right: 5px;
    }
  }
}
</style>
