<template>
  <section class="section category">
    <MobileHeader v-if="$device.isMobile" :pageTitle="'Продукт'" :mainPage="false" :btnAction="previousStep" />
    <div class="category__header">
      <CustomSortSelect :placeholder="'Без сортировки'" :options="categories" @input="selectCategory" />
    </div>
    <div class="container">
      <div class="category__wrapper">
        <div v-for="item in products" :key="item.id" class="category__item" @click.prevent.stop="toDetail(item)">
          <div class="category__item__wrapper">
            <div class="item__left">
              <img
                :src="item.product_image[0] ? item.product_image[0].image : require('~/assets/images/default.jpg')"
                alt="categoryItemExample"
              />
              <span class="item__price">{{ item.price }} ₸</span>
            </div>
            <div class="item__right">
              <div>
                <h4 class="item__title">{{ item.name }}</h4>
                <span class="item__desc">{{ item.description }}</span>
              </div>
              <div class="item__btn">
                <template v-if="!productsIdInCart.includes(item.id)">
                  <button class="form--mobile-btn" @click.stop="addToCart(item)">
                    <svg
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      style="margin-right: 5px"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M2.4516 2.45243L2.31607 2.16671H1.99984H1.33317C1.24265 2.16671 1.1665 2.09057 1.1665 2.00004C1.1665 1.90952 1.24265 1.83337 1.33317 1.83337H2.4265C2.49293 1.83337 2.55004 1.87374 2.57177 1.92125L2.57175 1.92126L2.57374 1.92551L3.0204 2.87884L3.15528 3.16671H3.47317H13.3398C13.4655 3.16671 13.543 3.30314 13.4837 3.40887L13.482 3.41187L11.0954 7.73854L11.0948 7.73962C10.9544 7.9956 10.6809 8.16671 10.3665 8.16671H5.39984H5.1042L4.96173 8.42575L4.2284 9.75908L3.90822 10.3412C3.8067 10.1159 3.8025 9.84394 3.9382 9.59387C3.93844 9.59344 3.93867 9.593 3.93891 9.59257L4.83734 7.96877L4.96155 7.74426L4.8516 7.51243L2.4516 2.45243ZM4.6665 10.8334C4.38606 10.8334 4.15 10.699 4.00169 10.5H4.6665H11.9998C12.0904 10.5 12.1665 10.5762 12.1665 10.6667C12.1665 10.7572 12.0904 10.8334 11.9998 10.8334H4.6665ZM3.83984 13.3334C3.83984 12.8729 4.21257 12.5 4.6665 12.5C5.12369 12.5 5.49984 12.8762 5.49984 13.3334C5.49984 13.7906 5.12369 14.1667 4.6665 14.1667C4.21257 14.1667 3.83984 13.7938 3.83984 13.3334ZM10.5065 13.3334C10.5065 12.8729 10.8792 12.5 11.3332 12.5C11.7904 12.5 12.1665 12.8762 12.1665 13.3334C12.1665 13.7906 11.7904 14.1667 11.3332 14.1667C10.8792 14.1667 10.5065 13.7938 10.5065 13.3334Z"
                        stroke="white"
                      />
                    </svg>
                    В корзину
                  </button>
                </template>
                <template v-else>
                  <button class="form--mobile-btn cart-delete--btn" @click.stop="addToCart(item)">
                    <img
                      style="width: 16px; height: 16px; margin-right: 12px"
                      src="~/assets/images/icons/cart-btn-icon-remove-item.svg"
                      alt="cart-btn-icon-remove-item"
                    />
                    Удалить
                  </button>
                </template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  components: {
    MobileHeader: () => import('@/components/UI/MobileHeader.vue'),
    CustomSortSelect: () => import('@/components/shared/CustomSortSelect.vue'),
  },
  data() {
    return {
      selectedCategory: null,
      categories: [
        { id: 0, name: 'Без сортировки' },
        { id: 1, name: 'По возрастанию цены' },
        { id: 2, name: 'По убыванию цены' },
        { id: 3, name: 'По новинкам' },
        { id: 4, name: 'По скидкам' },
      ],
      products: [],
      productsInCartId: [],
    }
  },
  computed: {
    productsInCart() {
      return this.$store.getters['cartModule/productsInCart']
    },
    productsIdInCart() {
      return this.$store.getters['cartModule/productsIdInCart']
    },
  },
  mounted() {
    this.$axios({
      method: 'get',
      url: `${this.$axios.defaults.baseURL}/product/?subcategory=${this.$route.params.id}`,
    }).then((res) => {
      console.log(res.data)
      this.products = res.data.results
    })
  },
  methods: {
    selectCategory(el) {
      if (el) {
        this.selectedCategory = el
      }
    },
    addToCart(item) {
      const obj = {
        ...item,
        product_count: 1,
        totalPrice: item.price,
      }
      if (this.productsInCart.find((f) => f.id === item.id) === undefined) {
        this.$store.dispatch('cartModule/addToCart', obj)
      } else {
        this.$store.dispatch('cartModule/deleteFromCart', obj)
        this.productsInCartId = this.productsInCartId.filter((c) => c !== item.id)
      }
    },
    toDetail(item) {
      sessionStorage.setItem('product', JSON.stringify(item))
      this.$router.push('/catalog/product/1')
    },
    previousStep() {
      this.$router.go(-1)
    },
  },
}
</script>

<style lang="scss" scoped>
.form--mobile-btn {
  height: 36px;
  font-size: 14px;
  text-transform: uppercase;
  width: auto !important;
}

.category {
  padding-top: 125px;
}
.category__header {
  position: fixed;
  top: 55px;
  left: 0;
  width: 100%;
  background: $white;
  z-index: 901;
  padding: 0 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
}
.category__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  box-shadow: 0px 0.3px 0.5px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin-bottom: 16px;
  height: 180px;
  &__wrapper {
    display: flex;
    align-items: flex-start;
    margin-top: 5px;
    height: 100%;
  }
  .item__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    margin-right: 12px;
    img {
      width: 96px;
      height: 96px;
      object-fit: cover;
      border-radius: 50%;
    }
    .item__price {
      display: inline-block;
      margin-top: 8px;
      font-size: 16px;
      font-weight: 600;
    }
  }
  .item__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    height: 100%;
    .item__title {
      font-size: 14px;
      margin-bottom: 4px;
    }
    .item__desc {
      color: #717171;
      font-size: 12px;
    }
    .item__btn {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin-top: 12px;
    }
  }
}
.category__item:nth-last-child(1) {
  margin-bottom: 0;
}
</style>
