<template>
  <div class="error_wrapper">
    <div class="error-modal">
      <img :src="require('~/assets/images/icons/successIcon.svg')" alt="" />

      <p>
        {{ successMessage }}
      </p>
      <button class="success-modal-btn" @click="$emit('actionSuccessModal')">{{ btnText }}</button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    successMessage: {
      required: true,
      default: 'No error message',
    },
    btnText: {
      required: true,
      default: 'Close',
    },
  },
}
</script>

<style lang="scss" scoped>
.error_wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 902;
  margin: 0 auto;
  padding: 0 16px 80px 16px;
  left: 0;
  top: 0;

  &::before {
    position: fixed;
    top: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: $black;
    opacity: 0.5;
  }
}
.error-modal {
  position: relative;
  z-index: 220;
  max-width: 350px;
  min-width: 350px;
  background: $white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 16px;
  text-align: center;
  flex-direction: column;
  justify-content: center;

  @include responsive(mobile) {
    max-width: 100%;
    min-width: 100%;
  }

  p {
    padding: 20px 0;
  }
  .success-modal-btn {
    width: 100%;
    padding: 15px 0;
    background: $green;
    color: $white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 4px;
  }
}
</style>
