<template>
  <footer class="footer">
    <div class="container">
      <div class="footer__wrapper">
        <div class="footer__top">
          <div class="footer__about">
            <div class="footer__logo">
              <img src="@/assets/images/logo.png" alt="logo" />
              <h4>Galleon</h4>
            </div>
            <div class="footer__about-desc">
              <p>
                Компания является одним из крупнейших дистрибьюторов на рынке товаров народного потребления в Алматы.
              </p>
            </div>
          </div>
          <div class="footer__products">
            <ul class="footer__products-list">
              <li class="footer__products-item">
                <a>Наша продукция</a>
              </li>
              <li class="footer__products-item">
                <nuxt-link to="/">Сырная продукция</nuxt-link>
              </li>
              <li class="footer__products-item">
                <nuxt-link to="/">Мясная продукция</nuxt-link>
              </li>
              <li class="footer__products-item">
                <nuxt-link to="/">Рыбная продукция</nuxt-link>
              </li>
              <li class="footer__products-item">
                <nuxt-link to="/">Снековая продукция</nuxt-link>
              </li>
            </ul>
          </div>
          <div class="footer__contacts">
            <ul class="footer__contacts-list">
              <li class="footer__contacts-item">
                <a>Контактная информация</a>
              </li>
              <li class="footer__contacts-item">
                <a>Адрес:</a>
              </li>
              <li class="footer__contacts-item">
                <a>Телефон:</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__bottom">
          <span>© 2020 · All rights reserved</span>
          <span>Privacy Policy</span>
          <span>Terms of Service</span>
          <!-- <div class="footer__social">
            <img src="@/assets/images/icons/instagram.svg" alt="instagram">
            <img src="@/assets/images/icons/whatsapp.svg" alt="whatsapp">
            <img src="@/assets/images/icons/telegram.svg" alt="telegram">
          </div> -->
        </div>
      </div>
    </div>
  </footer>
</template>

<style lang="scss" scoped>
.footer {
  padding: 63px 0 45px 0;
  background: $green;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
}

.footer__top {
  display: grid;
  grid-template-columns: 0.9fr 1fr 1fr;
}

.footer__logo {
  display: flex;
  align-items: center;
  img {
    max-width: 56px;
    max-height: 56px;
    margin-right: 5px;
  }
  h4 {
    font-family: 'CrimsonText';
    font-size: $size * 2;
    background: linear-gradient(90deg, #b98b2e 0%, #d5bd5f 22.4%, #ede98a 43.23%, #c09739 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #b98b2e;
  }
}

.footer__about-desc {
  margin-top: 15px;
  p {
    color: $white;
    font-size: 16px;
  }
}

.footer__products {
  display: flex;
  justify-content: flex-end;
}

.footer__products-item {
  margin-bottom: 20px;
  a {
    color: $white;
    font-size: 16px;
    font-weight: 400;
  }
}

.footer__products-item:nth-child(1) {
  a {
    font-weight: 600;
  }
}

.footer__products-item:nth-last-child(1) {
  margin-bottom: 0;
}

.footer__contacts {
  display: flex;
  justify-content: flex-end;
}

.footer__contacts-item {
  margin-bottom: 20px;
  a {
    color: $white;
    font-size: 16px;
    font-weight: 400;
  }
}

.footer__contacts-item:nth-child(1) {
  a {
    font-weight: 600;
  }
}

.footer__contacts-item:nth-last-child(1) {
  margin-bottom: 0;
}

.footer__bottom {
  display: grid;
  grid-template-columns: 200px 90px 130px 8fr;
  grid-column-gap: 20px;
  margin-top: 56px;
}

.footer__bottom span {
  font-size: 14px;
  color: $white;
}

.footer__bottom span:nth-last-child(1) {
  display: block;
}

.footer__social {
  justify-self: end;
  img {
    margin-right: 24px;
  }
}

.footer__social img:nth-last-child(1) {
  margin-right: 0;
}
</style>
