<template>
  <header class="header">
    <div class="header__wrapper">
      <div v-if="$route.path == '/'" class="header__top">
        <div class="header__top-wrapper">
          <div class="container">
            <div class="location">
              <img src="@/assets/images/icons/location.svg" alt="location" />
              <span>Алматы, Казахстан</span>
            </div>
          </div>
        </div>
      </div>
      <div class="header__bottom">
        <div class="container">
          <div class="header__bottom-wrapper">
            <nuxt-link to="/" class="logo">
              <img src="@/assets/images/logo.png" alt="logo" />
              <h4>Galleon</h4>
            </nuxt-link>
            <div class="header-right">
              <ul v-if="$route.path === '/'" class="header__menu">
                <li class="header__menu-item">
                  <nuxt-link to="/">Наша продукция</nuxt-link>
                </li>
                <li class="header__menu-item">
                  <nuxt-link to="/">Партнерам</nuxt-link>
                </li>
                <li class="header__menu-item">
                  <nuxt-link to="/">Наши контакты</nuxt-link>
                </li>
              </ul>
              <div class="header__buttons">
                <button class="cart-btn icon-btn" @click="$router.push('/cart')">
                  <div v-if="productsIdInCart.length > 0" class="cart__counter">
                    {{ productsIdInCart.length }}
                  </div>
                  <img src="@/assets/images/icons/cart.svg" alt="cart" />
                  Корзина
                </button>
                <nuxt-link v-if="!hasToken" to="/auth/login" class="login-btn icon-btn">
                  <img src="@/assets/images/icons/user.svg" alt="cart" />
                  Войти
                </nuxt-link>
                <nuxt-link v-else to="/profile" class="login-btn icon-btn">
                  <img src="@/assets/images/icons/user.svg" alt="cart" />
                  Профиль
                </nuxt-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  computed: {
    hasToken() {
      return this.$store.getters['authModule/hasToken']
    },
    productsIdInCart() {
      return this.$store.getters['cartModule/productsIdInCart']
    },
  },
}
</script>

<style lang="scss" scoped>
.header__wrapper {
  display: flex;
  flex-direction: column;
}
.header__top {
  height: 50px;
  line-height: 50px;
}
.location {
  display: flex;
  align-items: center;
  img {
    margin-right: 5px;
  }
  span {
    color: $light-grey;
  }
}
.header__bottom {
  background: $green;
  padding: 10px 0;
}
.header__bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  flex: 0 0 180px;
  img {
    max-width: 72px;
    max-height: 72px;
  }
  h4 {
    margin-left: 5px;
    font-family: 'CrimsonText';
    font-size: $size * 2;
    background: linear-gradient(90deg, #b98b2e 0%, #d5bd5f 22.4%, #ede98a 43.23%, #c09739 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #b98b2e;
  }
}
.header-right {
  display: flex;
  align-items: center;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
}
.header__menu-item {
  margin-left: $margin * 4;
  &:nth-child(1) {
    margin-left: 0;
  }
  a {
    font-size: 18px;
    font-weight: 500;
    color: $white;
  }
}
.search-wrapper {
  position: relative;
  width: 100%;
  img {
    position: absolute;
    top: 10px;
    right: 16px;
  }
}
.search-wrapper input {
  height: 40px;
  width: 100%;
  padding: 0 45px 0 16px;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: $size;
  background: $white;
  &::placeholder {
    color: #6c6c6c;
    font-size: 14px;
  }
}
@media (max-width: 1200px) {
  .header__menu {
    display: none !important;
  }
  .header__search {
    justify-content: flex-end;
  }
  .search-wrapper {
    max-width: 320px;
  }
}
.header__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 50px;
}
.icon-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  color: #c9c9c9;
}
.login-btn {
  margin-left: 40px;
}

.cart-btn {
  position: relative;
  .cart__counter {
    position: absolute;
    top: 0;
    right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    font-size: 10px;
    background: $gold;
    color: $white;
    border-radius: 50%;
  }
}
</style>
