<template>
  <nav class="nav">
    <div class="container-mobile">
      <div class="wrapper">
        <nuxt-link :class="{ active: '/' === route }" prefetch :to="'/'" class="nav__link">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M9.99961 19V14H13.9996V19C13.9996 19.55 14.4496 20 14.9996 20H17.9996C18.5496 20 18.9996 19.55 18.9996 19V12H20.6996C21.1596 12 21.3796 11.43 21.0296 11.13L12.6696 3.6C12.2896 3.26 11.7096 3.26 11.3296 3.6L2.96961 11.13C2.62961 11.43 2.83961 12 3.29961 12H4.99961V19C4.99961 19.55 5.44961 20 5.99961 20H8.99961C9.54961 20 9.99961 19.55 9.99961 19Z"
              fill="#666666"
            />
          </svg>
          <span>Главная</span>
        </nuxt-link>
        <nuxt-link :class="{ active: '/catalog' === route }" prefetch :to="'/catalog'" class="nav__link">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M5 7H19C19.55 7 20 7.45 20 8C20 8.55 19.55 9 19 9H5C4.45 9 4 8.55 4 8C4 7.45 4.45 7 5 7Z"
              fill="#666666"
            />
            <path
              d="M5 13H19C19.55 13 20 12.55 20 12C20 11.45 19.55 11 19 11H5C4.45 11 4 11.45 4 12C4 12.55 4.45 13 5 13Z"
              fill="#666666"
            />
            <path
              d="M5 17H10C10.55 17 11 16.55 11 16C11 15.45 10.55 15 10 15H5C4.45 15 4 15.45 4 16C4 16.55 4.45 17 5 17Z"
              fill="#666666"
            />
            <path
              d="M5 21H10C10.55 21 11 20.55 11 20C11 19.45 10.55 19 10 19H5C4.45 19 4 19.45 4 20C4 20.55 4.45 21 5 21Z"
              fill="#666666"
            />
            <path
              d="M15.4096 18.17L14.6996 17.46C14.3096 17.07 13.6796 17.07 13.2896 17.46C12.8996 17.85 12.8996 18.48 13.2896 18.87L14.7096 20.29C15.0996 20.68 15.7296 20.68 16.1196 20.29L19.2896 17.12C19.6796 16.73 19.6796 16.1 19.2896 15.71C18.8996 15.32 18.2696 15.32 17.8796 15.71L15.4096 18.17Z"
              fill="#666666"
            />
            <path
              d="M4 4C4 4.55 4.45 5 5 5H19C19.55 5 20 4.55 20 4C20 3.45 19.55 3 19 3H5C4.45 3 4 3.45 4 4Z"
              fill="#666666"
            />
          </svg>
          <span>Категории</span>
        </nuxt-link>
        <nuxt-link :class="{ active: '/cart' === route }" prefetch :to="'/cart'" class="nav__link cart-btn">
          <div v-if="productsIdInCart.length > 0" class="cart__counter" :class="{ active: '/cart' === route }">
            {{ productsIdInCart.length }}
          </div>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M7 18C5.9 18 5.01 18.9 5.01 20C5.01 21.1 5.9 22 7 22C8.1 22 9 21.1 9 20C9 18.9 8.1 18 7 18ZM1 3C1 3.55 1.45 4 2 4H3L6.6 11.59L5.25 14.03C4.52 15.37 5.48 17 7 17H18C18.55 17 19 16.55 19 16C19 15.45 18.55 15 18 15H7L8.1 13H15.55C16.3 13 16.96 12.59 17.3 11.97L20.88 5.48C21.25 4.82 20.77 4 20.01 4H5.21L4.54 2.57C4.38 2.22 4.02 2 3.64 2H2C1.45 2 1 2.45 1 3ZM17 18C15.9 18 15.01 18.9 15.01 20C15.01 21.1 15.9 22 17 22C18.1 22 19 21.1 19 20C19 18.9 18.1 18 17 18Z"
              fill="#666666"
            />
          </svg>
          <span>Корзина</span>
        </nuxt-link>
        <nuxt-link
          :to="hasToken ? '/profile' : '/auth/login'"
          :class="{ active: route.includes('/profile') }"
          class="nav__link"
          prefetch
        >
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12 12C14.21 12 16 10.21 16 8C16 5.79 14.21 4 12 4C9.79 4 8 5.79 8 8C8 10.21 9.79 12 12 12ZM12 14C9.33 14 4 15.34 4 18V19C4 19.55 4.45 20 5 20H19C19.55 20 20 19.55 20 19V18C20 15.34 14.67 14 12 14Z"
              fill="#666666"
            />
          </svg>
          <span>Профиль</span>
        </nuxt-link>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  computed: {
    route() {
      return this.$route.path
    },
    hasToken() {
      return this.$store.getters['authModule/hasToken']
    },
    productsIdInCart() {
      return this.$store.getters['cartModule/productsIdInCart']
    },
  },
}
</script>

<style lang="scss" scoped>
.nav {
  display: flex;
  position: fixed;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 56px;
  background-color: $white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  z-index: 211;
  .container-mobile {
    display: flex;
    padding: 0 16px;
    width: 100%;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100% !important;
  }
  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      font-size: 12px;
      color: #666666;
    }
  }
}
.active {
  svg {
    path {
      fill: $green;
    }
  }
  span {
    color: $green;
    font-weight: 600;
  }
}

.cart-btn {
  position: relative;
  .cart__counter {
    position: absolute;
    top: 0;
    right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    font-size: 10px;
    background: $green;
    color: $white;
    border-radius: 50%;
  }
  .cart__counter.active {
    background: $white;
    color: $green;
    border: 1px solid $green;
  }
}
</style>
