<template>
  <header class="header">
    <div class="wrapper">
      <template v-if="!mainPage">
        <svg
          class="arrow-icon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          @click="btnAction"
        >
          <path d="M21 11H6.83L10.41 7.41L9 6L3 12L9 18L10.41 16.59L6.83 13H21V11Z" fill="#555555" />
        </svg>
      </template>
      <h4>{{ pageTitle }}</h4>
    </div>
  </header>
</template>

<script>
export default {
  props: {
    pageTitle: {
      default: '',
      type: String,
    },
    mainPage: {
      default: false,
      type: Boolean,
    },
    btnAction: {
      default: function () {},
      type: Function,
    },
  },
}
</script>

<style lang="scss" scoped>
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 14px 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
  background: $white;
  z-index: 900;
  .wrapper {
    display: flex;
    align-items: center;
    .menu-icon {
      margin-right: 32px;
      width: 22px;
      height: 15px;
    }
    .arrow-icon {
      margin-right: 32px;
    }
    h4 {
      font-size: 20px;
      color: $main-black;
    }
  }
}
</style>
