<template>
  <section class="section login">
    <ErrorModal
      v-if="formModal.error.status"
      :errorMessage="formModal.error.errorText"
      :btnText="'Попробовать снова'"
      @actionErrorModal="formModal.error.status = false"
    />
    <div class="container">
      <div class="login__wrapper">
        <div v-if="!$device.isMobile" class="login__breadcrumbs breadcrumbs">
          <nuxt-link class="breadcrumbs__mainPage" tag="span" to="/">Главная страница</nuxt-link>
          <span class="breadcrumbs__break"> / </span>
          <span>Вход</span>
        </div>
        <div class="login__content">
          <form class="login__form" @submit.prevent="login">
            <div class="login__form-title form--title">
              <h1>{{ $device.isMobile ? 'Добро пожаловать' : 'Вход' }}</h1>
              <span v-if="$device.isMobile">Войдите в систему, чтобы продолжить</span>
            </div>
            <div id="login" class="form--group">
              <the-mask
                v-model="$v.form.login.$model"
                type="text"
                class="form--input"
                :mask="['+#(###)-###-##-##', '+#(###)-###-##-##']"
                placeholder="Номер телефона"
                :class="{ 'form-group--error': $v.form.login.$error }"
              />
            </div>
            <div id="login" class="form--error">
              <span v-if="!$v.form.login.required && $v.form.login.$dirty">Обязательное поле</span>
            </div>
            <div class="form--group">
              <input
                id="home"
                v-model="$v.form.password.$model"
                placeholder="Пароль"
                :type="passwordshow ? 'text' : 'password'"
                class="form--input"
              />
              <div class="form--password-visible" @click="passwordshow = !passwordshow">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12 7C14.76 7 17 9.24 17 12C17 12.65 16.87 13.26 16.64 13.83L19.56 16.75C21.07 15.49 22.26 13.86 22.99 12C21.26 7.61 16.99 4.5 11.99 4.5C10.59 4.5 9.25 4.75 8.01 5.2L10.17 7.36C10.74 7.13 11.35 7 12 7ZM2 4.27L4.28 6.55L4.74 7.01C3.08 8.3 1.78 10.02 1 12C2.73 16.39 7 19.5 12 19.5C13.55 19.5 15.03 19.2 16.38 18.66L16.8 19.08L19.73 22L21 20.73L3.27 3L2 4.27ZM7.53 9.8L9.08 11.35C9.03 11.56 9 11.78 9 12C9 13.66 10.34 15 12 15C12.22 15 12.44 14.97 12.65 14.92L14.2 16.47C13.53 16.8 12.79 17 12 17C9.24 17 7 14.76 7 12C7 11.21 7.2 10.47 7.53 9.8ZM11.84 9.02L14.99 12.17L15.01 12.01C15.01 10.35 13.67 9.01 12.01 9.01L11.84 9.02Z"
                    fill="#9B9B9B"
                  />
                </svg>
              </div>
            </div>
            <div id="password" class="form--error">
              <span v-if="!$v.form.password.required && $v.form.password.$dirty">Обязательное поле</span>
            </div>
            <div class="login__forgotPassword">
              <nuxt-link tag="span" to="/login"> Забыли пароль? </nuxt-link>
            </div>
            <div class="form--group">
              <button type="submit" class="form--btn">Войти</button>
            </div>
            <div class="login__register">
              <p>Нет учетной записи? <nuxt-link tag="span" to="/auth/register">Зарегистрироваться</nuxt-link></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
export default {
  components: {
    ErrorModal: () => import('~/components/ErrorModal.vue')
  },
  data() {
    return {
      formModal: {
        error: {
          status: false,
          errorText: '',
        },
      },
      passwordshow: false,
      form: {
        login: '',
        password: '',
      },
    }
  },
  validations: {
    form: {
      login: {
        required,
      },
      password: {
        required,
      },
    },
  },
  methods: {
    login() {
      this.$v.form.$touch()
      if (this.$v.form.$error) {
        console.log('Error')
      } else {
        this.$axios({
          method: 'post',
          url: `${this.$axios.defaults.baseURL}/users/login/`,
          data: {
            phone: this.form.login,
            password: this.form.password,
          },
        })
          .then((res) => {
            if (res.data.status === 'ok') {
              this.$store.dispatch('authModule/login', res.data)
              this.$router.push('/catalog')
            } else {
              this.formModal.error.status = true
              this.formModal.error.errorText = 'Введенные Вами пароль или номер телефона не верны!'
            }
          })
          .catch(() => {
            this.formModal.error.status = true
            this.formModal.error.errorText = 'Введенные Вами пароль или номер телефона не верны!'
          })
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.login {
  padding-bottom: 205px !important;
}

.login__content {
  margin-top: 52px;
}

.login__form {
  max-width: 468px;
  margin: 0 auto;
}

.login__form-title {
  margin-bottom: 40px;
}

.login__forgotPassword {
  display: flex;
  justify-content: center;
  margin: 8px 0 20px 0;
  cursor: pointer;
  span {
    color: $border;
  }
}

.login__register {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  color: #767785;
  span {
    font-weight: 600;
    cursor: pointer;
  }
}

.form--password-visible {
  top: 12px;
}
</style>
