.form--title {
  display: flex;
  justify-content: center;
  h1 {
    font-size: 32px;
    font-weight: 600;
    color: $off-black;
  }
  @include responsive(mobile) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    h1 {
      color: $green;
      font-size: 24px;
      margin-bottom: 5px;
    }
    span {
      color: #505050;
      font-size: 14px;
    }
  }
}

.form--group {
  position: relative;
  width: 100%;
  margin-top: 20px;
  label {
    display: inline-block;
    font-size: 13px;
    margin-bottom: 5px;
    color: $border;
  }
  input {
    width: 100%;
    height: 48px;
    background: $white;
    border: 1px solid $border;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 15px;
    font-size: 16px;
    &::placeholder {
      font-size: 16px;
      color: #a1a1a1;
    }
  }
  input:disabled {
    background: #f1f1f1;
  }
  textarea {
    width: 100%;
    height: 48px;
    background: $white;
    border: 1px solid $border;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 15px;
    padding-top: 12px;
    font-size: 16px;
    &::placeholder {
      font-size: 16px;
      color: #a1a1a1;
    }
  }
}

.form--group:nth-child(1) {
  margin-top: 0;
}

.form-group--error {
  border: 1px solid red !important;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(255, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(255, 0, 0, 0.2);
}

.form--error {
  span {
    font-size: 12px;
    color: red;
  }
  margin-top: 5px;
  padding-left: 5px;
}

.form--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  color: #f8f8f8;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  background-color: $gold;
  cursor: pointer;
  img {
    width: 40px;
    height: 40px;
    margin-left: 5px;
  }
  @include responsive(mobile) {
    background: $green;
  }
}

.form--btn-outline {
  width: 100%;
  height: 48px;
  color: $gold;
  border: 1px solid $gold;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  background-color: #fff;
  cursor: pointer;
}

.form--radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form--radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.form--radio + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid $border;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
/* стили при наведении курсора на радио */
.form--radio:not(:disabled):not(:checked) + label:hover::before {
  border-color: #90bda8;
}
/* стили для активной радиокнопки (при нажатии на неё) */
.form--radio:not(:disabled):active + label::before {
  background-color: #90bda8;
  border-color: #90bda8;
}
/* стили для радиокнопки, находящейся в фокусе */
.form--radio:focus + label::before {
  box-shadow: 0 0 0 0.1rem $green;
}
/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.form--radio:focus:not(:checked) + label::before {
  border-color: #90bda8;
}
/* стили для радиокнопки, находящейся в состоянии checked */
.form--radio:checked + label::before {
  border-color: $green;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='4' fill='%23196643'/%3e%3c/svg%3e");
}
/* стили для радиокнопки, находящейся в состоянии disabled */
.form--radio:disabled + label::before {
  background-color: #e9ecef;
}

.form-check {
  margin-bottom: 24px;
  label {
    font-size: 18px;
    font-weight: 400;
    color: #3a3a3c;
    cursor: pointer;
  }
}

.form-check:nth-last-child(1) {
  margin-bottom: 0;
}

.form--check-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form--check-input + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.form--check-input + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid $border;
  border-radius: 4px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
}

.form--check-input:not(:disabled):not(:checked) + label:hover::before {
  border-color: #90bda8;
}

.form--check-input:not(:disabled):active + label::before {
  background-color: #90bda8;
  border-color: #90bda8;
}

.form--check-input:focus + label::before {
  box-shadow: 0 0 0 0.1rem $green;
}

.form--check-input:focus:not(:checked) + label::before {
  border-color: #90bda8;
}

.form--check-input:checked + label::before {
  border-color: $green;
  background-color: $green;
  background-image: url('~/assets/images/icons/check.svg');
  background-position: center;
}

.form--check-input:disabled + label::before {
  background-color: #e9ecef;
}

.form--select {
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  max-width: 296px;
  padding: 14px 0 14px 16px;
  font-size: 18px;
  // Hide default arrow
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  // New arrow styles
  background: transparent;
  background-image: url('~/assets/images/icons/arrow-down-sign-to-navigate.svg');
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
  background-size: 20px;
  padding-right: 4rem;
  &-item {
    font-size: 18px;
  }
}

.form--select:focus {
  box-shadow: 0 0 0 0.15rem $green;
}

// Mobile input
.form--mobile-input-group {
  position: relative;
  label {
    position: absolute;
    top: 12px;
    left: 16px;
    font-size: 16px;
    padding: 0 10px;
    color: #7c7c7c;
    -webkit-transition: top 0.15s ease-in-out, font-size 0.15s ease-in-out;
    transition: top 0.15s ease-in-out, font-size 0.15s ease-in-out;
    background-color: $white;
  }
}

.form--password-visible {
  position: absolute;
  right: 12px;
  top: 38px;
}

.form--mobile-input {
  width: 100%;
  height: 48px;
  background: $white;
  border: 1px solid $border;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 15px;
  font-size: 16px;
  color: $main-black;
  &:disabled {
    background: rgb(240, 240, 240);
  }
}
.form--mobile-input:focus {
  outline: none;
}

.form--mobile-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 35px;
  width: 100%;
  height: 48px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 4px;
  background: $green;
  color: $white;
  img {
    width: 40px;
    height: 40px;
    margin-left: 5px;
  }
}

.form--mobile-btn-outline {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 35px;
  width: 100%;
  height: 48px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 4px;
  font-weight: 600;
  border: 1px solid $green;
  color: $green;
  img {
    width: 40px;
    height: 40px;
    margin-left: 5px;
  }
}
