.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.section {
  padding: 60px 0 64px 0;
  // @include responsive(mobile) {
  //   padding: 24px 0 0 0;
  // }
}

.btn {
  background: $gold;
  border-radius: 24px;
  padding: 0 35px;
  color: $white;
  height: 48px;
  font-size: 18px;
  font-weight: 500;
}

.main__btn {
  border-radius: 24px !important;
}

.cart-delete--btn {
  background: $white !important;
  border: 1px solid $red !important;
  color: $red !important;
}

.btn-outline {
  background: $white;
  border: 1px solid $gold;
  border-radius: 8px;
  padding: 0 35px;
  color: $gold;
  height: 48px;
  font-size: 18px;
  font-weight: 500;
}

.section__title {
  margin: 48px 0 50px 0;
  h1 {
    font-size: 34px;
    color: $black;
  }
}

.title__wrapper {
  position: relative;
  padding-bottom: 10px;
  @include responsive(mobile) {
    width: 100%;
    padding-bottom: 0;
    &::before {
      display: none;
    }
  }
  &::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 25%;
    width: 45%;
    height: 2px;
    border-radius: 50%;
    background: $gold;
  }
}

.title {
  font-size: 32px;
  font-weight: 600;
  @include responsive(mobile) {
    font-size: 24px;
    text-align: left;
  }
}

// .desktop {
//   @include responsive(mobile) {
//     display: none;
//   }
// }

// .mobile {
//   @include responsive(extra) {
//     display: none;
//   }
// }

// Header back btn
.close-bar {
  @include responsive(extra) {
    display: none;
  }
  display: flex;
  align-items: center;
  font-weight: 400;
  padding: 10px;
  background: $white;
  position: fixed;
  text-decoration: none;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  span {
    font-size: 14px;
  }
}

// Custom select
.custom-select {
  &__label {
    font-size: 16px;
    font-weight: 600;
  }
  &__input {
    margin-top: 8px;
  }
}

// Breadcrumbs
.breadcrumbs__mainPage {
  color: $border;
  cursor: pointer;
}

.breadcrumbs__break {
  margin: 0 10px;
}

// Transition
.slide-up-enter-active {
  transition: all 0.3s ease;
}
.slide-up-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-up-enter,
.slide-up-leave-to {
  transform: translateY(50px);
  opacity: 0;
}

.slide-down-enter-active {
  transition: all 0.3s ease;
}
.slide-down-leave-active {
  transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-down-enter, .slide-down-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(100px);
  opacity: 0;
}

.slide-left-enter-active {
  transition: all 0.3s ease;
}

.slide-left-leave-active {
  transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-left-enter,
.slide-down-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

// .page-enter-active{
//   @include responsive(mobile) {
//     transition: all 0.3s ease;
//   }
// }
// .page-leave-active {
//   @include responsive(mobile) {
//     transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
//   }
// }
// .page-enter, .page-leave-to {
//   @include responsive(mobile) {
//     transform: translateX(100%);
//     opacity: 0;
//   }
// }

// Vuetify Stepper Custom styles
.v-stepper {
  width: 100%;
  height: 100% !important;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  box-shadow: none !important;
  background: none !important;
}

.v-stepper__items {
  width: 100%;
  height: 100%;
}

.v-stepper__wrapper {
  width: 100%;
  height: 100%;
}

.v-stepper__content {
  width: 100%;
  height: 100% !important;
  padding: 0 !important;
}

// Pagination

.v-pagination__item--active {
  background-color: $green !important;
}
