@mixin responsive($size) {
  @if $size == mobile {
    @media (max-width: 926px) {
      @content;
    }
  } @else if $size == mini-desktop {
    @media (min-width: 926px) and (max-width: 1024px) {
      @content;
    }
  } @else if $size == small-desktop {
    @media (min-width: 1025px) and (max-width: 1200px) {
      @content;
    }
  } @else if $size == medium-desktop {
    @media (min-width: 1201px) and (max-width: 1440px) {
      @content;
    }
  } @else if $size == large-desktop {
    @media (min-width: 1441px) and (max-width: 2000px) {
      @content;
    }
  } @else if $size == extra {
    @media (min-width: 926px) and (max-width: 4096px) {
      @content;
    }
  }
}