$green: #196643;
$light-grey: #878787;
$white: #ffffff;
$off-wight: #f9f9f9;
$gold: #ddab40;
$label: #737373;
$black: #222331;
$off-black: #060606;
$main-black: #1c1c1c;
$red: #ea4035;
$border: #bbbbc2;

$size: 14px;
$margin: 8px;
$max-width: 1280px;
$font-family: 'OpenSans';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
  font-size: $size;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
}
ul {
  list-style: none;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
#__nuxt {
  height: 100%;
}
#__layout {
  height: 100%;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'), url(~assets/fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'CrimsonText';
  src: local('CrimsonText'), url(~assets/fonts/CrimsonText-Regular.ttf) format('truetype');
}
