<template>
  <div :class="!isMobile ? 'section address' : 'section'">
    <div class="container">
      <MobileHeader v-if="isMobile" :pageTitle="'Адреса'" :mainPage="false" :btnAction="previousStep" />
      <SuccessModal
        v-if="formModal.success.status"
        :successMessage="formModal.success.msgTxt"
        :btnText="'Понял'"
        @actionSuccessModal="successModalAction"
      />
      <ErrorModal
        v-if="formModal.error.status"
        :errorMessage="formModal.error.msgTxt"
        :btnText="'Попробовать снова'"
        @actionErrorModal="formModal.error.status = false"
      />
      <v-stepper v-model="addressStepper">
        <v-stepper-items>
          <v-stepper-content step="1">
            <div class="address__content">
              <div class="address__items">
                <template v-if="!addresses.length">
                  <p class="text-center">У вас нет адреса</p>
                </template>
                <div v-for="item in addresses" :key="item.id" class="address__item" @click.prevent="editAddress(item)">
                  <div class="address__item-left">
                    <div class="address__item-icon">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M9.99961 19V14H13.9996V19C13.9996 19.55 14.4496 20 14.9996 20H17.9996C18.5496 20 18.9996 19.55 18.9996 19V12H20.6996C21.1596 12 21.3796 11.43 21.0296 11.13L12.6696 3.6C12.2896 3.26 11.7096 3.26 11.3296 3.6L2.96961 11.13C2.62961 11.43 2.83961 12 3.29961 12H4.99961V19C4.99961 19.55 5.44961 20 5.99961 20H8.99961C9.54961 20 9.99961 19.55 9.99961 19Z"
                          fill="#ffffff"
                        />
                      </svg>
                    </div>
                    <span> {{ item.street }}, {{ item.house }} </span>
                  </div>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9.28957 15.881L13.1696 12.001L9.28957 8.12096C8.89957 7.73096 8.89957 7.10096 9.28957 6.71096C9.67957 6.32096 10.3096 6.32096 10.6996 6.71096L15.2896 11.301C15.6796 11.691 15.6796 12.321 15.2896 12.711L10.6996 17.301C10.3096 17.691 9.67957 17.691 9.28957 17.301C8.90957 16.911 8.89957 16.271 9.28957 15.881Z"
                      fill="#666666"
                    />
                  </svg>
                </div>
              </div>
              <div class="add-btn">
                <button class="form--mobile-btn" @click="nextStep(2)">Добавить адрес</button>
              </div>
            </div>
          </v-stepper-content>
          <v-stepper-content step="2">
            <form class="address__form">
              <div class="input__wrapper">
                <div class="form--group">
                  <label for="street">Улица</label>
                  <input id="street" v-model="address.street" type="text" placeholder="" class="form--mobile-input" />
                  <div id="street" class="form--error">
                    <span v-if="!$v.address.street.required && $v.address.street.$dirty">Обязательное поле</span>
                  </div>
                </div>
                <div class="form--group">
                  <label for="house">Дом</label>
                  <input id="house" v-model="address.house" type="text" class="form--mobile-input" />
                  <div id="house" class="form--error">
                    <span v-if="!$v.address.house.required && $v.address.house.$dirty">Обязательное поле</span>
                  </div>
                </div>
                <div class="form--group">
                  <label for="apartment">Квартира</label>
                  <input id="apartment" v-model="address.apartment" type="text" class="form--mobile-input" />
                </div>
                <div class="form--group">
                  <label for="floor">Этаж</label>
                  <input id="floor" v-model="address.floor" type="text" class="form--mobile-input" />
                </div>
                <div class="form--group">
                  <label for="entrance">Подъезд</label>
                  <input id="entrance" v-model="address.entrance" type="text" class="form--mobile-input" />
                </div>
              </div>
              <button v-if="actionEditStatus" class="form--mobile-btn-outline mt-5" @click.prevent="deleteAddress">
                Удалить
              </button>
              <button class="form--mobile-btn mt-5" @click.prevent="sendAddress">Сохранить</button>
            </form>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </div>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import SuccessModal from '~/components/SuccessModal.vue'
import ErrorModal from '~/components/ErrorModal.vue'
export default {
  components: {
    MobileHeader: () => import('@/components/UI/MobileHeader.vue'),
    SuccessModal,
    ErrorModal,
  },
  data() {
    return {
      viewWidth: '',
      isMobile: false,
      actionEditStatus: false,
      addressId: '',
      addressStepper: 1,
      autocomplete: '',
      addresses: [],
      formModal: {
        success: {
          status: false,
          msgTxt: '',
        },
        error: {
          status: false,
          msgTxt: '',
        },
      },
      address: {
        street: '',
        house: '',
        apartment: '',
        floor: '',
        entrance: '',
      },
      location: {
        lat: 0,
        lng: 0,
      },
    }
  },
  validations: {
    address: {
      street: {
        required,
      },
      house: {
        required,
      },
    },
  },
  watch: {
    viewWidth: function (el) {
      if (el < 926) {
        this.isMobile = true
      } else {
        this.isMobile = false
      }
    },
    addressStepper: function (el) {
      if (el === 1) {
        this.getAddresses()
      }
    },
  },
  mounted() {
    this.getAddresses()
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition((pos) => {
        this.location.lat = pos.coords.latitude
        this.location.lng = pos.coords.longitude
      })
    } else {
      console.log("geo is't supported")
    }
    this.viewWidth = document.documentElement.clientWidth
    window.addEventListener('resize', () => {
      this.viewWidth = document.documentElement.clientWidth
    })
    const center = this.location
    const defaultBounds = {
      north: center.lat + 0.2,
      south: center.lat - 0.2,
      east: center.lng + 0.2,
      west: center.lng - 0.2,
    }
    const input = document.getElementById('street')
    const options = {
      bounds: defaultBounds,
      componentRestrictions: { country: 'kz' },
      strictBounds: false,
      fields: ['address_components', 'geometry', 'name'],
      types: ['geocode'],
    }
    this.autocomplete = new google.maps.places.Autocomplete(input, options)
    this.autocomplete.addListener('place_changed', () => {
      const placeResult = this.autocomplete.getPlace()
      placeResult.address_components.forEach((el) => {
        const addressType = el.types[0]
        switch (addressType) {
          case 'route':
            this.address.street = el.long_name
            break
          case 'street_number':
            this.address.house = el.long_name
            break
        }
      })
    })
  },
  methods: {
    nextStep(val) {
      this.addressStepper = val
    },
    successModalAction() {
      this.formModal.success.status = false
      this.nextStep(1)
    },
    previousStep() {
      return this.addressStepper === 1 ? this.$router.go(-1) : this.addressStepper--
    },
    editAddress(item) {
      this.address = {
        street: item.street,
        house: item.house,
        apartment: item.apartment,
        floor: item.floor,
        entrance: item.entrance,
        id: item.id,
      }
      this.actionEditStatus = true
      this.addressId = item.id
      this.nextStep(2)
    },
    deleteAddress() {
      this.$axios({
        method: 'delete',
        url: `${this.$axios.defaults.baseURL}/location/my/address/`,
        data: {
          id: this.addressId,
        },
        headers: {
          Authorization: `Token ${sessionStorage.getItem('token')}`,
        },
      })
        .then((res) => {
          if (res.data.status === 'ok') {
            this.formModal.success.status = true
            this.formModal.success.msgTxt = 'Адрес успешно удален!'
          }
        })
        .catch((err) => {
          this.formModal.error.status = true
          this.formModal.error.msgTxt = err
        })
    },
    getAddresses() {
      this.$axios({
        method: 'get',
        url: `${this.$axios.defaults.baseURL}/location/my/address/`,
        headers: {
          Authorization: `Token ${sessionStorage.getItem('token')}`,
        },
      })
        .then((res) => {
          this.addresses = res.data
        })
        .catch((err) => {
          console.log(err)
        })
    },
    sendAddress() {
      this.$v.address.$touch()
      if (this.$v.address.$error) {
        console.log('Error')
      } else if (!this.actionEditStatus) {
        this.$axios({
          method: 'post',
          url: `${this.$axios.defaults.baseURL}/location/my/address/`,
          data: this.address,
          headers: {
            Authorization: `Token ${sessionStorage.getItem('token')}`,
          },
        })
          .then((res) => {
            if (res.data.status === 'ok') {
              this.formModal.success.status = true
              this.formModal.success.msgTxt = 'Адрес успешно добавлен!'
            }
          })
          .catch((err) => {
            this.formModal.error.status = true
            this.formModal.error.msgTxt = err
          })
      } else if (this.actionEditStatus) {
        this.$axios({
          method: 'put',
          url: `${this.$axios.defaults.baseURL}/location/my/address/change/${this.address.id}`,
          data: this.address,
          headers: {
            Authorization: `Token ${sessionStorage.getItem('token')}`,
          },
        })
          .then((res) => {
            if (res.data.status === 'ok') {
              this.formModal.success.status = true
              this.formModal.success.msgTxt = 'Адрес успешно изменен!'
            }
          })
          .catch((err) => {
            this.formModal.error.status = true
            this.formModal.error.msgTxt = err
          })
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.address__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 50px;
}
.address__items {
  margin-top: 15px;
  .address__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ececec;
    &-left {
      display: flex;
      align-items: center;
      span {
        font-size: 16px;
        color: $main-black;
      }
    }
    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 40px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: $gold;
      margin-right: 12px;
    }
  }
  .address__item:nth-last-child(1) {
    border-bottom: 0;
  }
}

.address__form {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
  .form--mobile-input-group {
    margin-bottom: 20px;
  }
}

.add-btn {
  position: fixed;
  left: 0;
  bottom: 66px;
  width: 100%;
  padding: 0 16px;
}
</style>
