<template>
  <div :class="!isMobile ? 'section card' : 'section'">
    <div class="container">
      <MobileHeader v-if="isMobile" :pageTitle="'Привязанные карты'" :mainPage="false" :btnAction="previousStep" />
      <v-stepper v-model="cardStepper">
        <v-stepper-items>
          <v-stepper-content step="1">
            <div class="card__content">
              <div class="card__items">
                <div class="card__item">
                  <div class="card__item-left">
                    <div class="card__item-icon">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M20 4H4C2.89 4 2.01 4.89 2.01 6L2 18C2 19.11 2.89 20 4 20H20C21.11 20 22 19.11 22 18V6C22 4.89 21.11 4 20 4ZM19 18H5C4.45 18 4 17.55 4 17V12H20V17C20 17.55 19.55 18 19 18ZM20 8H4V6H20V8Z"
                          fill="white"
                        />
                      </svg>
                    </div>
                    <span> MasterCard, *5588 </span>
                  </div>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9.28957 15.881L13.1696 12.001L9.28957 8.12096C8.89957 7.73096 8.89957 7.10096 9.28957 6.71096C9.67957 6.32096 10.3096 6.32096 10.6996 6.71096L15.2896 11.301C15.6796 11.691 15.6796 12.321 15.2896 12.711L10.6996 17.301C10.3096 17.691 9.67957 17.691 9.28957 17.301C8.90957 16.911 8.89957 16.271 9.28957 15.881Z"
                      fill="#666666"
                    />
                  </svg>
                </div>
                <div class="card__item">
                  <div class="card__item-left">
                    <div class="card__item-icon">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M20 4H4C2.89 4 2.01 4.89 2.01 6L2 18C2 19.11 2.89 20 4 20H20C21.11 20 22 19.11 22 18V6C22 4.89 21.11 4 20 4ZM19 18H5C4.45 18 4 17.55 4 17V12H20V17C20 17.55 19.55 18 19 18ZM20 8H4V6H20V8Z"
                          fill="white"
                        />
                      </svg>
                    </div>
                    <span> Visa, *8914 </span>
                  </div>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9.28957 15.881L13.1696 12.001L9.28957 8.12096C8.89957 7.73096 8.89957 7.10096 9.28957 6.71096C9.67957 6.32096 10.3096 6.32096 10.6996 6.71096L15.2896 11.301C15.6796 11.691 15.6796 12.321 15.2896 12.711L10.6996 17.301C10.3096 17.691 9.67957 17.691 9.28957 17.301C8.90957 16.911 8.89957 16.271 9.28957 15.881Z"
                      fill="#666666"
                    />
                  </svg>
                </div>
              </div>
              <div class="add-btn">
                <button class="form--mobile-btn" @click="nextStep(2)">Добавить карту</button>
              </div>
            </div>
          </v-stepper-content>
          <v-stepper-content step="2">
            <form class="card__form" @submit.prevent="fecthNewCard">
              <div class="input__wrapper">
                <div class="form--group">
                  <label for="street">Номер карты</label>
                  <the-mask
                    id="street"
                    v-model="card.cardNumber"
                    type="tel"
                    :mask="['####-####-####-####']"
                    class="form--mobile-input"
                  />
                </div>
                <div class="form--group">
                  <label for="home">ММ/ГГ</label>
                  <the-mask
                    id="home"
                    v-model="card.date"
                    type="tel"
                    :mask="['##' + '/' + '##']"
                    class="form--mobile-input"
                  />
                </div>
                <div class="form--group">
                  <label for="apartment">CVC/CVV</label>
                  <the-mask id="apartment" v-model="card.cvv" type="tel" :mask="['###']" class="form--mobile-input" />
                </div>
                <div class="form--group">
                  <label for="floor">Имя на карте</label>
                  <input id="floor" v-model="card.cardName" type="text" class="form--mobile-input" />
                </div>
              </div>
              <button class="form--mobile-btn mt-5" @click="nextStep(1)">Сохранить</button>
            </form>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    MobileHeader: () => import('@/components/UI/MobileHeader.vue'),
  },
  data() {
    return {
      viewWidth: '',
      isMobile: false,
      cardStepper: 1,
      card: {
        cardNumber: null,
        date: null,
        cvv: null,
        cardName: null,
      },
    }
  },
  watch: {
    viewWidth: function (el) {
      if (el < 926) {
        this.isMobile = true
      } else {
        this.isMobile = false
      }
    },
  },
  mounted() {
    this.viewWidth = document.documentElement.clientWidth
    window.addEventListener('resize', () => {
      this.viewWidth = document.documentElement.clientWidth
    })
  },
  methods: {
    nextStep(val) {
      this.cardStepper = val
    },
    fecthNewCard() {
      console.log('sss')
    },
    previousStep() {
      return this.cardStepper === 1 ? this.$router.go(-1) : this.cardStepper--
    },
  },
}
</script>

<style lang="scss" scoped>
.card__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 20px;
}
.card__items {
  margin-top: 15px;
  .card__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ececec;
    &-left {
      display: flex;
      align-items: center;
      span {
        font-size: 16px;
        color: $main-black;
      }
    }
    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 40px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: $gold;
      margin-right: 12px;
    }
  }
  .card__item:nth-last-child(1) {
    border-bottom: 0;
  }
}

.card__form {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
  .form--mobile-input-group {
    margin-bottom: 20px;
  }
}

.add-btn {
  position: fixed;
  left: 0;
  bottom: 66px;
  width: 100%;
  padding: 0 16px;
}
</style>
