<template>
  <div :class="!$device.isMobile ? 'section profile' : 'section'">
    <div class="container">
      <MobileHeader v-if="$device.isMobile" :pageTitle="'Профиль'" :mainPage="true" />
      <Loader v-if="loader" />
      <SuccessModal
        v-if="formModal.success"
        :successMessage="'Данные успешно обновлены!'"
        :btnText="'Понял'"
        @actionSuccessModal="formModal.success = false"
      />
      <ErrorModal
        v-if="formModal.error"
        :errorMessage="'Данные неверно указаны!'"
        :btnText="'Попробовать снова'"
        @actionErrorModal="formModal.error = false"
      />
      <div v-if="$device.isDesktop" class="desktop">
        <div class="register__breadcrumbs breadcrumbs">
          <nuxt-link class="breadcrumbs__mainPage" tag="span" to="/">Главная страница</nuxt-link>
          <span class="breadcrumbs__break"> / </span>
          <span>Профиль</span>
        </div>
        <div class="profile__content">
          <div class="section__title">
            <h1>Мой профиль</h1>
          </div>
          <div class="profile__cards">
            <div class="profile__cards-left">
              <div class="personalData card">
                <h4 class="card-title">Данные учетной записи</h4>
                <div class="personalData__body">
                  <div v-if="userRole === 1" class="custom-edit-group">
                    <span>ФИО</span>
                    <div class="custom-edit-input">
                      <input
                        v-model="user.name"
                        type="text"
                        class="form--mobile-input"
                        :disabled="desktopForm.editName"
                      />
                      <transition name="slide-left">
                        <button v-if="!desktopForm.editName" class="add-btn ml-3" @click="addName">
                          <img src="~/assets/images/icons/addIcon.svg" alt="addIcon" />
                        </button>
                      </transition>
                      <button class="edit-btn" @click.stop="editName">
                        <img src="~/assets/images/icons/edit.svg" alt="edit-icon" />
                      </button>
                    </div>
                  </div>
                  <div v-else class="custom-edit-group">
                    <span>Название организации</span>
                    <div class="custom-edit-input">
                      <input
                        v-model="user.name"
                        type="text"
                        class="form--mobile-input"
                        :disabled="desktopForm.editName"
                      />
                      <transition name="slide-left">
                        <button v-if="!desktopForm.editName" class="add-btn ml-3" @click="addName">
                          <img src="~/assets/images/icons/addIcon.svg" alt="addIcon" />
                        </button>
                      </transition>
                      <button class="edit-btn" @click.stop="editName">
                        <img src="~/assets/images/icons/edit.svg" alt="edit-icon" />
                      </button>
                    </div>
                  </div>
                  <div v-if="userRole === 2" class="custom-edit-group">
                    <span>БИН/ИИН организации</span>
                    <div class="custom-edit-input">
                      <input
                        v-model="user.bin_iin"
                        type="text"
                        class="form--mobile-input"
                        :disabled="desktopForm.editBiin"
                      />
                      <transition name="slide-left">
                        <button v-if="!desktopForm.editBiin" class="add-btn ml-3" @click="addBiin">
                          <img src="~/assets/images/icons/addIcon.svg" alt="addIcon" />
                        </button>
                      </transition>
                      <button class="edit-btn" @click.stop="editBiin">
                        <img src="~/assets/images/icons/edit.svg" alt="edit-icon" />
                      </button>
                    </div>
                  </div>
                  <div class="custom-edit-group">
                    <span>Мобильный</span>
                    <div class="custom-edit-input">
                      <the-mask
                        id="phone"
                        v-model="user.phone"
                        type="text"
                        :disabled="desktopForm.editPhone"
                        :mask="['+#(###)-###-##-##', '+#(###)-###-##-##']"
                        class="form--mobile-input"
                      />
                      <transition name="slide-left">
                        <button v-if="!desktopForm.editPhone" class="add-btn ml-3" @click="addPhone">
                          <img src="~/assets/images/icons/addIcon.svg" alt="addIcon" />
                        </button>
                      </transition>
                      <button class="edit-btn" @click.stop="editPhone">
                        <img src="~/assets/images/icons/edit.svg" alt="edit-icon" />
                      </button>
                    </div>
                  </div>
                  <div class="custom-edit-group">
                    <span>Страна</span>
                    <div class="custom-edit-input">
                      <span>Казахстан</span>
                      <!-- <div class="edit-btn">
                        <img src="~/assets/images/icons/edit.svg" alt="edit-icon" />
                      </div> -->
                    </div>
                  </div>
                  <div class="custom-edit-group">
                    <span>Город</span>
                    <div class="custom-edit-input">
                      <CustomMobileSelect
                        :defaultValue="cityDefaultValue"
                        :modalClass="'desktopModal'"
                        :modalTitle="'Город'"
                        :disabled="desktopForm.editCity"
                        :options="cityOptions"
                        @input="citySelected"
                      />
                      <transition name="slide-left">
                        <button v-if="!desktopForm.editCity" class="add-btn ml-3" @click="addCity">
                          <img src="~/assets/images/icons/addIcon.svg" alt="addIcon" />
                        </button>
                      </transition>
                      <button class="edit-btn" @click.stop="editCity">
                        <img src="~/assets/images/icons/edit.svg" alt="edit-icon" />
                      </button>
                    </div>
                  </div>
                  <div class="custom-edit-group">
                    <span>Пароль</span>
                    <div class="custom-edit-input">
                      <nuxt-link style="color: #3a3a3c; font-size: 20px" to="/profile/reset-password"
                        >Изменить</nuxt-link
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="bonuses card">
                <h4 class="card-title">Мои бонусы: 10</h4>
                <div class="bonuses__body">
                  <span>Соверши онлайн покупку и получи 5% кэшбэк со всех своих покупок</span>
                  <nuxt-link class="bonuses__text" to="/catalog">Перейти в каталог продукции</nuxt-link>
                </div>
              </div>
            </div>
            <div class="profile__cards-right">
              <div class="orderHistory card">
                <h4 class="card-title">История заказов</h4>
                <div class="orderHistory__body">
                  <div
                    v-for="item in orderHistory.slice().reverse()"
                    :key="item.id"
                    class="orderHistory__item"
                    @click="showOrderHistoryDetail(item)"
                  >
                    <h4 class="orderHistory__item-number">Заказ №{{ item.id }}</h4>
                    <span>{{ item.date }} - {{ $globalFunctions.getStatusString(item.status) }}</span>
                    <h4 class="orderHistory__item-price">
                      {{ $globalFunctions.getTotalPrice(item.product_order) | splitNumber }} ₸
                    </h4>
                  </div>
                </div>
              </div>
              <AddressComponent />
              <div class="payment card">
                <h4 class="card-title">Карты и оплаты</h4>
                <div class="payment__body">
                  <transition-group name="slide-up">
                    <div v-if="!cardsIsHas" :key="1" class="card-add-btn" @click="cardsIsHas = true">
                      <img src="~/assets/images/icons/add.svg" alt="add" />
                      <span>Добавить адрес</span>
                    </div>
                    <div v-else :key="2">
                      <form class="profile-card-form-card">
                        <div class="card-form-group" style="grid-area: a">
                          <label for="address">Номер карты <span class="red">*</span></label>
                          <input id="address" class="card-form-input" type="text" />
                        </div>
                        <div class="card-form-group" style="grid-area: b">
                          <label for="address">ММ/ГГ <span class="red">*</span></label>
                          <input id="address" class="card-form-input" type="text" />
                        </div>
                        <div class="card-form-group" style="grid-area: c">
                          <label for="address">CVC/CVV * <span class="red">*</span></label>
                          <input id="address" class="card-form-input" type="text" />
                        </div>
                        <div class="card-form-group" style="grid-area: d">
                          <label for="address">Имя на карте * <span class="red">*</span></label>
                          <input id="address" class="card-form-input" type="text" />
                        </div>
                        <div class="card-form-group" style="align-items: flex-end; grid-area: e">
                          <button class="form--btn" style="width: 200px">Сохранить</button>
                        </div>
                      </form>
                    </div>
                  </transition-group>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="$device.isMobile" class="mobile">
        <div class="mobile__top">
          <div class="mobile__top-avatar">
            <input type="file" class="avatar__upload" @change="uploadAvatar" />
            <svg
              v-if="!user.avatar"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 5C13.66 5 15 6.34 15 8C15 9.66 13.66 11 12 11C10.34 11 9 9.66 9 8C9 6.34 10.34 5 12 5ZM12 19.2C9.5 19.2 7.29 17.92 6 15.98C6.03 13.99 10 12.9 12 12.9C13.99 12.9 17.97 13.99 18 15.98C16.71 17.92 14.5 19.2 12 19.2Z"
                fill="white"
              />
            </svg>
            <img v-else :src="user.avatar" alt="avatar" />
          </div>
          <div class="mobile__top-info">
            <h4>{{ user.name }}</h4>
            <span>Бонусы: 0 ₸</span>
          </div>
        </div>
        <div class="mobile__menu">
          <span class="mobile__menu-title">Настройки аккаунта</span>
          <div class="mobile__menu-personalData">
            <nuxt-link to="/profile/personal-data" class="menu-item">
              <span>Личные данные</span>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M9.28957 15.881L13.1696 12.001L9.28957 8.12096C8.89957 7.73096 8.89957 7.10096 9.28957 6.71096C9.67957 6.32096 10.3096 6.32096 10.6996 6.71096L15.2896 11.301C15.6796 11.691 15.6796 12.321 15.2896 12.711L10.6996 17.301C10.3096 17.691 9.67957 17.691 9.28957 17.301C8.90957 16.911 8.89957 16.271 9.28957 15.881Z"
                  fill="#666666"
                />
              </svg>
            </nuxt-link>
            <nuxt-link to="/profile/address" class="menu-item">
              <span>Адреса</span>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M9.28957 15.881L13.1696 12.001L9.28957 8.12096C8.89957 7.73096 8.89957 7.10096 9.28957 6.71096C9.67957 6.32096 10.3096 6.32096 10.6996 6.71096L15.2896 11.301C15.6796 11.691 15.6796 12.321 15.2896 12.711L10.6996 17.301C10.3096 17.691 9.67957 17.691 9.28957 17.301C8.90957 16.911 8.89957 16.271 9.28957 15.881Z"
                  fill="#666666"
                />
              </svg>
            </nuxt-link>
            <nuxt-link to="/profile/cards" class="menu-item">
              <span>Привязанные карты</span>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M9.28957 15.881L13.1696 12.001L9.28957 8.12096C8.89957 7.73096 8.89957 7.10096 9.28957 6.71096C9.67957 6.32096 10.3096 6.32096 10.6996 6.71096L15.2896 11.301C15.6796 11.691 15.6796 12.321 15.2896 12.711L10.6996 17.301C10.3096 17.691 9.67957 17.691 9.28957 17.301C8.90957 16.911 8.89957 16.271 9.28957 15.881Z"
                  fill="#666666"
                />
              </svg>
            </nuxt-link>
            <nuxt-link to="/profile/reset-password" class="menu-item">
              <span>Изменить пароль</span>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M9.28957 15.881L13.1696 12.001L9.28957 8.12096C8.89957 7.73096 8.89957 7.10096 9.28957 6.71096C9.67957 6.32096 10.3096 6.32096 10.6996 6.71096L15.2896 11.301C15.6796 11.691 15.6796 12.321 15.2896 12.711L10.6996 17.301C10.3096 17.691 9.67957 17.691 9.28957 17.301C8.90957 16.911 8.89957 16.271 9.28957 15.881Z"
                  fill="#666666"
                />
              </svg>
            </nuxt-link>
          </div>
          <div class="mobile__menu-order">
            <nuxt-link to="/profile/orders" class="menu-item">
              <span>Заказы</span>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M9.28957 15.881L13.1696 12.001L9.28957 8.12096C8.89957 7.73096 8.89957 7.10096 9.28957 6.71096C9.67957 6.32096 10.3096 6.32096 10.6996 6.71096L15.2896 11.301C15.6796 11.691 15.6796 12.321 15.2896 12.711L10.6996 17.301C10.3096 17.691 9.67957 17.691 9.28957 17.301C8.90957 16.911 8.89957 16.271 9.28957 15.881Z"
                  fill="#666666"
                />
              </svg>
            </nuxt-link>
          </div>
          <span class="mobile__menu-title" style="margin-top: 8px; display: inline-block">Основная информация</span>
          <div class="mobile__menu-main">
            <div class="menu-item">
              <span>О нас</span>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M9.28957 15.881L13.1696 12.001L9.28957 8.12096C8.89957 7.73096 8.89957 7.10096 9.28957 6.71096C9.67957 6.32096 10.3096 6.32096 10.6996 6.71096L15.2896 11.301C15.6796 11.691 15.6796 12.321 15.2896 12.711L10.6996 17.301C10.3096 17.691 9.67957 17.691 9.28957 17.301C8.90957 16.911 8.89957 16.271 9.28957 15.881Z"
                  fill="#666666"
                />
              </svg>
            </div>
            <div class="menu-item">
              <span>Контакты</span>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M9.28957 15.881L13.1696 12.001L9.28957 8.12096C8.89957 7.73096 8.89957 7.10096 9.28957 6.71096C9.67957 6.32096 10.3096 6.32096 10.6996 6.71096L15.2896 11.301C15.6796 11.691 15.6796 12.321 15.2896 12.711L10.6996 17.301C10.3096 17.691 9.67957 17.691 9.28957 17.301C8.90957 16.911 8.89957 16.271 9.28957 15.881Z"
                  fill="#666666"
                />
              </svg>
            </div>
            <div class="menu-item">
              <span>О приложении</span>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M9.28957 15.881L13.1696 12.001L9.28957 8.12096C8.89957 7.73096 8.89957 7.10096 9.28957 6.71096C9.67957 6.32096 10.3096 6.32096 10.6996 6.71096L15.2896 11.301C15.6796 11.691 15.6796 12.321 15.2896 12.711L10.6996 17.301C10.3096 17.691 9.67957 17.691 9.28957 17.301C8.90957 16.911 8.89957 16.271 9.28957 15.881Z"
                  fill="#666666"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal windows -->
    <Modal
      v-show="isShowHistoryModal"
      :show="isShowHistoryModal"
      :scrollable="true"
      :modalClass="'history'"
      header-id="modalHeaderSMS"
      body-id="modalBodySMS"
      @close="toggleHistoryModal"
    >
      <template #header>
        <h2>История заказа</h2>
      </template>
      <template #body>
        <div class="orderHistory-modal__body">
          <div class="orderHistory-modal__top">
            <div class="orderHistory-modal__top-title">
              <h4>Заказ №{{ orderHistoryDetail.id }}</h4>
              <span
                >{{ orderHistoryDetail.date }} - {{ $globalFunctions.getStatusString(orderHistoryDetail.status) }}</span
              >
            </div>
            <div class="orderHistory-modal__top-items">
              <div v-if="orderHistoryDetail.counterparty" class="orderHistory-modal__top-item">
                <p>Получатель:</p>
                <span>{{ orderHistoryDetail.counterparty.name }}</span>
              </div>
              <div class="orderHistory-modal__top-item">
                <p>Адрес доставки:</p>
                <span>{{
                  orderHistoryDetail.delivery_address ? orderHistoryDetail.delivery_address : 'Не указан'
                }}</span>
              </div>
              <div class="orderHistory-modal__top-item">
                <p>Способ оплаты:</p>
                <span>{{ $globalFunctions.getPaymentString(orderHistoryDetail.type_payment) }}</span>
              </div>
              <div v-if="orderHistoryDetail.type_delivery == 2" class="orderHistory-modal__top-item">
                <p>Способ доставки:</p>
                <span>Через Yandex</span>
              </div>
              <div class="orderHistory-modal__top-item">
                <p>Способ доставки:</p>
                <span>Самовывоз</span>
              </div>
            </div>
          </div>
          <div class="orderHistory-modal__content">
            <div class="orderHistory-modal__content-top">
              <h4>Содержание заказа</h4>
              <div class="orderHistory-modal__content-top__items">
                <div
                  v-for="item in orderHistoryDetail.product_order"
                  :key="item.id"
                  class="orderHistory-modal__content-top__item"
                >
                  <span class="item-name">{{ item.product.name }}</span>
                  <span class="item-count">x {{ item.count }} шт</span>
                  <span class="item-price">{{ (item.count * item.product.price) | splitNumber }} ₸</span>
                </div>
              </div>
            </div>
            <div class="orderHistory-modal__content-bottom">
              <div class="orderHistory-modal__content-bottom__total">
                <span>Итого:</span>
                <h4 v-if="orderHistoryDetail.product_order">
                  {{ $globalFunctions.getTotalPrice(orderHistoryDetail.product_order) | splitNumber }} ₸
                </h4>
              </div>
            </div>
          </div>
          <div class="orderHistory-modal__content-btn">
            <button class="form--btn">Завершить регистрацию</button>
          </div>
        </div>
      </template>
    </Modal>
  </div>
</template>

<script>
export default {
  components: {
    Modal: () => import('@/components/Modal.vue'),
    MobileHeader: () => import('@/components/UI/MobileHeader.vue'),
    AddressComponent: () => import('~/components/profile/AddressComponent.vue'),
    CustomMobileSelect: () => import('~/components/shared/CustomMobileSelect.vue'),
    SuccessModal: () => import('~/components/SuccessModal.vue'),
    ErrorModal: () => import('~/components/ErrorModal.vue'),
    Loader: () => import('~/components/shared/LoaderComponent'),
  },
  filters: {
    splitNumber: function (value) {
      return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ' ')
    },
    maskedNumber: function (phone) {
      return phone.replace(/[^0-9]/g, '').replace(/(\d{1})(\d{3})(\d{3})(\d{3})/, '+ $1 ($2) $3-$4')
    },
  },
  data() {
    return {
      loader: false,
      formModal: {
        success: false,
        error: false,
      },
      desktopForm: {
        editName: true,
        editPhone: true,
        editCountry: true,
        editCity: true,
        editBiin: true,
      },
      userRole: null,
      cityOptions: [],
      orderHistory: [],
      orderHistoryDetail: {},
      cityDefaultValue: '',
      fetchCityData: {},
      isShowHistoryModal: false,
      addressIsHas: false,
      cardsIsHas: false,
      viewWidth: '',
      isMobile: false,
      user: {},
    }
  },
  mounted() {
    if (this.$device.isDesktop) {
      this.$axios({
        method: 'get',
        url: `${this.$axios.defaults.baseURL}/order/history/`,
        headers: {
          Authorization: `Token ${sessionStorage.getItem('token')}`,
        },
      })
        .then((res) => {
          this.orderHistory = res.data
        })
        .catch((err) => {
          this.loader = false
          console.log(err)
        })
      this.$axios({
        method: 'get',
        url: `${this.$axios.defaults.baseURL}/location/country/list/`,
      }).then((res) => {
        this.cityOptions = res.data.city
      })
    }
    this.loader = true
    this.userRole = JSON.parse(sessionStorage.getItem('userData')).role
    this.$axios({
      method: 'get',
      url: `${this.$axios.defaults.baseURL}/users/detail/${JSON.parse(sessionStorage.getItem('userData')).uid}/`,
      headers: {
        Authorization: `Token ${sessionStorage.getItem('token')}`,
      },
    })
      .then((res) => {
        this.cityDefaultValue = res.data.locations.split(',')[1]
        this.user = res.data
        this.loader = false
      })
      .catch((err) => {
        console.log(err)
      })
  },
  methods: {
    showOrderHistoryDetail(item) {
      this.isShowHistoryModal = true
      this.orderHistoryDetail = Object.assign({}, item)
    },
    toggleHistoryModal() {
      this.isShowHistoryModal = !this.isShowHistoryModal
    },
    uploadAvatar(el) {
      const formData = new FormData()
      formData.append('avatar', el.target.files[0])
      formData.append('phone', this.user.phone)
      this.$axios({
        method: 'put',
        url: `${this.$axios.defaults.baseURL}/users/detail/${JSON.parse(sessionStorage.getItem('userData')).uid}/`,
        data: formData,
        headers: {
          Authorization: `Token ${sessionStorage.getItem('token')}`,
        },
      })
        .then((res) => {
          console.log(res)
        })
        .catch((err) => {
          console.log(err)
        })
    },
    editName() {
      this.desktopForm.editName = !this.desktopForm.editName
    },
    editPhone() {
      this.desktopForm.editPhone = !this.desktopForm.editPhone
    },
    editCity() {
      this.desktopForm.editCity = !this.desktopForm.editCity
    },
    editBiin() {
      this.desktopForm.editBiin = !this.desktopForm.editBiin
    },
    addName() {
      const data = {
        name: this.user.name,
      }
      this.fetchUserData(data)
        .then(() => {
          this.desktopForm.editName = true
          this.formModal.success = true
        })
        .catch(() => {
          this.formModal.error = true
        })
    },
    addBiin() {
      const data = {
        bin_iin: this.user.bin_iin,
      }
      this.fetchUserData(data).then(() => {
        this.desktopForm.editBiin = true
      })
    },
    addPhone() {
      const data = {
        phone: this.user.phone,
      }
      this.fetchUserData(data)
        .then(() => {
          this.desktopForm.editPhone = true
          this.formModal.success = true
        })
        .catch(() => {
          this.formModal.error = true
        })
    },
    addCity() {
      const data = {
        city: this.fetchCityData.city,
      }
      this.fetchUserData(data)
        .then(() => {
          this.desktopForm.editCity = true
          this.formModal.success = true
        })
        .catch(() => {
          this.formModal.error = true
        })
    },
    fetchUserData(data) {
      return this.$axios({
        method: 'put',
        url: `${this.$axios.defaults.baseURL}/users/detail/${JSON.parse(sessionStorage.getItem('userData')).uid}/`,
        data: data,
        headers: {
          Authorization: `Token ${sessionStorage.getItem('token')}`,
        },
      })
    },
    citySelected(e) {
      if (e) {
        this.fetchCityData.city = e.id
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.red {
  color: red;
}
.profile {
  background: #e5e5e5;
}

.card-title {
  font-size: 22px;
  color: $black;
}

.card-subtitle {
  font-size: 16px;
  color: $main-black;
  font-weight: 600;
}

.card {
  padding: 32px;
  background: $white;
  border-radius: 16px;
}

.mobile {
  @include responsive(extra) {
    display: none;
  }
}

.custom-edit {
  &-group {
    margin-top: 26px;
    span {
      color: $label;
    }
  }
  &-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    span {
      color: #3a3a3c;
      font-size: 20px;
    }
    p {
      font-weight: 600;
      font-size: 20px;
      color: #3a3a3c;
      cursor: pointer;
    }
    .edit-btn {
      margin-left: 10px;
      cursor: pointer;
    }
  }
}

.profile__cards {
  display: grid;
  grid-template-columns: minmax(250px, 405px) 1fr;
  grid-column-gap: 32px;
  &-left {
    display: flex;
    flex-direction: column;
  }
}

.bonuses {
  margin-top: 32px;
  .bonuses__text {
    display: inline-block;
    font-size: 16px;
    color: #3a3a3c;
    font-weight: 600;
    margin-top: 12px;
    cursor: pointer;
  }
  &__body {
    margin-top: 20px;
    span {
      color: $label;
      font-size: 16px;
    }
  }
}

.pushSetting {
  margin-top: 32px;
  &__body {
    margin-top: 12px;
    span {
      font-size: 18px;
      color: #767785;
    }
  }
}

.orderHistory {
  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
}

.address {
  margin-top: 32px;
  &__body {
    margin-top: 24px;
  }
  .add-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      margin-right: 19px;
    }
    span {
      font-size: 18px;
      color: #222331;
      font-weight: 600;
    }
  }
}

.profile-card-form {
  display: grid;
  grid:
    'a a a a'
    'b c d e'
    'f f f f';
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  margin-top: 15px;
}

.card-form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  label {
    color: #837f7f;
    font-size: 18px;
  }
  .card-form-input {
    margin-top: 8px;
    width: 100%;
    height: 56px;
    border-radius: 4px;
    border: 1px solid $border;
  }
}

.profile-card-form-card {
  display: grid;
  grid:
    'a a'
    'b c'
    'd d'
    'e e';
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  margin-top: 15px;
}

.payment {
  margin-top: 32px;
}

.card-add-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 168px;
  background: #f1f3f5;
  padding: 24px 12px;
  margin-top: 20px;
  border-radius: 8px;
  cursor: pointer;
  span {
    margin-top: 5px;
  }
}

// History content
.orderHistory__body {
  display: flex;
  flex-direction: column;
}

.orderHistory__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  margin-bottom: 16px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
  cursor: pointer;
  span {
    color: $label;
    font-size: 14px;
  }
  &-number {
    color: $green;
    font-weight: 700;
    font-size: 20px;
  }
  &-price {
    color: $off-black;
    font-weight: 700;
    font-size: 20px;
  }
}
.orderHistory__item:nth-last-child(1) {
  margin-bottom: 0;
}

// Order history modal
.orderHistory-modal__top {
  display: flex;
  flex-direction: column;
  .orderHistory-modal__top-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4 {
      color: $green;
      font-weight: 700;
      font-size: 20px;
    }
    span {
      color: $label;
      font-size: 14px;
    }
  }
  .orderHistory-modal__top-items {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    .orderHistory-modal__top-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;
      p {
        color: $label;
        font-weight: 500;
        font-size: 16px;
      }
      span {
        color: $off-black;
        font-size: 14px;
      }
    }
    .orderHistory-modal__top-item:nth-child(1) {
      margin-top: 0;
    }
  }
}
.orderHistory-modal__content {
  border: 1.2px dashed #dbdbdb;
  margin-top: 25px;
}
.orderHistory-modal__content-top {
  padding: 16px;
  border-bottom: 1.2px dashed #dbdbdb;
  h4 {
    font-size: 18px;
  }
}
.orderHistory-modal__content-top__items {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.orderHistory-modal__content-top__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  .item-name {
    color: #525252;
    font-size: 15px;
  }
  .item-count {
    color: #525252;
    font-size: 15px;
  }
  .item-price {
    color: #525252;
    font-size: 15px;
  }
}
.orderHistory-modal__content-top__item:nth-child(1) {
  margin-top: 0;
}
.orderHistory-modal__content-bottom {
  display: flex;
  justify-content: flex-end;
  padding: 12px 16px;
}
.orderHistory-modal__content-bottom__total {
  display: flex;
  align-items: center;
  span {
    margin-right: 16px;
  }
}
.orderHistory-modal__content-btn {
  margin-top: 30px;
}

// Mobile section styles
.mobile {
  &__top {
    display: flex;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #ececec;
    &-avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 56px;
      height: 56px;
      margin-right: 24px;
      border-radius: 50%;
      background: $gold;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
      .avatar__upload {
        overflow: hidden;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    &-info {
      h4 {
        font-size: 20px;
        color: $main-black;
        margin-bottom: 4px;
      }
      span {
        font-weight: 600;
        font-size: 16px;
        color: $green;
      }
    }
  }
  &__menu {
    margin-top: 16px;
    &-title {
      color: $light-grey;
      font-size: 16px;
      font-weight: 500;
    }
    &-personalData {
      margin-top: 8px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ececec;
    }
    &-order {
      margin-top: 8px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ececec;
    }
    &-main {
      margin-top: 8px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ececec;
    }
  }
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  span {
    font-size: 16px;
    color: $main-black;
  }
}
</style>
