<template>
  <div :class="!isMobile ? 'section orders' : 'section'">
    <div class="container">
      <MobileHeader v-if="isMobile" :pageTitle="'Заказы'" :mainPage="false" :btnAction="previousStep" />
      <Loader v-if="loader" />
      <v-stepper v-model="ordersStepper">
        <v-stepper-items>
          <v-stepper-content step="1">
            <div class="orders__content">
              <div class="orders__items">
                <div
                  v-for="item in orderHistory.slice().reverse()"
                  :key="item.id"
                  class="orders__item"
                  @click="toDetail(item)"
                >
                  <div class="orders__item-left">
                    <h4>Заказ № {{ item.id }}</h4>
                    <span>{{ item.date }} - {{ $globalFunctions.getStatusString(item.status) }}</span>
                  </div>
                  <span class="orders__item-price">
                    {{ $globalFunctions.getTotalPrice(item.product_order) | splitNumber }} ₸
                  </span>
                </div>
              </div>
            </div>
          </v-stepper-content>
          <v-stepper-content step="2">
            <div class="orders__detail">
              <h4 class="orders__detail-number">
                Заказ №
                {{ orderHistoryDetail.id }}
              </h4>
              <span class="orders__detail-date"
                >{{ orderHistoryDetail.date }} - {{ $globalFunctions.getStatusString(orderHistoryDetail.status) }}</span
              >
              <div class="orders__detail-items">
                <div v-if="orderHistoryDetail.counterparty" class="orders__detail-item">
                  <span>Получатель</span>
                  <h4>
                    {{ orderHistoryDetail.counterparty.name }},
                    {{ orderHistoryDetail.counterparty.phone | maskedNumber }}
                  </h4>
                </div>
                <div class="orders__detail-item">
                  <span>Адрес</span>
                  <h4>
                    {{
                      orderHistoryDetail.delivery_address
                        ? orderHistoryDetail.delivery_address.street + ', ' + orderHistoryDetail.delivery_address.house
                        : 'Не указан'
                    }}
                  </h4>
                </div>
                <div class="orders__detail-item">
                  <span>Оплата</span>
                  <h4>{{ $globalFunctions.getPaymentString(orderHistoryDetail.type_payment) }}</h4>
                </div>
                <div v-if="orderHistoryDetail.type_delivery == 2" class="orders__detail-item">
                  <span>Доставка</span>
                  <h4>Через Yandex</h4>
                </div>
              </div>
              <div class="orders__detail-content">
                <span class="content-title">Содержание заказа</span>
                <div v-for="item in orderHistoryDetail.product_order" :key="item.id" class="content-item">
                  <p>{{ item.count }}х {{ item.product.name }}</p>
                  <span>{{ (item.count * item.product.price) | splitNumber }} ₸</span>
                </div>
                <div class="content-total">
                  <span>Итог:</span>
                  <span v-if="orderHistoryDetail.product_order"
                    >{{ $globalFunctions.getTotalPrice(orderHistoryDetail.product_order) | splitNumber }} ₸</span
                  >
                </div>
              </div>
            </div>
            <button class="form--mobile-btn" style="margin-top: 32px" @click="nextStep(1)">Повторить</button>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </div>
  </div>
</template>

<script>
import Loader from '~/components/shared/LoaderComponent'
export default {
  components: {
    MobileHeader: () => import('@/components/UI/MobileHeader.vue'),
    Loader,
  },
  filters: {
    splitNumber: function (value) {
      return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ' ')
    },
    maskedNumber: function (phone) {
      return phone.replace(/[^0-9]/g, '').replace(/(\d{1})(\d{3})(\d{3})(\d{3})/, '+ $1 ($2) $3-$4')
    },
  },
  data() {
    return {
      loader: false,
      viewWidth: '',
      isMobile: false,
      ordersStepper: 1,
      orderHistory: [],
      orderHistoryDetail: {},
    }
  },
  watch: {
    viewWidth: function (el) {
      if (el < 926) {
        this.isMobile = true
      } else {
        this.isMobile = false
      }
    },
  },
  mounted() {
    this.loader = true
    this.viewWidth = document.documentElement.clientWidth
    window.addEventListener('resize', () => {
      this.viewWidth = document.documentElement.clientWidth
    })
    this.$axios({
      method: 'get',
      url: `${this.$axios.defaults.baseURL}/order/history/`,
      headers: {
        Authorization: `Token ${sessionStorage.getItem('token')}`,
      },
    })
      .then((res) => {
        this.loader = false
        this.orderHistory = res.data
      })
      .catch((err) => {
        this.loader = false
        console.log(err)
      })
  },
  methods: {
    nextStep(val) {
      this.ordersStepper = val
    },
    toDetail(item) {
      this.orderHistoryDetail = Object.assign({}, item)
      this.nextStep(2)
    },
    previousStep() {
      return this.ordersStepper === 1 ? this.$router.go(-1) : this.ordersStepper--
    },
  },
}
</script>

<style lang="scss" scoped>
.orders__items {
  margin-top: 10px;
}
.orders__item {
  display: flex;
  justify-content: space-between;
  margin: 0 2px 16px 2px;
  padding: 16px;
  box-shadow: 0px 0.3px 0.5px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  &-left {
    h4 {
      font-size: 16px;
      margin-bottom: 5px;
    }
    span {
      color: $label;
      font-size: 14px;
    }
  }
  &-price {
    font-size: 16px;
    font-weight: 700;
  }
}
.orders__item:nth-last-child(1) {
  margin: 0 2px 0 2px;
}

.orders__detail {
  margin-top: 15px;
  &-number {
    font-size: 20px;
    font-weight: 600;
    color: $green;
    margin-bottom: 4px;
  }
  &-date {
    color: $label;
    font-size: 14px;
  }
  &-items {
    margin-top: 10px;
  }
  &-item {
    padding: 7px 0;
    border-bottom: 1px solid #ececec;
    span {
      color: $label;
      font-size: 14px;
    }
    h4 {
      font-size: 16px;
    }
  }
  &-content {
    margin-top: 16px;
    .content-title {
      color: $label;
      font-size: 14px;
    }
    .content-item {
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
      span {
        font-size: 16px;
      }
      p {
        font-size: 16px;
        font-weight: 600;
      }
    }
    .content-total {
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
      span {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}
</style>
