<template>
  <div :class="!isMobile ? 'section personalData' : 'section'">
    <MobileHeader :pageTitle="'Личные данные'" :mainPage="false" :btnAction="previousStep" />
    <SuccessModal
      v-if="formModal.success"
      :successMessage="'Данные успешно обновлены!'"
      :btnText="'Понял'"
      @actionSuccessModal="$router.push('/profile')"
    />
    <ErrorModal
      v-if="formModal.error"
      :errorMessage="'Данные неверно указаны!'"
      :btnText="'Попробовать снова'"
      @actionErrorModal="formModal.error = false"
    />
    <div class="container">
      <form class="personalData__form" @submit.prevent="changeDetail">
        <div class="input__wrapper">
          <div v-if="role === 1" class="form--group">
            <label for="fname">ФИО</label>
            <input id="fname" v-model="user.name" type="text" />
            <div id="name" class="form--error">
              <span v-if="!$v.user.name.required && $v.user.name.$dirty">Обязательное поле</span>
            </div>
          </div>
          <div v-else class="form--group">
            <label for="fname">Название организации</label>
            <input id="fname" v-model="organization.name" type="text" />
            <div id="name" class="form--error">
              <span v-if="!$v.organization.name.required && $v.organization.name.$dirty">Обязательное поле</span>
            </div>
          </div>
          <div v-if="role === 2" class="form--group">
            <label for="fname">БИН/ИИН организации</label>
            <input id="fname" v-model="user.bin_iin" type="text" />
            <div id="name" class="form--error">
              <span v-if="!$v.user.bin_iin.required && $v.user.bin_iin.$dirty">Обязательное поле</span>
            </div>
          </div>
          <div v-if="role === 1" class="form--group">
            <label for="phone">Номер телефона</label>
            <the-mask
              id="phone"
              v-model="user.phone"
              :mask="['+#(###)-###-##-##', '+#(###)-###-##-##']"
              type="text"
              required
            />
            <div id="name" class="form--error">
              <span v-if="!$v.user.phone.required && $v.user.phone.$dirty">Обязательное поле</span>
            </div>
          </div>
          <div v-else class="form--group">
            <label for="phone">Номер телефона</label>
            <the-mask
              id="phone"
              v-model="organization.phone"
              :mask="['+#(###)-###-##-##', '+#(###)-###-##-##']"
              type="text"
              required
            />
            <div id="name" class="form--error">
              <span v-if="!$v.organization.phone.required && $v.organization.phone.$dirty">Обязательное поле</span>
            </div>
          </div>
          <div class="form--group">
            <label for="country">Страна</label>
            <input id="country" v-model="user.country" type="text" disabled />
            <div id="name" class="form--error">
              <span v-if="!$v.user.phone.required && $v.user.phone.$dirty">Обязательное поле</span>
            </div>
          </div>
          <div class="form--group">
            <label for="city">Город</label>
            <CustomMobileSelect
              :defaultValue="user.city"
              :modalTitle="'Город'"
              :options="cityOptions"
              @input="citySelected"
            />
            <div id="name" class="form--error">
              <span v-if="!$v.user.phone.required && $v.user.phone.$dirty">Обязательное поле</span>
            </div>
          </div>
        </div>
        <div class="add-btn">
          <button type="submit" class="form--mobile-btn mt-5">Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { required, minLength } from 'vuelidate/lib/validators'
import MobileHeader from '@/components/UI/MobileHeader.vue'
import CustomMobileSelect from '@/components/shared/CustomMobileSelect.vue'
import SuccessModal from '~/components/SuccessModal.vue'
import ErrorModal from '~/components/ErrorModal.vue'
export default {
  components: {
    MobileHeader,
    CustomMobileSelect,
    SuccessModal,
    ErrorModal,
  },
  data() {
    return {
      role: '',
      viewWidth: '',
      isMobile: false,
      user: '',
      organization: '',
      city: '',
      country: '',
      cityOptions: [],
      fetchUserData: {},
      formModal: {
        success: false,
        error: false,
      },
    }
  },
  validations: {
    user: {
      name: {
        required,
      },
      phone: {
        required,
        minLength: minLength(11),
      },
    },
    organization: {
      name: {
        required,
      },
      phone: {
        required,
        minLength: minLength(11),
      },
      bin_iin: {
        required,
      },
    },
  },
  watch: {
    viewWidth: function (el) {
      if (el < 926) {
        this.isMobile = true
      } else {
        this.isMobile = false
      }
    },
  },
  mounted() {
    this.role = JSON.parse(sessionStorage.getItem('userData')).role
    this.$axios({
      method: 'get',
      url: `${this.$axios.defaults.baseURL}/location/country/list/`,
      headers: {
        Authorization: `Token ${sessionStorage.getItem('token')}`,
      },
    }).then((res) => {
      this.cityOptions = res.data.city
    })
    this.$axios({
      method: 'get',
      url: `${this.$axios.defaults.baseURL}/users/detail/${JSON.parse(sessionStorage.getItem('userData')).uid}`,
      headers: {
        Authorization: `Token ${sessionStorage.getItem('token')}`,
      },
    }).then((res) => {
      if (this.role === 1) {
        this.user = {
          name: res.data.name,
          phone: res.data.phone,
          country: res.data.locations.split(',')[0],
          city: res.data.locations.split(',')[1],
        }
      } else {
        this.organization = {
          name: res.data.name,
          bin_iin: res.data.bin_iin,
          phone: res.data.phone,
          country: res.data.locations.split(',')[0],
          city: res.data.locations.split(',')[1],
        }
      }
      this.city = res.data.city
      this.country = res.data.country
    })
    this.viewWidth = document.documentElement.clientWidth
    window.addEventListener('resize', () => {
      this.viewWidth = document.documentElement.clientWidth
    })
  },
  methods: {
    changeDetail() {
      this.$v.user.$touch()
      if (this.$v.user.$error) {
        console.log('error')
      } else {
        const data1 = {
          name: this.user.name,
          country: this.country,
          city: this.fetchUserData.city ? this.fetchUserData.city : this.city,
          role: this.role,
          phone: this.user.phone,
        }
        const data2 = {
          name: this.organization.name,
          country: this.country,
          city: this.fetchUserData.city ? this.fetchUserData.city : this.city,
          bin_iin: this.organization.bin_iin,
          role: this.role,
          phone: this.organization.phone,
        }
        this.$axios({
          method: 'put',
          url: `${this.$axios.defaults.baseURL}/users/detail/${JSON.parse(sessionStorage.getItem('userData')).uid}/`,
          data: this.role === 1 ? data1 : data2,
          headers: {
            Authorization: `Token ${sessionStorage.getItem('token')}`,
          },
        })
          .then(() => {
            this.formModal.success = true
          })
          .catch((err) => {
            this.formModal.error = true
            console.log(err)
          })
      }
    },
    previousStep() {
      return this.$router.go(-1)
    },
    citySelected(e) {
      if (e) {
        this.fetchUserData.city = e.id
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.personalData__form {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
  .form--mobile-input-group {
    margin-bottom: 20px;
  }
}

.add-btn {
  position: fixed;
  left: 0;
  bottom: 66px;
  width: 100%;
  padding: 0 16px;
}
</style>
