<template>
  <div :class="!isMobile ? 'section reset' : 'section'">
    <SuccessModal
      v-if="formModal.success"
      :successMessage="'Пароль успешно обновлен!'"
      :btnText="'Понял'"
      @actionSuccessModal="$router.push('/profile')"
    />
    <ErrorModal
      v-if="formModal.error"
      :errorMessage="'Неверно указан текущий пароль!'"
      :btnText="'Попробовать снова'"
      @actionErrorModal="formModal.error = false"
    />
    <div class="container">
      <MobileHeader v-if="isMobile" :pageTitle="'Изменить пароль'" :mainPage="false" :btnAction="previousStep" />
      <div class="reset__content">
        <div class="resetBreadcrumbs breadcrumbs">
          <nuxt-link class="breadcrumbs__mainPage" tag="span" to="/">Главная страница</nuxt-link>
          <span class="breadcrumbs__break"> / </span>
          <nuxt-link class="breadcrumbs__mainPage" tag="span" to="/profile">Профиль</nuxt-link>
          <span class="breadcrumbs__break"> / </span>
          <span>Изменить пароль</span>
        </div>
        <div class="reset__title section__title">
          <h1>Изменить пароль</h1>
        </div>
        <form class="reset__form" @submit.prevent="fecthResetPassword">
          <div class="input__wrapper">
            <div id="oldpassword" class="form--group">
              <label for="street">Старый пароль</label>
              <input
                id="street"
                v-model="form.oldPassword.value"
                :type="form.oldPassword.show ? 'text' : 'password'"
                class="form--mobile-input"
                required
              />
              <div class="form--password-visible" @click="form.oldPassword.show = !form.oldPassword.show">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12 7C14.76 7 17 9.24 17 12C17 12.65 16.87 13.26 16.64 13.83L19.56 16.75C21.07 15.49 22.26 13.86 22.99 12C21.26 7.61 16.99 4.5 11.99 4.5C10.59 4.5 9.25 4.75 8.01 5.2L10.17 7.36C10.74 7.13 11.35 7 12 7ZM2 4.27L4.28 6.55L4.74 7.01C3.08 8.3 1.78 10.02 1 12C2.73 16.39 7 19.5 12 19.5C13.55 19.5 15.03 19.2 16.38 18.66L16.8 19.08L19.73 22L21 20.73L3.27 3L2 4.27ZM7.53 9.8L9.08 11.35C9.03 11.56 9 11.78 9 12C9 13.66 10.34 15 12 15C12.22 15 12.44 14.97 12.65 14.92L14.2 16.47C13.53 16.8 12.79 17 12 17C9.24 17 7 14.76 7 12C7 11.21 7.2 10.47 7.53 9.8ZM11.84 9.02L14.99 12.17L15.01 12.01C15.01 10.35 13.67 9.01 12.01 9.01L11.84 9.02Z"
                    fill="#9B9B9B"
                  />
                </svg>
              </div>
              <div id="oldpassword" class="form--error">
                <span v-if="!$v.form.oldPassword.value.required && $v.form.oldPassword.value.$dirty"
                  >Обязательное поле</span
                >
              </div>
            </div>
            <div id="newpassword" class="form--group">
              <label for="home">Новый пароль</label>
              <input
                id="home"
                v-model="form.password.value"
                :type="form.password.show ? 'text' : 'password'"
                class="form--mobile-input"
                required
              />
              <div class="form--password-visible" @click="form.password.show = !form.password.show">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12 7C14.76 7 17 9.24 17 12C17 12.65 16.87 13.26 16.64 13.83L19.56 16.75C21.07 15.49 22.26 13.86 22.99 12C21.26 7.61 16.99 4.5 11.99 4.5C10.59 4.5 9.25 4.75 8.01 5.2L10.17 7.36C10.74 7.13 11.35 7 12 7ZM2 4.27L4.28 6.55L4.74 7.01C3.08 8.3 1.78 10.02 1 12C2.73 16.39 7 19.5 12 19.5C13.55 19.5 15.03 19.2 16.38 18.66L16.8 19.08L19.73 22L21 20.73L3.27 3L2 4.27ZM7.53 9.8L9.08 11.35C9.03 11.56 9 11.78 9 12C9 13.66 10.34 15 12 15C12.22 15 12.44 14.97 12.65 14.92L14.2 16.47C13.53 16.8 12.79 17 12 17C9.24 17 7 14.76 7 12C7 11.21 7.2 10.47 7.53 9.8ZM11.84 9.02L14.99 12.17L15.01 12.01C15.01 10.35 13.67 9.01 12.01 9.01L11.84 9.02Z"
                    fill="#9B9B9B"
                  />
                </svg>
              </div>
              <div id="newpassword" class="form--error">
                <span v-if="!$v.form.password.value.required && $v.form.password.value.$dirty">Обязательное поле</span>
                <span v-else-if="!$v.form.password.value.minLength && $v.form.password.value.$dirty"
                  >Длина пароля должна быть от 8 до 30 символов</span
                >
              </div>
            </div>
            <div id="confrimpassword" class="form--group">
              <label for="apartment">Повторите пароль</label>
              <input
                id="apartment"
                v-model="form.confrim.value"
                :type="form.confrim.show ? 'text' : 'password'"
                class="form--mobile-input"
                required
              />
              <div class="form--password-visible" @click="form.confrim.show = !form.confrim.show">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12 7C14.76 7 17 9.24 17 12C17 12.65 16.87 13.26 16.64 13.83L19.56 16.75C21.07 15.49 22.26 13.86 22.99 12C21.26 7.61 16.99 4.5 11.99 4.5C10.59 4.5 9.25 4.75 8.01 5.2L10.17 7.36C10.74 7.13 11.35 7 12 7ZM2 4.27L4.28 6.55L4.74 7.01C3.08 8.3 1.78 10.02 1 12C2.73 16.39 7 19.5 12 19.5C13.55 19.5 15.03 19.2 16.38 18.66L16.8 19.08L19.73 22L21 20.73L3.27 3L2 4.27ZM7.53 9.8L9.08 11.35C9.03 11.56 9 11.78 9 12C9 13.66 10.34 15 12 15C12.22 15 12.44 14.97 12.65 14.92L14.2 16.47C13.53 16.8 12.79 17 12 17C9.24 17 7 14.76 7 12C7 11.21 7.2 10.47 7.53 9.8ZM11.84 9.02L14.99 12.17L15.01 12.01C15.01 10.35 13.67 9.01 12.01 9.01L11.84 9.02Z"
                    fill="#9B9B9B"
                  />
                </svg>
              </div>
              <div id="confrimpassword" class="form--error">
                <span v-if="!$v.form.confrim.value.required && $v.form.confrim.value.$dirty">Обязательное поле</span>
                <span v-else-if="!$v.form.confrim.value.minLength && $v.form.confrim.value.$dirty"
                  >Длина пароля должна быть от 8 до 30 символов</span
                >
                <span v-else-if="!$v.form.confrim.value.sameAs && $v.form.confrim.value.$dirty"
                  >Пароли должны совподать</span
                >
              </div>
            </div>
          </div>
          <div class="add-btn">
            <button class="form--mobile-btn">Сохранить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength, sameAs } from 'vuelidate/lib/validators'
import SuccessModal from '~/components/SuccessModal.vue'
import ErrorModal from '~/components/ErrorModal.vue'
export default {
  components: {
    MobileHeader: () => import('@/components/UI/MobileHeader.vue'),
    SuccessModal,
    ErrorModal,
  },
  data() {
    return {
      viewWidth: '',
      isMobile: false,
      formModal: {
        success: false,
        error: false,
      },
      form: {
        oldPassword: {
          value: '',
          show: false,
        },
        password: {
          value: '',
          show: false,
        },
        confrim: {
          value: '',
          show: false,
        },
      },
    }
  },
  validations: {
    form: {
      oldPassword: {
        value: {
          required,
        },
      },
      password: {
        value: {
          required,
          minLength: minLength(8),
        },
      },
      confrim: {
        value: {
          required,
          minLength: minLength(8),
          sameAs: sameAs(function () {
            return this.form.password.value
          }),
        },
      },
    },
  },
  watch: {
    viewWidth: function (el) {
      if (el < 926) {
        this.isMobile = true
      } else {
        this.isMobile = false
      }
    },
  },
  mounted() {
    this.viewWidth = document.documentElement.clientWidth
    window.addEventListener('resize', () => {
      this.viewWidth = document.documentElement.clientWidth
    })
  },
  methods: {
    fecthResetPassword() {
      this.$v.form.$touch()
      if (this.$v.form.$error) {
        console.log('error')
      } else {
        this.$axios({
          method: 'post',
          url: `${this.$axios.defaults.baseURL}/users/password/change/`,
          data: {
            old_password: this.form.oldPassword.value,
            new_password: this.form.password.value,
          },
          headers: {
            Authorization: `Token ${sessionStorage.getItem('token')}`,
          },
        })
          .then((res) => {
            if (res.data.status === 'ok') {
              this.formModal.success = true
            } else {
              this.formModal.error = true
            }
          })
          .catch((err) => {
            console.log(err)
          })
      }
    },
    closeSuccessModal() {
      this.$router.push('/profile')
      this.formModal.success = !this.formModal.success
    },
    closeErrorModal() {
      this.formModal.error = !this.formModal.error
    },
    previousStep() {
      return this.$router.go(-1)
    },
  },
}
</script>

<style lang="scss" scoped>
.resetBreadcrumbs {
  @include responsive(mobile) {
    display: none;
  }
}
.reset__title {
  @include responsive(mobile) {
    display: none;
  }
}
.reset__form {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
  @include responsive(extra) {
    max-width: 600px;
    margin: 0 auto;
  }
  .form--mobile-input-group {
    margin-bottom: 20px;
  }
}
.form--error {
  span {
    font-size: 12px;
    color: red;
  }
}
.modal-body {
  display: flex;
  justify-content: center;
  width: 100%;
  span {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
  }
}

.add-btn {
  @include responsive(mobile) {
    position: fixed;
    left: 0;
    bottom: 66px;
    width: 100%;
    padding: 0 16px;
  }
  @include responsive(extra) {
    margin-top: 30px;
  }
}
</style>
