<template>
  <v-app>
    <div class="general-container">
      <template v-if="$device.isMobile">
        <nuxt class="content" />
        <client-only>
          <MobileTabBar v-if="$route.path !== '/auth/register'" class="footer" />
        </client-only>
      </template>
      <template v-if="$device.isDesktop">
        <client-only>
          <Header class="header" />
        </client-only>
        <nuxt class="content" />
        <client-only>
          <Footer class="footer" />
        </client-only>
      </template>
    </div>
  </v-app>
</template>

<script>
export default {
  components: {
    MobileTabBar: () => import('@/components/UI/MobileTabBar.vue'),
    Header: () => import('@/components/UI/Header.vue'),
    Footer: () => import('@/components/UI/Footer.vue'),
  },
  data() {
    return {}
  },
  computed: {
    productsInCart() {
      return this.$store.getters['cartModule/productsInCart']
    },
    productsIdInCart() {
      return this.$store.getters['cartModule/productsIdInCart']
    },
  },
  created() {
    if (process.browser && sessionStorage.getItem('token')) {
      this.$store.commit('authModule/setToken', sessionStorage.getItem('token'))
    }
  },
  mounted() {
    if (JSON.parse(sessionStorage.getItem('userData'))) {
      this.$store.dispatch('authModule/login', JSON.parse(sessionStorage.getItem('userData')))
    }
    if (JSON.parse(sessionStorage.getItem('cart'))) {
      this.$store.dispatch('cartModule/assignCart', JSON.parse(sessionStorage.getItem('cart')))
      this.$store.dispatch('cartModule/assignCartIds', JSON.parse(sessionStorage.getItem('cartIds')))
    }
  },
  updated() {
    sessionStorage.setItem('cart', JSON.stringify(this.productsInCart))
    sessionStorage.setItem('cartIds', JSON.stringify(this.productsIdInCart))
  },
  destroyed() {
    sessionStorage.setItem('cart', JSON.stringify(this.productsInCart))
    sessionStorage.setItem('cartIds', JSON.stringify(this.productsIdInCart))
  },
}
</script>

<style lang="scss">
.general-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  flex: 0 0 auto;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.v-application ul,
.v-application ol {
  padding-left: 0;
}
.v-application .red {
  background: none !important;
  border-color: none !important;
}
</style>
