<template>
  <div>
    <MobileHeader v-if="$device.isMobile" :pageTitle="'Главная'" :mainPage="true" />
    <Loader v-if="loader" />
    <div class="desktop">
      <section class="main">
        <div class="container">
          <div class="main__wrapper">
            <div class="main__content">
              <h1 class="main__title">Крупнейший дистрибьютор снековой продукции по всему Казахстану</h1>
              <button
                :class="$device.isMobile ? 'form--mobile-btn main__btn' : 'main__btn btn'"
                style="max-width: 250px"
                @click.prevent="$router.push('/catalog')"
              >
                Заказать сейчас
              </button>
            </div>
          </div>
        </div>
      </section>
      <section class="catalog section">
        <div class="container">
          <div class="catalog__wrapper">
            <div class="catalog__title title__wrapper">
              <h2 class="title">Каталог продукции</h2>
            </div>
            <div class="catalog__list">
              <div class="catalog__item-wrapper">
                <div class="catalog__item catalog-item1">
                  <nuxt-link to="/catalog">Снековая продукция</nuxt-link>
                </div>
              </div>
              <div class="catalog__item-wrapper">
                <div class="catalog__item catalog-item2">
                  <nuxt-link to="/catalog">Рыбная продукция</nuxt-link>
                </div>
              </div>
              <div class="catalog__item-wrapper">
                <div class="catalog__item catalog-item3">
                  <nuxt-link to="/catalog">Сырная продукция</nuxt-link>
                </div>
              </div>
              <div class="catalog__item-wrapper">
                <div class="catalog__item catalog-item4">
                  <nuxt-link to="/catalog">Мясная продукция</nuxt-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="hits section">
        <div class="container">
          <div class="hits__wrapper">
            <div class="to-store">
              <nuxt-link to="/catalog">Перейти в магазин</nuxt-link>
            </div>
            <div class="hits__title title__wrapper">
              <h2 class="title">Хиты продаж</h2>
            </div>
            <div class="hits__list">
              <div v-for="item in hitProducts" :key="item.id" class="hits__item">
                <div class="hist__item-wrapper">
                  <div class="hits__item-image">
                    <img src="@/assets/images/hits1.png" alt="item" />
                  </div>
                  <div class="hits__item-content">
                    <div>
                      <h4>{{ item.name }}</h4>
                      <p>{{ item.description }}</p>
                    </div>
                    <div class="hits__price">
                      <h4>{{ item.price | splitNumber }} тг</h4>
                      <span>{{ item.status ? 'В наличии' : 'Нет в наличии' }}</span>
                    </div>
                    <div class="hits__mobileBtn-wrapper">
                      <button
                        v-if="!productsIdInCart.includes(item.id)"
                        class="form--mobile-btn"
                        @click.stop="addToCart(item)"
                      >
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M2.4516 2.45243L2.31607 2.16671H1.99984H1.33317C1.24265 2.16671 1.1665 2.09057 1.1665 2.00004C1.1665 1.90952 1.24265 1.83337 1.33317 1.83337H2.4265C2.49293 1.83337 2.55004 1.87374 2.57177 1.92125L2.57175 1.92126L2.57374 1.92551L3.0204 2.87884L3.15528 3.16671H3.47317H13.3398C13.4655 3.16671 13.543 3.30314 13.4837 3.40887L13.482 3.41187L11.0954 7.73854L11.0948 7.73962C10.9544 7.9956 10.6809 8.16671 10.3665 8.16671H5.39984H5.1042L4.96173 8.42575L4.2284 9.75908L3.90822 10.3412C3.8067 10.1159 3.8025 9.84394 3.9382 9.59387C3.93844 9.59344 3.93867 9.593 3.93891 9.59257L4.83734 7.96877L4.96155 7.74426L4.8516 7.51243L2.4516 2.45243ZM4.6665 10.8334C4.38606 10.8334 4.15 10.699 4.00169 10.5H4.6665H11.9998C12.0904 10.5 12.1665 10.5762 12.1665 10.6667C12.1665 10.7572 12.0904 10.8334 11.9998 10.8334H4.6665ZM3.83984 13.3334C3.83984 12.8729 4.21257 12.5 4.6665 12.5C5.12369 12.5 5.49984 12.8762 5.49984 13.3334C5.49984 13.7906 5.12369 14.1667 4.6665 14.1667C4.21257 14.1667 3.83984 13.7938 3.83984 13.3334ZM10.5065 13.3334C10.5065 12.8729 10.8792 12.5 11.3332 12.5C11.7904 12.5 12.1665 12.8762 12.1665 13.3334C12.1665 13.7906 11.7904 14.1667 11.3332 14.1667C10.8792 14.1667 10.5065 13.7938 10.5065 13.3334Z"
                            stroke="white"
                          />
                        </svg>
                        В корзину
                      </button>
                      <button v-else class="form--mobile-btn cart-delete--btn" @click.stop="addToCart(item)">
                        Удалить
                      </button>
                    </div>
                  </div>
                  <div class="hits__item-countBtn">
                    <button class="minus" @click="countDown(item)" :disabled="checkProductsIdInCart(item)">
                      <img src="@/assets/images/icons/minus.svg" alt="minus" />
                    </button>
                    <span>{{ item.product_count }} шт</span>
                    <button class="plus" @click="countUp(item)" :disabled="checkProductsIdInCart(item)">
                      <img src="@/assets/images/icons/plus.svg" alt="plus" />
                    </button>
                  </div>
                  <div class="hits__item-btn">
                    <button
                      v-if="!productsIdInCart.includes(item.id)"
                      class="btn hits-btn"
                      @click.stop="addToCart(item)"
                    >
                      В корзину
                    </button>
                    <button v-else class="btn-outline hits-btn" @click.stop="addToCart(item)">
                      Удалить из корзины
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section whyWe">
        <div class="container">
          <div class="whyWe__title">
            <h2 class="title">Почему стоит выбрать нас?</h2>
          </div>
          <div class="whyWe__content">
            <div class="whyWe__list">
              <div class="whyWe__item">
                <div class="whyWe__item-wrapper">
                  <div class="whyWe__item-title">
                    <h4>Качество</h4>
                  </div>
                  <p class="whyWe__item-desc">
                    Вся продукция имеет сертификаты, отвечает санитарным нормам и соответствует требованиям
                    экологической безопасности.
                  </p>
                </div>
              </div>
              <div class="whyWe__item">
                <div class="whyWe__item-wrapper">
                  <div class="whyWe__item-title">
                    <h4>Быстрая доставка</h4>
                  </div>
                  <p class="whyWe__item-desc">
                    Компания предоставляет сервис быстрой доставки на любую точку города Алматы, обеспечивая целостности
                    продуктов
                  </p>
                </div>
              </div>
              <div class="whyWe__item">
                <div class="whyWe__item-wrapper">
                  <div class="whyWe__item-title">
                    <h4>Опытная команда</h4>
                  </div>
                  <p class="whyWe__item-desc">
                    Все сотрудники компаний квалифицированные и ответственные, которые досконально знают отечественный и
                    зарубежный рынок продуктов питания.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section order">
        <div class="container">
          <div class="order__title">
            <h2 class="title">Сделать заказ очень просто</h2>
          </div>
          <div class="order__content">
            <div class="order__list">
              <div class="order__item">
                <div class="order__item-wrapper">
                  <img src="@/assets/images/icons/register.svg" alt="register" />
                  <div class="order__item-content">
                    <h4>Регистрация</h4>
                    <p>Зарегистрируйтесь на сайте или в нашем мобильном приложении</p>
                  </div>
                </div>
              </div>

              <div class="order__item">
                <div class="order__item-wrapper">
                  <img src="@/assets/images/icons/message.svg" alt="register" />
                  <div class="order__item-content">
                    <h4>Потверждение почты</h4>
                    <p>На указанный электронный адрес ожидать ссылку для подтверждения почты</p>
                  </div>
                </div>
              </div>

              <div class="order__item">
                <div class="order__item-wrapper">
                  <img src="@/assets/images/icons/order.svg" alt="register" />
                  <div class="order__item-content">
                    <h4>Оформление заказа</h4>
                    <p>Выбирайте товары, наполняйте корзину и оформляйте заказы</p>
                  </div>
                </div>
              </div>

              <div class="order__item">
                <div class="order__item-wrapper">
                  <img src="@/assets/images/icons/payment.svg" alt="register" />
                  <div class="order__item-content">
                    <h4>Оплата</h4>
                    <p>Оплату нужно произвести онлайн через Kaspi.kz или другой банковской картой</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section mobileApp">
        <img class="bg-image" src="@/assets/images/Intersect.svg" alt="Intersect" />
        <div class="container">
          <div class="mobileApp__wrapper">
            <div class="mobileApp__image">
              <img src="@/assets/images/galleon_mobile1.png" alt="galleon_mobile1" />
              <img src="@/assets/images/galleon_mobile2.png" alt="galleon_mobile2" />
            </div>
            <div class="mobileApp__content">
              <h2 class="mobileApp__title title">Galleon в твоем мобильном</h2>
              <p class="mobileApp__desc">
                Скачайте мобильное приложение для iOS или Android в зависимости от ОС Вашего мобильного устройства
              </p>
              <div class="mobileApp__downloadBtns">
                <button class="ios-btn">
                  <img src="@/assets/images/ios.png" alt="ios" />
                </button>
                <button class="android-btn">
                  <img src="@/assets/images/google_play.png" alt="google_play" />
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section questions">
        <div class="container">
          <div class="questions__wrapper">
            <div class="questions__title">
              <h2 class="title">Часто задаваемые вопросы?</h2>
            </div>
            <div class="questions__content">
              <div
                v-for="item in questions"
                :key="item.title"
                class="questions__item"
                @click="item.isOpen = !item.isOpen"
              >
                <div class="questions__item-title">
                  <h4>{{ item.title }}</h4>
                  <template v-if="item.isOpen">
                    <img src="@/assets/images/icons/minus.svg" alt="minus" />
                  </template>
                  <template v-else>
                    <img src="@/assets/images/icons/plus.svg" alt="plus" />
                  </template>
                </div>
                <div class="questions__item-desc" :class="item.isOpen ? 'open' : ''">
                  <p>{{ item.answer }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section help">
        <div class="container">
          <div class="help__wrapper">
            <div class="help__title">
              <h2 class="help__title title">Нужна консультация?</h2>
              <p class="help__desc">Заполните заявку, и наш специалист перезвонит вам!</p>
            </div>
            <form class="help__form" @submit.prevent="sendRequest">
              <div id="name" class="form--group">
                <input
                  v-model="$v.form.name.$model"
                  type="text"
                  placeholder="Ваше имя"
                  class="form--input"
                  :class="{ 'form-group--error': $v.form.name.$error }"
                />
              </div>
              <div id="name" class="form--error">
                <span v-if="!$v.form.name.required && $v.form.name.$dirty">Обязательное поле</span>
              </div>

              <div id="phone" class="form--group">
                <input
                  v-model="$v.form.phone.$model"
                  type="text"
                  placeholder="+7(700)-000-00-00"
                  class="form--input"
                  :class="{ 'form-group--error': $v.form.phone.$error }"
                />
              </div>
              <div id="phone" class="form--error">
                <span v-if="!$v.form.phone.required && $v.form.phone.$dirty">Обязательное поле</span>
              </div>

              <div id="message" class="form--group">
                <textarea
                  v-model="$v.form.message.$model"
                  placeholder="Сообщение"
                  class="form--input"
                  :class="{ 'form-group--error': $v.form.message.$error }"
                ></textarea>
              </div>
              <div id="message" class="form--error">
                <span v-if="!$v.form.message.required && $v.form.message.$dirty">Обязательное поле</span>
              </div>

              <div class="form--group">
                <button type="submit" class="form--btn">Отправить заявку</button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import faq from '~/components/jsonData/faq.json'
export default {
  components: {
    MobileHeader: () => import('@/components/UI/MobileHeader.vue'),
    Loader: () => import('~/components/shared/LoaderComponent'),
  },
  filters: {
    splitNumber: function (value) {
      return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ' ')
    },
  },
  data() {
    return {
      loader: false,
      form: {
        name: '',
        phone: '',
        message: '',
      },
      questions: faq,
      hitProducts: [],
      productsInCartId: [],
    }
  },
  validations: {
    form: {
      name: {
        required,
      },
      phone: {
        required,
      },
      message: {
        required,
      },
    },
  },
  computed: {
    productsInCart() {
      return this.$store.getters['cartModule/productsInCart']
    },
    productsIdInCart() {
      return this.$store.getters['cartModule/productsIdInCart']
    },
  },
  created() {
    this.loader = true
  },
  mounted() {
    this.$axios({
      method: 'get',
      url: `${this.$axios.defaults.baseURL}/product/hits/`,
    })
      .then((res) => {
        this.loader = false
        res.data.forEach((el) => {
          this.hitProducts.push(Object.assign({}, el, (el.product_count = 1)))
        })
        console.log(res)
      })
      .catch((err) => {
        this.loader = false
        console.log(err)
      })
  },
  methods: {
    countUp(item) {
      this.hitProducts.forEach((element) => {
        if (element.id === item.id) {
          element.product_count++
        }
      })
    },
    countDown(item) {
      this.hitProducts.forEach((element) => {
        if (element.id === item.id && element.product_count > 1) {
          element.product_count--
        }
      })
    },
    addToCart(item) {
      const obj = {
        ...item,
        totalPrice: item.price,
      }
      if (this.productsInCart.find((f) => f.id === item.id) === undefined) {
        this.$store.dispatch('cartModule/addToCart', obj)
      } else {
        this.$store.dispatch('cartModule/deleteFromCart', obj)
        this.productsInCartId = this.productsInCartId.filter((c) => c !== item.id)
      }
    },
    sendRequest() {
      this.$v.form.$touch()
      if (this.$v.form.$error) {
        console.log('Error')
      } else {
        console.log('Success')
      }
    },
    checkProductsIdInCart(card) {
      if (this.productsInCart.find((f) => f.id === card.id) === undefined) {
        return false
      } else return true
    },
  },
}
</script>

<style lang="scss" scoped>
.main {
  background-image: url('~/assets/images/banner1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 540px;
  width: 100%;
  @include responsive(mobile) {
    margin-top: 55px;
    max-height: 370px;
  }
}

.main__wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.main__content {
  max-width: 425px;
}

.main__title {
  font-size: 28px;
  font-weight: 600;
  color: $white;
  line-height: 142%;
  margin-bottom: 30px;
}

// Catalog Section
.catalog__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  width: 100%;
  margin-top: 56px;
  @include responsive(mobile) {
    margin-top: 16px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
.catalog__item-wrapper {
  height: 220px;
  @include responsive(mobile) {
    height: 160px;
  }
}
.catalog__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  a {
    display: inline-block;
    color: $white;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    height: 100%;
    line-height: 220px;
    text-align: center;
    @include responsive(mobile) {
      line-height: 160px;
    }
  }
}

.catalog-item1 {
  background-image: url('~/assets/images/photo1.png');
}
.catalog-item2 {
  background-image: url('~/assets/images/photo2.png');
}
.catalog-item3 {
  background-image: url('~/assets/images/photo3.png');
}
.catalog-item4 {
  background-image: url('~/assets/images/photo4.png');
}

// Hits section
.hits__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.to-store {
  @include responsive(mobile) {
    display: none;
  }
  position: absolute;
  top: 15px;
  right: 0;
  border-bottom: 1px solid $gold;
  a {
    color: $gold;
    font-size: 16px;
  }
}

.hits__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 32px 32px;
  width: 100%;
  margin-top: 56px;
  @include responsive(mobile) {
    grid-gap: 16px;
    margin-top: 16px;
  }
}

.hits__item {
  @include responsive(extra) {
    min-height: 550px;
  }
}

.hist__item-wrapper {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 24px 16px;
  height: 100%;
  @include responsive(mobile) {
    flex-direction: row;
    padding: 16px 16px;
  }
}

.hits__item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  @include responsive(mobile) {
    margin-right: 12px;
    img {
      max-width: 100px;
      max-height: 100px;
    }
  }
}

.hits__mobileBtn-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  @include responsive(extra) {
    display: none;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    height: 36px;
    font-size: 14px;
    max-width: 150px;
    svg {
      margin-right: 5px;
    }
  }
}

.hits__item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include responsive(extra) {
    flex: 1 0 auto;
  }
  width: 100%;
  h4 {
    font-size: 18px;
    font-weight: 700;
    color: $off-black;
    margin-bottom: 10px;
  }
  p {
    font-size: 14px;
    color: #8a8a8a;
    margin-bottom: 12px;
  }
  .hits__price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    @include responsive(mobile) {
      margin-bottom: 12px;
    }
    h4 {
      color: $off-black;
      font-size: 20px;
      font-weight: 700;
      margin: 0;
    }
    span {
      @include responsive(mobile) {
        display: none;
      }
      color: #8a8a8a;
      font-size: 14px;
    }
  }
}

.hits__item-countBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e3e1e1;
  border-radius: 4px;
  width: 100%;
  height: 48px;
  margin-bottom: 16px;
  .minus {
    flex: 0 0 80px;
    background: none;
    border-right: 1px solid #e3e1e1;
    height: 100%;
    &:disabled {
      background: #ececec;
      color: grey;
      cursor: not-allowed;
    }
  }
  .plus {
    flex: 0 0 80px;
    background: none;
    border-left: 1px solid #e3e1e1;
    height: 100%;
    &:disabled {
      background: #ececec;
      color: grey;
      cursor: not-allowed;
    }
  }
  span {
    flex: 1 1 0;
    text-align: center;
  }
  @include responsive(mobile) {
    display: none;
  }
}

.hits__item-btn {
  @include responsive(mobile) {
    display: none;
  }
}

.hits-btn {
  border-radius: 4px !important;
  width: 100%;
  flex: 1 0 auto;
}

// Why we section
.whyWe {
  background: url('~/assets/images/whyWe.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 446px;
  margin-top: 40px;
  padding: 80px 0 0 0;
  @include responsive(mobile) {
    background-position: bottom;
    height: 100%;
    padding: 56px 0;
  }
}
.whyWe__title {
  display: flex;
  justify-content: center;
  @include responsive(mobile) {
    justify-content: flex-start;
  }
  h2 {
    color: $white;
  }
}

.whyWe__list {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  @include responsive(mobile) {
    flex-direction: column;
    margin-top: 25px;
  }
}
.whyWe__item-title {
  position: relative;
  padding-bottom: 8px;
  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 70%;
    height: 2px;
    background: $gold;
  }
  h4 {
    color: $white;
    font-size: 24px;
    font-weight: 500;
  }
}
.whyWe__item {
  @include responsive(mobile) {
    margin-top: 24px;
    &:nth-child(1) {
      margin-top: 0;
    }
  }
}
.whyWe__item-desc {
  color: #f9f9f9;
  font-size: 16px;
  margin-top: 8px;
}

// Order section
.order {
  background: #e5e5e5;
}

.order__title {
  display: flex;
  justify-content: center;
  @include responsive(mobile) {
    justify-content: flex-start;
  }
}

.order__content {
  margin-top: 56px;
  @include responsive(mobile) {
    margin-top: 24px;
  }
}

.order__list {
  display: flex;
  justify-content: space-between;
  @include responsive(mobile) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.order__item {
  height: 205px;
  @include responsive(mobile) {
    height: 100%;
    padding: 15px 0;
  }
}

.order__item:nth-child(odd) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  @include responsive(mobile) {
    justify-content: flex-start;
  }
}

.order__item:nth-child(2) {
  position: relative;
}

.order__item:nth-child(odd)::after {
  position: absolute;
  right: -100px;
  content: '';
  background: url('~/assets/images/icons/arrow1.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50px;
  width: 100px;
  @include responsive(mobile) {
    display: none;
  }
}

.order__item:nth-child(2)::after {
  position: absolute;
  right: -100px;
  top: 0;
  content: '';
  background: url('~/assets/images/icons/arrow2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 84px;
  width: 114px;
  @include responsive(mobile) {
    display: none;
  }
}

.order__item-wrapper {
  display: flex;
  align-items: center;
  img {
    flex: 0 0 90px;
    width: 80px;
    height: 80px;
  }
  .order__item-content {
    margin-left: 12px;
    h4 {
      margin-bottom: 8px;
      font-size: 18px;
      font-weight: 700;
      color: #3a3a3c;
    }
    p {
      font-size: 16px;
      color: #464646;
    }
  }
}

// mobileApp Section
.mobileApp {
  position: relative;
}
.bg-image {
  position: absolute;
  right: 0;
  z-index: -1;
  @include responsive(mobile) {
    display: none;
  }
}

.mobileApp__wrapper {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-column-gap: 40px;
  @include responsive(mobile) {
    display: flex;
    flex-direction: column;
  }
}

.mobileApp__image {
  display: flex;
  img {
    width: 296px;
    height: 394px;
  }
  @include responsive(mobile) {
    justify-content: center;
    img {
      max-width: 150px;
      height: auto;
    }
  }
}

.mobileApp__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobileApp__title {
  color: #1d1d1d;
  margin-bottom: 24px;
}

.mobileApp__desc {
  font-size: 18px;
  color: #1d1d1d;
  margin-bottom: 40px;
}

.mobileApp__downloadBtns {
  display: flex;
  align-items: center;
}

.ios-btn,
.android-btn {
  img {
    max-width: 252px;
    max-height: 72px;
    @include responsive(mobile) {
      max-width: 100%;
    }
  }
}

.ios-btn {
  margin-right: 40px;
  @include responsive(mobile) {
    margin-right: 16px;
  }
}

// Questions section
.questions {
  background: #e5e5e5;
}
.questions__title {
  display: flex;
  justify-content: center;
  @include responsive(mobile) {
    justify-content: flex-start;
  }
}

.questions__item {
  border-bottom: 1px solid #e4e4e4;
  padding: 24px 0;
  cursor: pointer;
}

.questions__item-title {
  display: flex;
  justify-content: space-between;
  h4 {
    font-size: 20px;
    font-weight: 600;
  }
}

.questions__item-desc {
  margin-top: 16px;
  padding-right: 50px;
  display: none;
  p {
    font-size: 16px;
    color: #474747;
  }
}

.questions__item-desc.open {
  display: block !important;
}

// Help Sections
.help {
  padding-bottom: 105px;
}

.help__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 624px;
  margin: 0 auto;
}

.help__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help__desc {
  margin-top: 16px;
  font-size: 20px;
  color: $light-grey;
}
</style>
